@import '../variables';

.submit-btn {
  margin-top: $medex-spacing-sm;
  font-size: $default-font-size;
  background-color: $nhs-green;
  color: $white;
  padding: $medex-spacing-sm $medex-spacing-sm;
  border: 2px solid transparent;
  border-radius: 4px;
}

.submit-btn--disabled {
  opacity: .5;
  pointer-events: none;
}

.primary-btn {
  margin-top: $medex-spacing-sm;
  margin-bottom: $medex-spacing-md;
  font-size: $default-font-size;
  background-color: $nhs-green;
  color: $white;
  padding: $medex-spacing-sm $medex-spacing-lg;
  border: 2px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.add-another {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: $default-font-size;
  background-color: $nhs-grey;
  color: $white;
  padding: $medex-spacing-sm $medex-spacing-lg;
  border: 2px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}
