.submit-btn {
  margin-top: 20px;
  font-size: 24px;
  background-color: #00823b;
  color: #FFFFFF;
  padding: 5px 10px;
  box-shadow: 0 2px 0 #003618;
  border: 2px solid transparent;
  border-radius: 0;
}