@import '../variables';

#cookie-message {
  width: 100%;
  padding-top: $medex-spacing-sm;
  padding-bottom: $medex-spacing-sm;
  background-color: $white;
  font-size: 1rem;
  line-height: 1.5;
}

.js_enabled #cookie-message {
    display: none;
}