@import '../variables';

.form {
  margin-top: 3.5rem;

  .form-row {
    margin-bottom: 0.66em;

    .form-field {
      font-size: $default-font-size;
      color: $primary-font-color;
      border: 1.5px solid $black;
      padding: 0.33em 0.5em;
      margin-right: 10px;

      &::placeholder {
        color: $nhs-light-grey;
      }
    }
  }

  &.error {
    margin-top: 1rem;
    .form-row {
      .form-field {
        border: 1.5px solid $error-border !important;
      }
    }

    &::placeholder {
      color: $error-color !important;
    }
  }
}

.medex-textarea {
  width: 100%;
}

.medex-input {
  &:disabled {
    background-color: $nhs_disabled-background;
    border-color: $nhs_disabled-border;
  }
}

.medex-hidden {
  display: none;
}

.medex-hyperlink-button {
  background:none!important;
   color:$nhs-blue;
   border:none;
   padding:0!important;
   font: inherit;
    font-size: $nhs-body-s-size;
   /*border is optional*/
   border-bottom:1px solid #444;
   cursor: pointer;
}

.hospital-number {
  &__list-item {
    margin-bottom: 1rem;
  }
}

.medex-text-checkbox-group {
  &__textbox {
    margin-bottom: .5rem;
  }
}
