{% load staticfiles %}
{% with filter=filter_obj.filter label=filter_obj.label %}
<a role="radio" href="{{ base_url }}status={{ filter }}" type="submit" name="{{ filter }}" {% if active_filter == filter %}aria-current{% endif %} class="filters-status-item {% if active_filter == filter %}filters-status-item--active{% endif %}" automation-id="filter-{{ filter }}">
    <div class="nhsuk-grid-row">
        <div class="filters-status-item__count">{{ count }}</div>
        <div class="mobile-hidden filters-status-item__icon filters-status-item__icon--{{ icon }}"></div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="filters-status-item__label">{{ label }}</div>
        </div>
    </div>
</a>
{%  endwith %}