{% load staticfiles %}

<div id="filter-block" class="filters-block">
  <form id="index-filters-form" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <p>
      Filter cases by place and person
    </p>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <select class="nhsuk-select" id="filter-location" name="location" value="{{ form.location }}">
          <option value="" disabled hidden selected>Select a location</option>
          {% for location in filter_locations %}
            <option value={{ location.location_id }} {% if location.location_id == form.location %}selected{% endif %}>
              {{ location.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <select class="nhsuk-select" id="filter-person" name="person" value="{{ form.person }}"
          {% if not filter_people %}disabled{% endif %}>
          <option value="" disabled hidden selected>Select a person</option>
          {% if filter_people %}
            {% for person in filter_people %}
              <option value={{ person.person_id }} {% if person.person_id == form.person %}selected{% endif %}>
                {{ person.name }}
              </option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  </form>

  {% if not closed_list %}
    <img style="width:100%;" class='logo__icon' src="{% static 'images/placeholder_MEO_filters.png' %}" alt="">
  {% endif %}
</div>