{% load staticfiles %}

<div id="filter-block" class="filters-block">
{% if closed_list %}
    <form id="index-filters-form" action="{% url 'closed_examination_index' %}" method="get">
{% else %}
  <form id="index-filters-form" action="{% url 'index' %}" method="get">
{% endif %}
    <input value="{{session_user.index_overview.page_number}}" name="page_number" hidden />

    <p>
      Filter cases by place and person
    </p>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <select class="nhsuk-select" id="filter-location" name="location" value="{{ form.location }}">
          <option value="all">All</option>
          {% for location in session_user.index_overview.filter_locations %}
            <option value={{ location.location_id }} {% if location.location_id == form.location %}selected{% endif %}>
              {{ location.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <select class="nhsuk-select" id="filter-person" name="person" value="{{ form.person }}">
          <option value="all">All</option>
          {% for person in session_user.index_overview.filter_people %}
            <option value={{ person.person_id }} {% if person.person_id == form.person %}selected{% endif %}>
              {{ person.name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
</div>