{% load staticfiles %}
{% load medex_tags %}

<nav role="navigation" aria-label="Pagination">
    <ul class="medex-pagination">

        <li class="medex-pagination__item">
            {% if session_user.index_overview.previous_page == 0 %}
                <span class="medex-pagination__disabled-item">&larr; Previous</span>
            {% else %}
                <a class="medex-pagination__link" href="
                        {% url pagination_url %}{% queryparams location=form.location person=form.person page_number=session_user.index_overview.previous_page %}"
                   aria-label="Previous page"><span aria-hidden="true" role="presentation">&larr;</span> Previous</a>
            {% endif %}
        </li>

        {% for i in session_user.index_overview.page_range %}
            {% with page_number=i|add:"1" %}
                {% if page_number == session_user.index_overview.page_number %}
                    <span class="active">{% if page_number < 10 %}0{% endif %}{{ page_number }}</span>
                {% else %}
                    <li class="medex-pagination__item"><a class="medex-pagination__link" href="
                            {% url pagination_url %}{% queryparams page_number=page_number location=form.location person=form.person %}"
                                                          aria-label="Page {{ page_number }}">{% if page_number < 10 %}
                        0{% endif %}{{ page_number }}</a></li>
                {% endif %}
            {% endwith %}
        {% endfor %}

        <li class="medex-pagination__item">
            {% if session_user.index_overview.page_number == session_user.index_overview.page_count %}
                <span class="medex-pagination__disabled-item">Next &rarr;</span>
            {% else %}
                <a class="medex-pagination__link" href="
                        {% url pagination_url %}{% queryparams location=form.location person=form.person page_number=session_user.index_overview.previous_page %}"
                   aria-label="Next page">Next <span aria-hidden="true" role="presentation">&rarr;</span></a>
            {% endif %}
        </li>
    </ul>
</nav>
