{% load staticfiles %}
{% load medex_tags %}
{% load home_filters %}

<nav role="navigation" aria-label="Pagination">
    <div class="nhsuk-width-container medex-pagination">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
                <div class="medex-pagination__previous">
                    {% if session_user.index_overview.previous_page == 0 %}
                        <span class="medex-pagination__disabled-item">&larr; Previous</span>
                    {% else %}
                        &larr;<a class="medex-pagination__link" href="
                                {% url pagination_url %}{% queryparams location=form.location person=form.person status=form.case_status page_number=session_user.index_overview.previous_page %}"
                           aria-label="Previous page"><span aria-hidden="true" role="presentation"></span>
                            Previous</a>
                    {% endif %}
                </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
                <div class="medex-pagination__item-list" role="list">
                    {% with page_range=session_user.index_overview|page_range_presenter %}
                        {% for page in page_range %}
                            {% if page.type == 'active' %}
                                <li class="medex-pagination__item"><span
                                            class="medex-pagination__item-active">{% if page.page < 10 %}
                                        0{% endif %}{{ page.page }}</span></li>
                            {% elif page.type == 'spacer' %}
                                <li class="medex-pagination__item"><span
                                            class="medex-pagination__item-spacer">...</span></li>
                            {% else %}
                                <li class="medex-pagination__item"><a class="medex-pagination__item-link" href="{% url pagination_url %}{% queryparams page_number=page.page location=form.location status=form.case_status person=form.person %}"
                                                                      aria-label="Page {{ page.page }}">
                                    {% if page.page < 10 %}0{% endif %}{{ page.page }}</a></li>
                            {% endif %}

                        {% endfor %}
                    {% endwith %}
                </div>
            </div>

            <div class="nhsuk-grid-column-one-quarter">
                <div class="medex-pagination__next">
                    {% if session_user.index_overview.page_number == session_user.index_overview.page_count %}
                        <span class="medex-pagination__disabled-item">Next &rarr;</span>
                    {% else %}
                        <a class="medex-pagination__link" href="{% url pagination_url %}{% queryparams location=form.location person=form.person status=form.case_status page_number=session_user.index_overview.next_page %}"
                           aria-label="Next page">Next <span aria-hidden="true" role="presentation"></span></a>&rarr;
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
