{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% sass_src 'scss/users/permissions.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
<div class="manage-page">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-heading-xl">
                    {{ managed_user }}
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full nhsuk-heading-l">
                Current permissions and locations
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                {% for permission in managed_user.permission_objects %}
               <div> {{ permission.user_display_role }} - {{ permission.location_id }} </div>
                {% endfor %}
            </div>
            <div class="nhsuk-grid-column-one-half">
                <a href=''>Edit role and permissions</a>
            </div>
            <div class="nhsuk-grid-column-one-half">
                {{ managed_user.location_id }}
            </div>
            <div class="nhsuk-grid-column-one-half">
                <a href=''>Delete</a>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full nhsuk-heading-l">
                Manage this user
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <a href=''>Add another permission</a>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <a href=''>Suspend</a>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <a href=''>Remove</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}