{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% sass_src 'scss/users/permissions.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/users/permission-builder.js' %}"></script>
{% endblock %}

{% block page %}
<div class="permission-editor-page">
    {% if managed_user %}
    {% if invalid %}
    <div class="nhsuk-error-summary " id="error_alert" aria-labelledby="error-summary-title" role="alert"
         tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
            <p>
                Please correct the errors in this form
            </p>
        </div>
    </div>
    {% endif %}

    <h1 class="page-title">
        {% if managed_user.firstname %}
        {{ managed_user.fullname }}
        {% else %}
        {{ managed_user.email_address }}
        {% endif %}
    </h1>

    <h2 class="page-subheading">
        {{ sub_heading}}
    </h2>

    <form id="permission-builder-form" class="form{% if invalid %} error{% endif %}" action="{% url submit_path user_id=managed_user.user_id permission_id=permission.permission_id %}" method="post">
        <!-- Prevent implicit submission of the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>

        <!-- ... -->
        {% csrf_token %}

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-form-group {% if form.role_error %}nhsuk-form-group--error{% endif %}">

                    <fieldset id='role-radio-buttons' class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend">
                            What role will the user be performing?
                        </legend>

                        {% if form.role_error %}
                        <span class="nhsuk-error-message medex-font-default-override">{{ form.role_error }}</span>
                        {% endif %}

                        <div class="nhsuk-radios">
                            <div class="nhsuk-grid-row margin-bottom">
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input {% if form.role_error %}nhsuk-input--error{% endif %}"
                                               id="role-1" name="role" type="radio" value="1" {% if form.role == 'MedicalExaminer' %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label" for="role-1">
                                            ME
                                        </label>
                                    </div>

                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input {% if form.role_error %}nhsuk-input--error{% endif %}"
                                               id="role-2" name="role" type="radio" value="0" {% if form.role == 'MedicalExaminerOfficer' %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label" for="role-2">
                                            MEO
                                        </label>
                                    </div>
                                </div>

                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input {% if form.role_error %}nhsuk-input--error{% endif %}"
                                               id="role-3" name="role" type="radio" value="2" {% if form.role == 'ServiceOwner' %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label" for="role-3">
                                            System admin only
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-form-group {% if form.permission_level_error %}nhsuk-form-group--error{% endif %}">
                    <fieldset id="level-radio-buttons" class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend">
                            What permission level do they need?
                        </legend>

                        {% if form.permission_level_error %}
                        <span class="nhsuk-error-message medex-font-default-override">{{ form.permission_level_error }}</span>
                        {% endif %}

                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input {% if form.permission_level_error %}nhsuk-input--error{% endif %}"
                                       id="level-1" name="permission_level" type="radio" value="national" {% if form.national %}checked{% endif %} {% if locations.national == None %}disabled{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="level-1">
                                    National
                                </label>
                            </div>

                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input {% if form.permission_level_error %}nhsuk-input--error{% endif %}"
                                       id="level-2" name="permission_level" type="radio" value="regional" {% if form.region %}checked{% endif %} {% if locations.regions|length == 0 %}disabled{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="level-2">
                                    Regional
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input {% if form.permission_level_error %}nhsuk-input--error{% endif %}"
                                       id="level-3" name="permission_level" type="radio" value="trust" {% if form.trust %}checked{% endif %} {% if locations.trusts|length == 0 %}disabled{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="level-3">
                                    Trust
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        {% if locations.national %}
            <input name="national" value="{{locations.national.location_id}}" type="hidden"/>
        {% endif %}


        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div id="region-selector" class="nhsuk-form-group {% if form.region_error %}nhsuk-form-group--error{% endif %}">
                    <label class="nhsuk-label" for="region">
                        Region and associated NHS Trusts/ME Offices
                    </label>

                    {% if form.region_error %}
                    <span class="nhsuk-error-message medex-font-default-override">{{ errors.region_error }}</span>
                    {% endif %}

                    <select class="nhsuk-select" id="region" name="region" value="{{ form.region }}">
                        <option value="" disabled hidden selected>Select a region</option>
                        {% for region in locations.regions %}
                        <option value="{{ region.location_id }}" {% if region.location_id == form.region %}selected{% endif %}>
                            {{ region.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row margin-bottom">
            <div class="nhsuk-grid-column-full">
                <div id='trust-selector' class="nhsuk-form-group {% if form.trust_error %}nhsuk-form-group--error{% endif %}">
                    <label class="nhsuk-label" for="trust">
                        Trust
                    </label>

                    <div class="search-dropdown">
                        <div class="nhsuk-form-group {% if errors.me_office %}nhsuk-form-group--error{% endif %}">
                            {% if form.trust_error %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_me_office">{{ form.trust_error }}</span>{% endif %}
                            <select class="nhsuk-select" id="trust" name="trust" value="{{ form.me_office }}">
                                <option value="" disabled hidden selected>Select an office</option>
                                {% for trust in locations.trusts %}
                                <option value="{{ trust.location_id }}" {% if trust.location_id == form.trust %}selected{% endif %}>
                                    {{ trust.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <input id="submit-btn" class="nhsuk-button button-margin" type="submit" value="{{form.submit_btn_text}}"/>
                <a id="cancel-btn" class="nhsuk-button nhsuk-button--secondary" href="{% url 'manage_user' user_id=managed_user.user_id %}">Cancel</a>
            </div>
        </div>

    </form>
    {% else %}
    {% for alert in alerts %}
    {% include 'alerts/partials/_alert.html' %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}