@import '../variables';

.additional-bereaved {
  .bereaved {
    display: none;
    border-top: 1px solid $nhs-grey;

    &:first-of-type {
      border-top: none;
    }
  }

  .medium-top-margin {
    margin-top: $medex-spacing-md;
}

  #add-another-btn {
    margin-right: $medex-spacing-lg;
  }

  #remove-btn {
    display: none;
  }
}