@import '../variables';

.case-outcome {
    padding: 3rem 2rem 6rem;

    .page-subheading {
        margin-top: $medex-spacing-md;
        margin-bottom: $medex-spacing-md;
    }

    .case-summary {
        border: 6px solid $nhs-aqua-green;
        color: $nhs-grey;
        margin-bottom: medex-spacing(9);

        .conversation-outcomes {
            padding: $medex-spacing-xl;
            border-right: 6px solid $nhs-aqua-green;
            width: 50%;

            .outcome {
                margin-bottom: $medex-spacing-md;

                p {
                    margin-bottom: 0;
                }

                .outcome-description {
                    color: $black;
                    font-size: $nhs-heading-m-size;
                }

                a {
                    color: $nhs-grey;
                    font-size: $nhs-body-s-size;
                }
            }
        }

        .overall-outcomes {
            width: 50%;
            align-self: center;
            text-align: center;

            .outcome {
                margin-bottom: $medex-spacing-md;
                text-transform: uppercase;

                .outcome-description-heading {
                    color: $black;
                    font-size: $nhs-heading-l-size;
                }

                .outcome-description-details {
                    margin-bottom: 0;
                    color: $nhs-grey;
                    font-size: $nhs-heading-s-size;
                }
            }
        }
    }

    .scrutiny-confirmation {
        background-color: $nhs-pale-grey;
        margin-left: calc(-#{$medex-spacing-lg});
        margin-right: calc(-#{$medex-spacing-lg});

        padding: $medex-spacing-xl $medex-spacing-lg medex-spacing(9);

        .scrutiny-confirmed-tick {
            height: 3.5rem;
            width: 4.2rem;
            background: url("/static/images/scrutiny_complete_tick.svg") no-repeat;
            margin-top: $medex-spacing-xl;
            margin-bottom: $medex-spacing-xl;
        }

        .scrutiny-date-label {
            font-weight: bold;
            margin-bottom: $medex-spacing-md;
        }

        #confirm-scrutiny-button {
            margin-top: $medex-spacing-xl;
            margin-bottom: 0;
        }

        .me-name {
            font-size: $nhs-heading-m-size;
            font-weight: bold;
            margin-bottom: $medex-spacing-sm
        }

        .me-role {
            color: $nhs-grey;
            margin-bottom: $medex-spacing-md;
        }
    }

    .refer-to-coroner {
        margin-top: 5rem;
        margin-bottom: 5rem;

        .disclaimer-wrapper {
            margin-top: 5rem;

            .disclaimer-header {
                position: relative;
                bottom: -1em;
                display: inline;

                padding: 0.5rem 1.5rem;

                background-color: $yellow;
                font-size: $nhs-body-l-size;
                font-weight: bold;
            }

            .disclaimer-body {
                background-color: $pale-yellow;
                padding: 3rem 2.5rem;
            }
        }
    }

    .outstanding-items {
        margin-top: $medex-spacing-xl;

        .outstanding-item {
            margin: $medex-spacing-lg 0 $medex-spacing-xl;

            .nhsuk-radios__item {
                margin-right: $medex-spacing-xl;
            }
        }
    }

    .close-case {
        background-color: $nhs-pale-grey;
        padding: $medex-spacing-xl $medex-spacing-lg $medex-spacing-xl;
        margin-left: calc(-#{$medex-spacing-lg});
        margin-right: calc(-#{$medex-spacing-lg});

        .page-subheading {
            margin-top: 0;
        }

        .submit-btn {
            width: 100%;
            margin-top: $medex-spacing-md;
        }

        .hint-text {
            margin: 0;
            padding: $medex-spacing-md;
        }
    }
}