@import '../variables';

.case-outcome {
    padding: 3rem 2rem 6rem;

    .page-subheading {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .case-summary {
        border: 6px solid $nhs-aqua-green;
        color: $nhs-grey;

        .conversation-outcomes {
            padding: 3rem 4rem;
            border-right: 6px solid $nhs-aqua-green;
            width: 50%;

            .outcome {
                margin-bottom: 15px;

                p {
                    margin-bottom: 0;
                }

                .outcome-description {
                    color: $black;
                    font-size: $nhs-heading-m-size;
                }

                a {
                    color: $nhs-grey;
                    font-size: $nhs-body-s-size;
                }
            }
        }

        .overall-outcomes {
            width: 50%;
            align-self: center;
            text-align: center;

            .outcome {
                margin-bottom: 15px;

                .outcome-description {
                    margin-bottom: 0;
                    color: $black;
                    font-size: $nhs-heading-l-size;
                }
            }
        }
    }
}