@import '../variables';
@import './partials/case_timeline';
@import './partials/case_breakdown_forms';

#case-breakdown-section {
    margin: 4rem 2rem 300px;

    .section-title {
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: $nhs-heading-xl-size;
        line-height: $nhs-heading-xl-line-height;
    }

    .section-sub-heading {
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: $nhs-heading-l-size;
        line-height: $nhs-heading-l-line-height;
    }

}

#other-notes-section {

 #submit-btn {
        margin-right: 1.25rem;
        width: 15.79rem;
    }

 #add-another-btn {
    width: 15.79rem;
    }

 #more-detail {
    margin-top: 1.25rem;
    margin-bottom: 5rem;
 }
}

#pre-scrutiny {

 .margin-bottom {
    margin-bottom: 7rem;
 }

 .text-area-margin {
    margin-top: 1rem;
 }

 .disclaimer-margin {
    margin-bottom: 4rem;
 }
}