@import '../variables.scss';

.void-case-button {
    background-color: $nhs-red !important;

    &:hover {
      background-color: darken($nhs-red, 10%) !important;
    }
}

.cancel-void-case-button {
  &:hover {
    box-shadow: 0 4px 0 0 $black;
  }
}