@import '../variables';
@import './partials/case_timeline';
@import './partials/case_breakdown_forms';

#case-breakdown-section {
  margin: $medex-spacing-xl $medex-spacing-lg 300px;

  .section-title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: $nhs-heading-xl-size;
    line-height: $nhs-heading-xl-line-height;
  }

  .section-sub-heading {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: $nhs-heading-l-size;
    line-height: $nhs-heading-l-line-height;
    font-weight: bold;
  }

  .medex-heading-s {
    margin-bottom: $medex-spacing-sm;
    font-weight: $nhs-font-weight-bold;
  }
}

.cod-textarea {
    font-weight: bold;
    padding-left: $medex-spacing-xl;
}

.submit-btn {
  margin-right: $medex-spacing-md;
  width: 15.79rem;
}

.add-another-btn {
  width: 15.79rem;
  margin-left: $medex-spacing-md;
}

.case-breakdown-form-group {
  margin-bottom: $medex-spacing-xl;
}

.more-detail {
  margin-top: $medex-spacing-md;
  margin-bottom: $medex-spacing-xl;
}

.inset-text-panel {
  padding-top: 0rem;
  padding-left: $medex-spacing-lg;
  margin-left: 18.5px;
  border-left: $nhs-light-grey 3px solid;
}

.medex-hint {
    color: $nhs-grey;
    font-size: 19px;
    margin-bottom: 16px;
    line-height: 1.5;
}

#pre-scrutiny {

  .margin-bottom {
    margin-bottom: $medex-spacing-xl;
  }

  .text-area-margin {
    margin-top: $medex-spacing-md;
    margin-bottom: $medex-spacing-xl;
  }

  .disclaimer-margin {
    margin-bottom: $medex-spacing-xl;
  }

  .no-padding-inline {
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }
}

#bereaved-discussion {

  .margin-bottom {
    margin-bottom: $medex-spacing-md;
  }

  .margin-top-lg {
    padding-top: 2.75rem;
  }

  .margin-top {
    margin-top: $medex-spacing-md;
  }

  .margin-top-lg {
    margin-top: medex-spacing(7);
  }

  .margin-save-button {
    margin-bottom: $medex-spacing-xl;
  }

  .margin-time {
    margin-bottom: $medex-spacing-lg;
  }

  .align-tick {
    padding-top: 2.75rem;
  }

  }



#bereavement-discussion__save-buttons {
  .add-event-btn {
    margin-right: $medex-spacing-xs;
    width: 15.79rem;
  }

  .add-another-btn {
    width: 15.79rem;
  }

  #more-detail {
    margin-top: $medex-spacing-md;
    margin-bottom: $medex-spacing-xl;
  }

}

#qap-discussion {

    .margin-bottom {
        margin-bottom: $medex-spacing-md;
    }

    .margin-section {
        margin-top: $medex-spacing-xl;
    }
}

.margin-top-lg {
  padding-top: 2.75rem;
}
