@import '../variables';
@import 'primary-info.scss';
@import "../spacing";

.examination {
  &__create {
    margin-bottom: medex-spacing(8);

    #submit-btn {
        margin-bottom: medex-spacing(8);
    }
  }
}

.medex-font-default-override {
  font-size: 1rem !important;
}
