@import '../variables.scss';
@import 'edit_medical_team.scss';
@import 'secondary-info.scss';
@import 'bereaved-info.scss';

.examination__edit .form {
  margin-top: 0;

  .form-section {
    padding: 1rem 2rem;

    &:nth-child(odd) {
      background-color: $white;
    }
  }

  .sticky-save {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    padding: 0.5rem;

    text-align: right;

    display: none;
    background-color: $white;

  }
}

.examination__tab-bar {
  .form-tabs {
    justify-content: space-evenly;

    .tab-item {
      flex-grow: 1;
      padding: 20px;
      text-align: center;
      text-decoration: none;

      background-color: $nhs-dark-blue;
      color: $white;

      border-radius: 5px 5px 0px 0px;
      border-right: 2px solid $white;

      cursor: pointer;

      &:last-of-type {
        border: none;
      }

      &:hover {
        box-shadow: none !important;
      }

      &.active {
        background-color: $white;
        color: $nhs-dark-blue;
        border-top: 7px solid $nhs-dark-blue;
        padding-top: 13px;
      }
    }
  }
}

//.examination__edit {
//  #examination__edit--form {
//
//    .form-section {
//      padding: 1rem 2rem;
//
//      &:nth-child(odd) {
//        background-color: $white;
//      }
//    }
//
//    .sticky-save {
//      position: fixed;
//      bottom: 0;
//      left: 0;
//      z-index: 100;
//
//      width: 100%;
//      padding: 0.5rem;
//
//      text-align: right;
//
//      display: none;
//      background-color: $white;
//
//    }
//  }
//}