@import '../variables.scss';
@import 'edit_medical_team.scss';

.examination__edit .form {
  margin-top: 0;

  .form-section {
    padding: $medex-spacing-md $medex-spacing-lg;

    &.large-bottom-margin {
      margin-bottom: $medex-spacing-lg;
    }

    &:nth-child(odd) {
      background-color: $white;
    }
  }

  .background-grey {
    background-color: $nhs-pale-grey;
  }

  .sticky-save {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    padding: $medex-spacing-sm;

    text-align: right;

    display: none;
    background-color: $white;

  }
}

.case-header {
  margin-bottom: $medex-spacing-xl;

  .patient-name {
    font-size: $nhs-heading-l-size;
    font-weight: bold;
    margin-bottom: 0;
  }

  .nhs-number {
    font-size: $nhs-heading-xs-size;
    font-weight: bold;
    margin-bottom: 0;
  }

  .case-settings-link {
    text-align: right !important;
  }
}

.examination__tab-bar {

  ul.form-tabs {
    justify-content: space-evenly;
    margin-bottom: $medex-spacing-lg;
    list-style: none;

    .tab-item {
      width: 100%;
      text-align: center;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 2px;
      }

      a {
        display: block;
        text-decoration: none;
        width: 100%;
        padding: $medex-spacing-md;
        background-color: $nhs-dark-blue;
        color: $white;

        border-radius: 5px 5px 0 0;
        border-right: 2px solid $white;

      cursor: pointer;

        &:focus {
        z-index: 1000;
        border-color: transparent;
      }

      &:hover {
        text-decoration: underline;
        box-shadow: 0 0 0 0 $nhs-light-grey !important;
        border-right: 2px solid $white;
      }

      &:last-of-type {
        border: none;
      }

      &.active {
        background-color: $white;
        color: $nhs-dark-blue;
        border-top: $medex-spacing-xs solid $nhs-dark-blue;
        padding-top: calc(#{$medex-spacing-md} - #{$medex-spacing-xs});
        text-decoration: none !important;
      }
      }
    }
  }
}

#case-status-bar {

    .margin-bottom {
        margin-bottom: $medex-spacing-xl;
    }

    .question-align {
        vertical-align: sub;
    }

    .small-font {
        font-size: 16px !important;
    }

    .vertical-align {
        vertical-align: middle;
    }

    .icon-align {
        vertical-align: sub;
        margin-left: 2px;
    }

    .expander-padding {
        padding: 0 0 38px 38px;
    }

    .case-status-icon {
        height: 24px;
        width: 24px;
        margin-right: 3px;
    }

    .status-padding {
        padding: 0px 0px 16px 0px !important;
    }

    .float-right {
        float: right;
    }

    .padding-left {
        padding-left: 36px;
    }

    .medex-plus {
            display: block;
        }

        .medex-minus {
            display: none;
        }

    .nhsuk-expander[open] {
        .medex-plus {
            display: none;
        }

        .medex-minus {
            display: block;
        }
    }

}


.hint-text {
  color: $nhs-grey;
}

#confirm-message {
  padding-top: $medex-spacing-md;
  padding-bottom: $medex-spacing-md;
}

.success-message {
  border: 4px solid $nhs-green !important;
}
