@import '../variables';

.medex-form-section {
  padding-top: $medex-spacing-md;
  padding-bottom: $medex-spacing-md;

  &--inverted-background {
    background-color: $white !important;
  }

  &--first {
    padding-top: 0;
  }
}

.small-margin {
    margin-bottom: $medex-spacing-sm !important;
}

.medium-margin {
    margin-bottom: $medex-spacing-lg !important;
}

.medex-tab-header {
  margin-bottom: 0 !important;
}

.small-margin {
    margin-bottom: $medex-spacing-sm;
}

.medium-margin {
    margin-bottom: $medex-spacing-md;
}

.expanded-margin {
    margin-right: medex-spacing(4);
}

.nhsuk-form-group {
    &--field-indicator {
        margin-bottom: 12px;
    }
}
