@import '../variables';
@import '../spacing';

.secondary-info-form {
  .additional-info {
    display: none;
  }

  .small-print {
    color: $nhs-grey;
  }

  .textarea-margin {
    margin-bottom: $medex-spacing-sm;
  }
}
