{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block title %}{{ page_heading }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block page %}
  <div class="settings-index">
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    <h2 class="page-subheading">
      {{ sub_heading }}
    </h2>

    <div class="flex-row service-overview">
      <p>Void this case if it was added in error. You should only do this if there is a genuine duplicat in the
      system.</p>
    </div>

    <a class="nhsuk-button add-user-btn" href="/users/new">
      Void this case
    </a>
  </div>
{% endblock %}