{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block page %}
    <h1 class="nhsuk-heading-l">Cookies</h1>
    <p class="nhsuk-body-m">This service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse
        the site.</p>

    <p class="nhsuk-body-m">Cookies are used to:</p>

    <ul class="nhsuk-list">
        <li class="nhsuk-list--bullet">secure your interaction with the Medical Examiners service</li>
        <li class="nhsuk-list--bullet">make sure you don't lose work accidentally</li>
        <li class="nhsuk-list--bullet">help us improve the service</li>
    </ul>


{% endblock %}
