{% extends "medexCms/shared/base.html" %}

{% block page %}
    <div class="medex-content-page">
        <h1 class="nhsuk-heading-l">Cookies</h1>
        <p class="nhsuk-body-m">This service puts small files (known as ‘cookies’) onto your computer to add features
            to the Medical Examiner service.</p>

        <p class="nhsuk-body-m">Cookies are used to:</p>

        <ul class="nhsuk-list">
            <li class="nhsuk-list--bullet">secure your interaction with the Medical Examiners service</li>
            <li class="nhsuk-list--bullet">make sure you don't lose work accidentally</li>
            <li class="nhsuk-list--bullet">help us improve the service</li>
        </ul>

    </div>
{% endblock %}
