{% extends "medexCms/shared/base.html" %}
{% load staticfiles %}
{% load sass_tags %}
{% load medex_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/home/index.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/shared/search-dropdown.js' %}"></script>
  <script src="{% static 'js/home/home.js' %}"></script>
{% endblock %}

{% block page %}
  <div class="case-index">
    <h1 class="page-title" automation-id="page-title">
      {{page_header}}
    </h1>

    <div class="flex-row index-overview">
      <div class="overview-block nhsuk-grid-column-one-third">
        <p class="overview-heading">
          Displaying cases at
        </p>

        <p class="overview-body location" automation-id="count-of-location-cases">
          {{session_user.index_overview.location_name}}
        </p>
      </div>

      <div class="overview-block nhsuk-grid-column-one-third">
        <p class="overview-heading">
          Total number of cases
        </p>

        <p class="overview-body" automation-id="count-of-total-cases">
          {{session_user.index_overview.total_cases}}
        </p>
      </div>

      {% if not closed_list %}
        <div class="overview-block nhsuk-grid-column-one-third">
          <p class="overview-heading">
            Number of urgent cases
          </p>

          <p class="overview-body" automation-id="count-of-urgent-cases">
            {{session_user.index_overview.urgent_cases}}
          </p>
        </div>
      {% endif %}
    </div>

    {% include 'home/partials/_filter_block.html' %}

    {% if session_user.examinations_count == 0 %}
      <h2  automation-id="filter-result-message">
        Currently there are no cases for these filters
      </h2>

      <p>
        Try choosing another place, person or status
      </p>
    {% else %}
      {% for examination in session_user.examinations %}
        {% include 'examinations/partials/_case_card.html' with case=examination %}
      {% endfor %}

        {% include 'home/partials/_pagination.html' %}
      <div class="page-navigation">
        {% if session_user.index_overview.previous_page == 0 %}
          <span class="disabled">Previous</span>
        {% else %}
          <a href="{% url pagination_url %}{% queryparams location=form.location person=form.person page_number=session_user.index_overview.previous_page %}">Previous</a>
        {% endif %}

        {% for i in session_user.index_overview.page_range %}
          {% if i|add:"1" == session_user.index_overview.page_number %}
            <span class="active">{{ i|add:"1" }}</span>
          {% else %}
            <a href="{% url pagination_url %}{% queryparams page_number=i|add:'1' location=form.location person=form.person %}">{{ i|add:"1" }}</a>
          {% endif %}
        {% endfor %}

        {% if session_user.index_overview.page_number == session_user.index_overview.page_count %}
          <span class="disabled">Next</span>
        {% else %}
          <a href="{% url pagination_url %}{% queryparams location=form.location person=form.person page_number=session_user.index_overview.next_page %}">Next</a>
        {% endif %}
      </div>


    {% endif %}
  </div>
{% endblock %}
