{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/home/login.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block page %}
  <div class="forgotten-password-page">
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}

    <form id="reset-form" class="form" action="{% url 'forgotten-password' %}" method="post">
      {% csrf_token %}

      <div class="flex-row baseline form-row">
        <input class="form-field" type="text" name="user_id" value="{{user_id}}" placeholder="Enter your email">
      </div>
      
      <input class="submit-btn" type="submit" value="Submit" />

      <div class='forgotten-creds small-print'>
        <a href="/login">Back to sign in</a>
      </div>
    </form>
  </div>
{% endblock %}