{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/home/login.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block page %}
  <div class="forgotten-password-page">
    <h1 class="page-title">
      Forgotten Password
    </h1>

    <h2>
      Request a reset link
    </h2>

    {% for error in errors %}
      <div class="notification error">
        {{ error }}
      </div>
    {% endfor %}

    <form id="reset-form" action="{% url 'forgotten-password' %}" method="post">
      {% csrf_token %}

      <div class="flex-row baseline form-row">
        <label for="user_id">User ID</label>

        <input class="form-field" type="text" name="user_id" value="{{user_id}}">
      </div>
      
      <input class="login-btn" type="submit" value="Submit" />

      <div class='forgotten-creds'>
        Forgotten your <a href="/forgotten-userid">user ID</a>
      </div>
    </form>
  </div>
{% endblock %}