{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/home/login.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block page %}
  <div class="login-page">
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}

    <form id="login-form" class="form{% if invalid %} error{% endif %}" action="{% url 'login' %}" method="post">
      {% csrf_token %}

      <div class="flex-row baseline form-row">
        <label for="user_id">User ID</label>

        <input class="form-field" type="text" name="user_id" value="{{user_id}}">
      </div>

      <div class="flex-row baseline form-row">
        <label for="password">Password</label>

        <input class="form-field" type="password" name="password">
      </div>
      
      <input class="submit-btn" type="submit" value="Sign in" />

      <div class='forgotten-creds small-print'>
        Forgotten your <a href="/forgotten-userid">user ID</a> or <a href="/forgotten-password">password</a>
      </div>
    </form>
  </div>
{% endblock %}
