{% load staticfiles %}

<div class="footer">
  <div class="container">
    <div class="flex-row vertical-center footer--row">
      <div class="footer--item">
        <img class="banner" src="{% static 'images/nhs_logo.png' %}" alt="">
      </div>

      <div class="footer--item">
        <a href="#">
          NHS Sites
        </a>
      </div>

      <div class="footer--item">
        <a href="#">
          About us
        </a>
      </div>

      <div class="footer--item">
        <a href="#">
          Contact us
        </a>
      </div>
    </div>

    <hr class="footer--divider">

    <div class="flex-row vertical-center footer--row">
      <div class="footer--item">
        <a href="#">
          Sitemap
        </a>
      </div>

      <div class="footer--item">
        <a href="#">
          Accessibility
        </a>
      </div>

      <div class="footer--item">
        <a href="#">
          Our Policies
        </a>
      </div>

      <div class="footer--item">
        <p>© Crown copyright</p>
      </div>
    </div>
  </div>
</div>