{% load staticfiles %}

{% if session_user %}
  <div class="header__nav">
    <div class="container">
      <div class="flex-row vertical-center">
        <div class="logo">
          <img class='logo__icon' src="{% static 'images/nhs_logo.png' %}" alt="">
        </div>

        <div class="title">
          Medical Examiners Service
        </div>
      </div>

      <hr class="nav-divider">

      <div class="flex-row baseline menu">
        <div class="nav-list flex-row baseline">
          <div class="nav-list--item">
            <a href="/">
              Home
            </a>
          </div>

          {% if session_user.permitted_actions.can_create_examination %}
            <div class="nav-list--item">
              <a href="/cases/create">
                New Case
              </a>
            </div>
          {% endif %}

          <div class="nav-list--item">
            <a href="/cases/closed">
              Closed Cases
            </a>
          </div>
        </div>

        <div class="btn-list flex-row baseline">
          <div class="notifications btn-list--item">
            <img class='logo__icon' src="{% static 'images/notification.png' %}" alt="">
          </div>

          <div class="user-name btn-list--item nav-dropdown">
            <a href="#">
              {{session_user.full_name}}
              &#9660;
            </a>

            <div class="nav-dropdown--content">
              {% if session_user.permitted_actions.can_access_settings_index %}
                <a href="/settings">
                  <div class="nav-dropdown--item">
                    Settings
                  </div>
                </a>
              {% endif %}

              <a href="/logout">
                <div class="nav-dropdown--item">
                  Logout
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="header__banner">
    <img class="banner" src="{% static 'images/header-banner.png' %}" alt="">
  </div>
{% endif %}
