{% load sass_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Medical Examiners Portal</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <link href="{{ STATIC_URL }} /static/vendors/nhsuk-1.1.0.min.css" rel="stylesheet" type="text/css" >
    <link href="{% sass_src 'scss/global.scss' %}" rel="stylesheet" type="text/css" >
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.3.1-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/nhsuk-1.1.0.min.js"></script>

    {% block extra_css %}
    {% endblock %}

  </head>

  <body>
    {% include 'medexCms/shared/_header.html' %}

    <div class="container page-content">
      {% block page %}
      {% endblock %}
    </div>

    {% include 'medexCms/shared/_footer.html' %}

    {% block scripts %}
    {% endblock %}
  </body>


</html>