{% load sass_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Medical Examiners Portal</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <link href="{% sass_src 'scss/global.scss' %}" rel="stylesheet" type="text/css" >

    {% block extra_css %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    {% block extra_js %}
    {% endblock %}
  </head>

  <body>
    {% include 'medexCms/shared/_header.html' %}

    <div class="container page-content">
      {% block page %}
      {% endblock %}
    </div>

    {% include 'medexCms/shared/_footer.html' %}
  </body>
</html>