{% load staticfiles %}

<div class="container page">
    <div class="nhsuk-grid-row">
        <div class=" phase-banner">
            <p class="phase-margin phase-banner__content">
                <strong class="phase-tag phase-banner__content__tag">
                    beta
                </strong>
                <span class="phase-banner__content__tag__text">This is a new service – your <a class="govuk-link"
                                                                                               href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>
    </div>
</div>
