<div class="additional-bereaved">
    <div id="first-bereaved" class="bereaved">
        <!-- Representative -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <p class="medex-hint longtext">Enter information regarding the patient's representative handling their affairs.</p>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <fieldset class="nhsuk-fieldset"  {% if disabled %}disabled{% endif %}>
                    <div class="nhsuk-form-group {% if errors.bereaved_name_1 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label medium-top-margin" for="bereaved_name_1">Full name</label>

                        {% if errors.bereaved_name_1 %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_bereaved_name_1">{{ errors.bereaved_name_1 }}</span>
                        {% endif %}

                        <input id="bereaved_name_1" type="text" name="bereaved_name_1" value="{{form.bereaved_name_1}}"
                               class="nhsuk-input nhsuk-input--width-10 bereaved-name {% if errors.bereaved_name_1 %}nhsuk-input--error{% endif %}">
                    <div class="medex-field-indicator">Required field</div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <fieldset class="nhsuk-fieldset"  {% if disabled %}disabled{% endif %}>
                    <div class="nhsuk-form-group {% if errors.relationship_1 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="relationship_1">Relationship</label>

                        {% if errors.relationship_1 %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_relationship_1">{{ errors.relationship_1 }}</span>
                        {% endif %}

                        <input id="relationship_1" type="text" name="relationship_1" value="{{form.relationship_1}}"
                               class="nhsuk-input nhsuk-input--width-10 {% if errors.relationship_1 %}nhsuk-input--error{% endif %}">
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <fieldset class="nhsuk-fieldset"  {% if disabled %}disabled{% endif %}>
                    <div class="nhsuk-form-group {% if errors.phone_number_1 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="phone_number_1">Phone number</label>

                        {% if errors.phone_number_1 %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_phone_number_1">{{ errors.phone_number_1 }}</span>{% endif %}

                        <input id="phone_number_1" type="text" name="phone_number_1" value="{{form.phone_number_1}}"
                               class="nhsuk-input nhsuk-input--width-10 {% if errors.phone_number_1 %}nhsuk-input--error{% endif %}">
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Appointment details -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group {% if errors.date_of_appointment_1 %}nhsuk-form-group--error{% endif %}">
                    <fieldset class="nhsuk-fieldset" aria-describedby="date_of_appointment_1" role="group"  {% if disabled %}disabled{% endif %}>
                        <legend class="nhsuk-fieldset__legend">
                            Appointment date
                        </legend>

                        {% if errors.date_of_appointment_1 %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_date_of_appointment_1">{{ errors.date_of_appointment_1 }}</span>
                        {% endif %}

                        <div class="nhsuk-date-input" id="date_of_appointment_1">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="day_of_appointment_1">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="day_of_appointment_1" name="day_of_appointment_1" type="number" pattern="[0-9]*"
                                           value="{{ form.day_of_appointment_1 }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="month_of_appointment_1">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="month_of_appointment_1" name="month_of_appointment_1" type="number"
                                           pattern="[0-9]*" value="{{ form.month_of_appointment_1 }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="year_of_appointment_1">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input"
                                           id="year_of_appointment_1" name="year_of_appointment_1" type="number"
                                           pattern="[0-9]*" value="{{ form.year_of_appointment_1 }}">
                                </div>
                            </div>

                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="time_of_appointment_1">
                                        Time
                                    </label>

                                    <input class="nhsuk-input nhsuk-input--width-10 medex-input" id="time_of_appointment_1"
                                           name="time_of_appointment_1" type="time" step="60" value="{{ form.time_of_appointment_1 }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- Additional details -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset"  {% if disabled %}disabled{% endif %}>
                        <div class="nhsuk-form-group {% if errors.appointment_additional_details_1 %}nhsuk-form-group--error{% endif %}">
                            <label class="medex-hint" for="appointment_additional_details_1">Enter any additional
                                details or
                                context about the representative</label>


                            {% if errors.appointment_additional_details_1 %}
                            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_appointment_additional_details_1">{{ errors.appointment_additional_details_1 }}</span>
                            {% endif %}

                            <textarea id="appointment_additional_details_1"
                                      class="nhsuk-textarea medex-textarea{% if errors.appointment_additional_details_1 %} nhsuk-textarea--error{% endif %}"
                                      name="appointment_additional_details_1">{{form.appointment_additional_details_1}}</textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="second-bereaved" class="bereaved">
        <!-- Representative -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <fieldset class="nhsuk-fieldset"  {% if disabled %}disabled{% endif %}>
                    <div class="nhsuk-form-group {% if errors.bereaved_name_2 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="bereaved_name_2">Full name</label>

                        {% if errors.bereaved_name_2 %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_bereaved_name_2">{{ errors.bereaved_name_2 }}</span>
                        {% endif %}

                        <input id="bereaved_name_2" type="text" name="bereaved_name_2" value="{{form.bereaved_name_2}}"
                               class="nhsuk-input nhsuk-input--width-10 bereaved-name {% if errors.bereaved_name_2 %}nhsuk-input--error{% endif %}">
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>
                    <div class="nhsuk-form-group {% if errors.relationship_2 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="relationship_2">Relationship</label>

                        {% if errors.relationship_2 %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_relationship_2">{{ errors.relationship_2 }}</span>
                        {% endif %}

                        <input id="relationship_2" type="text" name="relationship_2" value="{{form.relationship_2}}"
                               class="nhsuk-input nhsuk-input--width-10 {% if errors.relationship_2 %}nhsuk-input--error{% endif %}">
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>
                    <div class="nhsuk-form-group {% if errors.phone_number_2 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="phone_number_2">Phone number</label>

                        {% if errors.phone_number_2 %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_phone_number_2">{{ errors.phone_number_2 }}</span>{% endif %}

                        <input id="phone_number_2" type="text" name="phone_number_2" value="{{form.phone_number_2}}"
                               class="nhsuk-input nhsuk-input--width-10 {% if errors.phone_number_2 %}nhsuk-input--error{% endif %}">
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Appointment details -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group {% if errors.date_of_appointment_2 %}nhsuk-form-group--error{% endif %}">
                    <fieldset class="nhsuk-fieldset" aria-describedby="date_of_appointment_2" role="group" {% if disabled %}disabled{% endif %}>
                        <legend class="nhsuk-fieldset__legend">
                            Appointment date
                        </legend>

                        {% if errors.date_of_appointment_2 %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_date_of_appointment_2">{{ errors.date_of_appointment_2 }}</span>
                        {% endif %}

                        <div class="nhsuk-date-input" id="date_of_appointment_2">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="day_of_appointment_2">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="day_of_appointment_2" name="day_of_appointment_2" type="number" pattern="[0-9]*"
                                           value="{{ form.day_of_appointment_2 }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="month_of_appointment_2">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="month_of_appointment_2" name="month_of_appointment_2" type="number"
                                           pattern="[0-9]*" value="{{ form.month_of_appointment_2 }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="year_of_appointment_2">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input"
                                           id="year_of_appointment_2" name="year_of_appointment_2" type="number"
                                           pattern="[0-9]*" value="{{ form.year_of_appointment_2 }}">
                                </div>
                            </div>

                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="time_of_appointment_2">
                                        Time
                                    </label>

                                    <input class="nhsuk-input nhsuk-input--width-10 medex-input" id="time_of_appointment_2"
                                           name="time_of_appointment_2" type="time" step="60" value="{{ form.time_of_appointment_2 }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>


        <!-- Additional details -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>
                        <div class="nhsuk-form-group {% if errors.appointment_additional_details_2 %}nhsuk-form-group--error{% endif %}">
                            <label class="medex-hint" for="appointment_additional_details_2">Enter any additional
                                details or
                                context about the representative</label>


                            {% if errors.appointment_additional_details_2 %}
                            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_appointment_additional_details_2">{{ errors.appointment_additional_details_2 }}</span>
                            {% endif %}

                            <textarea id="appointment_additional_details_2"
                                      class="nhsuk-textarea medex-textarea{% if errors.appointment_additional_details_2 %} nhsuk-textarea--error{% endif %}"
                                      name="appointment_additional_details_2">{{form.appointment_additional_details_2}}</textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <button id="add-another-btn" class="nhsuk-button" {% if disabled %}disabled{% endif %}>
            Add a person
        </button>

        <button id="remove-btn" class="nhsuk-button nhsuk-button--secondary" {% if disabled %}disabled{% endif %}>
            Remove
        </button>
    </div>
</div>
