<div class="primary-info-form">
    <!-- Names -->
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.first_name %}nhsuk-form-group--error{% endif %}">
                <label class="nhsuk-label" for="first_name" id="first_name_label">
                    Given name(s)
                </label>
                {% if errors.first_name %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_first_name">{{ errors.first_name }}</span>{% endif %}
                <input class="nhsuk-input nhsuk-input--width-10 {% if errors.first_name %}nhsuk-input--error{% endif %}"
                        id="first_name" name="first_name"
                        value="{{ form.first_name }}" type="text">
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.last_name %}nhsuk-form-group--error{% endif %}">
                <label class="nhsuk-label" for="last_name" id="last_name_label">
                    Surname
                </label>
                {% if errors.last_name %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_last_name">{{ errors.last_name }}</span>{% endif %}
                <input class="nhsuk-input nhsuk-input--width-10 {% if errors.last_name %}nhsuk-input--error{% endif %}"
                        id="last_name" name="last_name"
                        value="{{ form.last_name }}" type="text">
            </div>
        </div>
    </div>

    <!-- Gender -->
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-form-group {% if errors.gender %}nhsuk-form-group--error{% endif %}">
                <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>
                    <legend class="nhsuk-fieldset__legend" id="gender_label">
                        Gender
                    </legend>
                    {% if errors.gender %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_gender">{{ errors.gender }}</span>{% endif %}
                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input {% if errors.gender %}nhsuk-input--error{% endif %}"
                                   id="gender-1" name="gender" type="radio" value="{{ enums.gender.MALE }}" {% if form.gender == enums.gender.MALE %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="gender-1">
                                Male
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input {% if errors.gender %}nhsuk-input--error{% endif %}"
                                   id="gender-2" name="gender" type="radio" value="{{ enums.gender.FEMALE }}" {% if form.gender == enums.gender.FEMALE %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="gender-2">
                                Female
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input {% if errors.gender %}nhsuk-input--error{% endif %}"
                                   id="gender-3" name="gender" type="radio" value="{{ enums.gender.OTHER }}" {% if form.gender == enums.gender.OTHER %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="gender-3">
                                Other
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="nhsuk-form-group" id="more-gender-detail-area">
                    <label class="nhsuk-label" for="gender_details">
                        Please enter details below
                    </label>
                    <textarea class="nhsuk-textarea medex-textarea" id="gender_details" name="gender_details" rows="3">{{ form.gender_details }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Numbers -->
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.nhs_number %}nhsuk-form-group--error{% endif %} medex-text-checkbox-group">
                <div class="medex-text-checkbox-group__textbox" id="nhs_number_group">
                    <label class="nhsuk-label" for="nhs_number" id="nhs_number_label">
                        NHS number
                    </label>
                    {% if errors.nhs_number %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_nhs_number">{{ errors.nhs_number }}</span>{% endif %}
                    <input class="nhsuk-input nhsuk-input--width-10 medex-input {% if errors.nhs_number %}nhsuk-input--error{% endif %}"
                           id="nhs_number" name="nhs_number" type="text" value="{% if form.nhs_number %}{{ form.nhs_number }}{% endif %}">
                </div>
                <div class="nhsuk-form-group">
                    <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="nhs_number_not_known"
                                    name="nhs_number_not_known" type="checkbox"
                                    value="{{ form.nhs_number_not_known }}" {% if form.nhs_number_not_known %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="nhs_number_not_known">
                                Unknown
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group hospital-number__group">
                <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>
                    <legend class="nhsuk-fieldset__legend sr-only" id="gender_label">
                        Hospital Numbers
                    </legend>
                    <div class="hospital-number__list-item" id="hospital_number_1">
                        <label class="nhsuk-label" for="hospital_number_1_textbox" id="hospital_number_1_label">
                            Hospital number
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="hospital_number_1_textbox"
                                name="hospital_number_1" type="text"
                                value="{{ form.hospital_number_1 }}">
                    </div>
                    <div class="hospital-number__list-item medex-hidden" id="hospital_number_2">
                        <label class="nhsuk-label" for="hospital_number_2_textbox" id="hospital_number_2_label">
                            Hospital number 2
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="hospital_number_2_textbox"
                            name="hospital_number_2" type="text"
                            value="{{ form.hospital_number_2 }}">
                    </div>
                    <div class="hospital-number__list-item medex-hidden" id="hospital_number_3">
                        <label class="nhsuk-label" for="hospital_number_3_textbox" id="hospital_number_3_label">
                            Hospital number 3
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="hospital_number_3_textbox"
                            name="hospital_number_3" type="text"
                            value="{{ form.hospital_number_3 }}">
                    </div>
                    <div class="medex-field-indicator">
                        Optional field
                    </div>
                    <button class="medex-hyperlink-button" id="hospital-number__add-btn">Add another</button>
                </fieldset>
            </div>
        </div>
    </div>


    <!-- Dates -->
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.date_of_birth or errors.day_of_birth or errors.month_of_birth or errors.year_of_birth %}nhsuk-form-group--error{% endif %}">
                <div class="medex-text-checkbox-group__textbox">
                    <fieldset class="nhsuk-fieldset" role="group" {% if disabled %}disabled{% endif %}>
                        <legend class="nhsuk-fieldset__legend" id="date_of_birth_label">
                            Date of birth
                        </legend>
                        {% if errors.date_of_birth %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_date_of_birth">
                            <div>{{ errors.date_of_birth }}</div>
                        </span>
                        {% endif %}
                        <div class="nhsuk-date-input" id="date_of_birth">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="day_of_birth">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input {% if errors.date_of_birth %}nhsuk-input--error{% endif %}"
                                           id="day_of_birth" name="day_of_birth" type="number" pattern="[0-9]*"
                                           {% if form.day_of_birth %}value="{{ form.day_of_birth }}" {% endif %}>
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="month_of_birth">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input {% if errors.date_of_birth %}nhsuk-input--error{% endif %}"
                                           id="month_of_birth" name="month_of_birth" type="number"
                                           pattern="[0-9]*"
                                           {% if form.month_of_birth %}value="{{ form.month_of_birth }}"{% endif %}>
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="year_of_birth">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input {% if errors.date_of_birth %}nhsuk-input--error{% endif %}"
                                           id="year_of_birth" name="year_of_birth" type="number"
                                           pattern="[0-9]*"
                                           {% if form.year_of_birth %}value="{{ form.year_of_birth }}"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="date_of_birth_not_known"
                                name="date_of_birth_not_known" type="checkbox"
                                value="{{ form.date_of_birth_not_known }}" {% if form.date_of_birth_not_known %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="date_of_birth_not_known">
                            Unknown
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.date_of_death %}nhsuk-form-group--error{% endif %}">
                <div class="medex-text-checkbox-group__textbox">
                    <fieldset class="nhsuk-fieldset" role="group" {% if disabled %}disabled{% endif %}>
                        <legend class="nhsuk-fieldset__legend" id="date_of_death_label">
                            Date of death
                        </legend>
                        {% if errors.date_of_death %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_date_of_death">{{ errors.date_of_death }}</span>{% endif %}
                        <div class="nhsuk-date-input" id="date_of_death">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="day_of_death">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input {% if errors.date_of_death %}nhsuk-input--error{% endif %}"
                                           id="day_of_death" name="day_of_death" type="number" pattern="[0-9]*"
                                           {% if form.day_of_death %}value="{{ form.day_of_death }}"{% endif %}>
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="month_of_death">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input {% if errors.date_of_death %}nhsuk-input--error{% endif %}"
                                           id="month_of_death" name="month_of_death" type="number"
                                           pattern="[0-9]*"
                                           {% if form.month_of_death %}value="{{ form.month_of_death }}"{% endif %}>
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="year_of_death">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input {% if errors.date_of_death %}nhsuk-input--error{% endif %}"
                                           id="year_of_death" name="year_of_death" type="number"
                                           pattern="[0-9]*"
                                           {% if form.year_of_death %}value="{{ form.year_of_death }}"{% endif %}>
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item age_at_death">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="age-at-death__label">
                                        Age
                                    </label>
                                    <div>
                                        <output id="age-at-death__label" class="age_at_death__label  age_at_death__label--unknown nhsuk-body-m">0</output>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="date_of_death_not_known"
                                name="date_of_death_not_known" type="checkbox"
                                value="{{ form.date_of_death_not_known }}" {% if form.date_of_death_not_known %} checked {% endif %}>
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="date_of_death_not_known">
                            Unknown
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Time of death -->
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group medex-text-checkbox-group {% if errors.time_of_death %}nhsuk-form-group--error{% endif %}">

                <div class="nhsuk-fieldset medex-text-checkbox-group__textbox" id="time_of_death_group">
                    <label class="nhsuk-label" for="time_of_death" id="time_of_death_label">
                        Time of death
                    </label>
                    {% if errors.time_of_death %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_time_of_death">{{ errors.time_of_death }}</span>{% endif %}
                    <input class="nhsuk-input nhsuk-input--width-10 medex-input {% if errors.time_of_death %}nhsuk-input--error{% endif %}" id="time_of_death"
                           name="time_of_death"
                           type="time"
                           step="60"
                           value="{{ form.time_of_death }}">
                </div>

                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="time_of_death_not_known"
                                name="time_of_death_not_known" type="checkbox"
                                value="{{ form.time_of_death_not_known }}" {% if form.time_of_death_not_known %} checked {% endif %}>
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="time_of_death_not_known">
                            Unknown
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.place_of_death %}nhsuk-form-group--error{% endif %}">
                <label class="nhsuk-label" for="place_of_death" id="place_of_death_label">
                    Place where death occurred
                </label>
                {% if errors.place_of_death %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_place_of_death">{{ errors.place_of_death }}</span>{% endif %}
                <input class="nhsuk-input nhsuk-input--width-10 {% if errors.place_of_death %}nhsuk-input--error{% endif %}"
                            id="place_of_death" name="place_of_death" value="{{ form.place_of_death }}" type="text">
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group {% if errors.me_office %}nhsuk-form-group--error{% endif %}">
                <label class="nhsuk-label" for="me_office" id="me_office_label">
                    ME office responsible for case
                </label>
                {% if errors.me_office %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_me_office">{{ errors.me_office }}</span>{% endif %}
                <select class="nhsuk-select" id="me_office" name="me_office" value="{{ form.me_office }}">
                    <option value="" disabled hidden selected>Select an office</option>
                    {% for me_office in me_offices %}
                        <option value="{{ me_office.location_id }}" {% if me_office.location_id == form.me_office %}selected{% endif %}>{{ me_office.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>