<!-- Urgency reason -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-form-group">
        <div class="nhsuk-checkboxes">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-checkboxes__item">
                <input id="rapid-release-checkbox" class="nhsuk-checkboxes__input" type="checkbox" name="urgent_release"
                       value="true" {% if form.urgent_release == 'true' %} checked{% endif%}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="rapid-release-checkbox">Select for rapid release</label>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="nhsuk-form-group">
        <div class="nhsuk-form-group {% if errors.urgency_additional_details %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label" for="urgency_additional_details">Enter any further relevant details</label>

          {% if errors.urgency_additional_details %}
            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_urgency_additional_details">{{ errors.urgency_additional_details }}</span>
          {% endif %}

          <textarea id="urgency_additional_details"
              class="nhsuk-textarea medex-textarea{% if errors.urgency_additional_details %} nhsuk-textarea--error{% endif %}"
              name="urgency_additional_details">{{form.urgency_additional_details}}
              {% if disabled %}disabled{% endif %}</textarea>
        </div>
    </div>
  </div>
</div>

