/* Colour vars */
$dark-grey: #4A4A4A;
$light-grey: #a0a0a0;
$dark-green: #003618;
$mid-green: #00823b;
$nhs-blue: #005EB8;
$nhs-light-blue: #0081cc;
$white: #FFFFFF;
$black: #000000;

/* Font vars */
$primary-font: Arial;
$primary-font-color: $dark-grey;
$default-font-size: 19px;
$default-line-height: 28px;
$nhs-heading-xl-size: 48px;
$nhs-heading-xl-line-height: 56px;
$nhs-heading-l-size: 32px;
$nhs-heading-l-line-height: 40px;
$nhs-heading-m-size: 24px;
$nhs-heading-m-line-height: 32px;
$nhs-heading-s-size: 22px;
$nhs-heading-s-line-height: 32px;
$nhs-heading-xs-size: 19px;
$nhs-heading-xs-line-height: 28px;
$nhs-body-l-size: 24px;
$nhs-body-l-line-height: 32px;
$nhs-body-s-size: 16px;
$nhs-body-s-line-height: 28px;
$link-size: 19px;
$link-line-height: 28px;


/* Notification vars */
$error-color: #aa1414;
$error-background: #f8d7da;
$error-border: #f21f1f;

$success-color: #155724;
$success-background: #d4edda;
$success-border: #c3e6cb;

$info-color: #0c5460;
$info-background: #d1ecf1;
$info-border: #bee5eb;