<div id="{{config.id}}" class="medex-modal-cover">
  <div class="medex-modal">
    <p>{{config.content}}</p>

    <div class="flex-row modal-btn-row">
      <button id="{{config.confirm_btn_id}}" class="nhsuk-button">{{config.confirm_btn_text}}</button>

      {% for button in config.extra_buttons %}
        <button id="{{button.id}}" class="nhsuk-button nhsuk-button--secondary">{{button.text}}</button>
      {% endfor %}

      <button class="modal-cancel-btn">Cancel</button>
    </div>
  </div>
</div>