<h2 class="page-subheading">
    Summary
</h2>

<div class="case-summary flex-row">
    <div class="conversation-outcomes">
        <div class="outcome">
            <p>
                Outcome of pre scrutiny
            </p>

            <p class="outcome-description">
                {{case_outcome.display_pre_scrutiny_outcome}}
            </p>

            <p>
                <a href="{% url 'edit_examination_case_breakdown' examination_id=examination_id %}?amendType=PreScrutiny">Not correct?</a>
            </p>
        </div>

        <div class="outcome">
            <p>
                Outcome of QAP/ME discussion
            </p>

            <p class="outcome-description">
                {{case_outcome.display_qap_outcome}}
            </p>

            <p>
                <a href="{% url 'edit_examination_case_breakdown' examination_id=examination_id %}?amendType=QapDiscussion">Not correct?</a>
            </p>
        </div>

        <div class="outcome">
            <p>
                Outcome of representative discussion
            </p>

            <p class="outcome-description">
                {{case_outcome.display_representative_outcome}}
            </p>

            <p>
                <a href="{% url 'edit_examination_case_breakdown' examination_id=examination_id %}?amendType=BereavedDiscussion">Not correct?</a>
            </p>
        </div>
    </div>

    <div class="overall-outcomes">
        <div class="outcome">
            <p class="outcome-description-heading">
                {{case_outcome.display_outcome_summary.heading}}
            </p>

            <p class="outcome-description-details">
                {{case_outcome.display_outcome_summary.details}}
            </p>
        </div>
    </div>
</div>