<h3 class="page-subheading">
    Summary
</h3>

<div class="case-summary flex-row">
    <div class="conversation-outcomes">
        <div class="outcome">
            <p class="nhsuk-body-m no-margin">
                Recommendation of ME review of records
            </p>
            {% if case_outcome.display_pre_scrutiny_outcome == None %}
            <p class="nhsuk-heading-m nhsuk-font-weight-bold no-margin">
                Pending
            </p>
            {% else %}
            <p class="nhsuk-heading-m nhsuk-font-weight-bold no-margin">
                {{case_outcome.display_pre_scrutiny_outcome}}
            </p>
            {% endif %}

            {% if session_user.permitted_actions.permitted_forms.preScrutinyEvent %}
            <p>
                <a aria-label="Recommendation of ME review of records not correct?"
                    href="{% url 'edit_case_breakdown' examination_id=examination_id %}?amendType=PreScrutiny">Not
                    correct?</a>
            </p>
            {% endif %}
        </div>

        <div class="outcome">
            <p class="nhsuk-body-m no-margin">
                Outcome of QAP/ME discussion
            </p>
            {% if case_outcome.display_qap_outcome == None %}
            <p class="nhsuk-heading-m nhsuk-font-weight-bold no-margin">
                Pending
            </p>
            {% else %}
            <p class="nhsuk-heading-m nhsuk-font-weight-bold no-margin">
                {{case_outcome.display_qap_outcome}}
            </p>
            {% endif %}


            {% if session_user.permitted_actions.permitted_forms.qapDiscussionEvent %}
            <p>
                <a aria-label="Outcome of QAP/ME discussion not correct?"
                    href="{% url 'edit_case_breakdown' examination_id=examination_id %}?amendType=QapDiscussion">Not
                    correct?</a>
            </p>
            {% endif %}
        </div>

        <div class="outcome">
            <p class="nhsuk-body-m no-margin">
                Outcome of representative discussion
            </p>
            {% if case_outcome.display_representative_outcome == None %}
            <p class="nhsuk-heading-m nhsuk-font-weight-bold no-margin">
                Pending
            </p>
            {% else %}
            <p class="nhsuk-heading-m nhsuk-font-weight-bold no-margin">
                {{case_outcome.display_representative_outcome}}
            </p>
            {% endif %}

            {% if session_user.permitted_actions.permitted_forms.bereavedDiscussionEvent %}
            <p>
                <a aria-label="Outcome of representative discussion not correct?"
                    href="{% url 'edit_case_breakdown' examination_id=examination_id %}?amendType=BereavedDiscussion">Not
                    correct?</a>
            </p>
            {% endif %}
        </div>
    </div>

    <div class="overall-outcomes">
        <div class="outcome">

            {% if case_outcome.display_representative_outcome == None or case_outcome.display_qap_outcome == None or case_outcome.display_pre_scrutiny_outcome == None %}
            <p class="nhsuk-heading-l nhsuk-font-weight-bold">
                OUTCOME PENDING
            </p>
            {% else %}
            <p class="nhsuk-heading-l nhsuk-font-weight-bold">
                {{case_outcome.display_outcome_summary.heading}}
            </p>
            {% endif %}

            <p class="nhsuk-heading-l nhsuk-font-weight-bold">
                {{case_outcome.display_outcome_summary.details}}
            </p>
        </div>
    </div>
</div>