<div class="close-case">

    <h3 class="page-subheading">
        Close case
    </h3>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
            <form id="case-close-form" class="form" action="{% url 'view_case_outcome' examination_id=examination_id %}"
                  method="post">
                <!-- Prevent implicit submission of the form -->
                <button type="submit" disabled style="display: none" aria-hidden="true"></button>

                <!-- ... -->

                {% csrf_token %}

                <input class="nhsuk-button submit-btn" type="submit" name="{{case_outcome.CLOSE_CASE_FORM_TYPE}}" value="Close this case"
                       {% if not case_outcome.can_close or disabled %}disabled{% endif %}/>
            </form>
        </div>

        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-inset-text hint-text nhsuk-body-m" id="admin-notes-hint">
                To close a case you must action all the outstanding items.
                Once it is closed it will move into 'closed cases'.
            </div>
        </div>
    </div>
</div>