<div class="scrutiny-confirmation">
    <h3 class="page-subheading">
        Confirmation of scrutiny
    </h3>

    <p class="nhsuk-body-m">
        I confirm that I have carried out independent scrutiny of this death in a way that complies with the relevant
        standards and procedure, and the information provided is true to the best of my knowledge and belief.
    </p>

    <p class="me-name">
        {{case_outcome.me_full_name_with_gmc_number}}
    </p>

    <p class="me-role nhsuk-body-m">
        Medical Examiner
    </p>

    {% if not case_outcome.scrutiny_confirmed %}
    <form id="scrutiny-form" action="{% url 'view_case_outcome' examination_id=examination_id %}"
          method="post">

        <!-- Prevent implicit submission of the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>

        <!-- ... -->
        {% csrf_token %}

        <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
                <input id="scrutiny-confirmation" type="checkbox" name="scrutiny-confirmation" class="nhsuk-checkboxes__input"
                       {% if not case_outcome.scrutiny_actions_complete or not session_user.user_id == case_outcome.me_id %}disabled{% endif %}/>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="scrutiny-confirmation">
                    Confirm scrutiny
                </label>
            </div>
        </div>

        <button id="confirm-scrutiny-button" name="{{ case_outcome.SCRUTINY_CONFIRMATION_FORM_TYPE }}" class="nhsuk-button">
            Submit ME scrutiny
        </button>

        <details class="nhsuk-details helper-text-top-margin">
            <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Why can't I confirm scrutiny?
    </span>
            </summary>
            <div class="nhsuk-details__text">
                <p class="helper-text">In order to confirm scrutiny:</p>
                <ul>
                    <li>You must be the assigned ME to this case</li>
                    <li>Doctor in charge of care must be added to the medical team</li>
                    <li>Latest hospital admission details must be added to the timeline</li>
                    <li>ME review of records must be added to the timeline</li>
                    <li>QAP discussion must be added to the timeline</li>
                    <li>Representative discussion must be added to the timeline</li>
                </ul>
            </div>
        </details>

    </form>
    {% endif %}

    {% if case_outcome.scrutiny_confirmed %}
    <div class="scrutiny-confirmed-tick"></div>

    <p class="scrutiny-date-label">
        Scrutiny confirmed on
    </p>

    <p>
        {{case_outcome.display_scrutiny_date}}
    </p>
    {% endif %}
</div>