{% if case_outcome.show_outstanding_items %}
<div class="outstanding-items">
    <h2 class="page-subheading">
        Outstanding Case items
    </h2>

    <p>
        Following completion of scrutiny, the below should be actioned before a case can be closed.
    </p>

    <form id="outstanding-items-form" class="form" action="{% url 'view_case_outcome' examination_id=examination_id %}"
          method="post">

        <!-- Prevent implicit submission of the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>

        <!-- ... -->
        {% csrf_token %}
        <fieldset class="nhsuk-fieldset" {% if not case_outcome.outstanding_items_enabled %}disabled{% endif %}>


            <legend class="nhsuk-fieldset__legend">
                MCCD
            </legend>

            <p>
                Please select if an MCCD has been written and issued to the patient's representative.
            </p>

            <div class="outstanding-item">
                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input id="mccd-issued" name="mccd_issued" value="true" type="checkbox" class="nhsuk-checkboxes__input" aria-labelledby="mccd-issued"
                               {% if case_outcome.mccd_issued %}checked{% endif %}/>

                        <label class="nhsuk-label nhsuk-checkboxes__label" for="mccd-issued">
                            MCCD issued
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="outstanding-item">
            <fieldset class="nhsuk-fieldset" {% if not case_outcome.outstanding_items_enabled %}disabled{% endif %}>
                <legend class="nhsuk-fieldset__legend">
                    Cremation form
                </legend>

                <p>
                    Has a cremation form been completed for this death?
                </p>
                <div class="nhsuk-radios nhsuk-radios--inline">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="crem-form-1" name="cremation_form" type="radio"
                               value="{{enums.yes_no.YES}}" {% if case_outcome.cremation_form_status == enums.yes_no.YES %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="crem-form-1">
                            Yes
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="crem-form-2" name="cremation_form" type="radio"
                               value="{{enums.yes_no.NO}}" {% if case_outcome.cremation_form_status == enums.yes_no.NO %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="crem-form-2">
                            No
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="crem-form-3" name="cremation_form" type="radio"
                               value="{{enums.yes_no.UNKNOWN}}" {% if case_outcome.cremation_form_status == enums.yes_no.UNKNOWN %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="crem-form-3">
                            Not yet known
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="outstanding-item">
            <fieldset class="nhsuk-fieldset" {% if not case_outcome.outstanding_items_enabled %}disabled{% endif %}>
                <legend class="nhsuk-fieldset__legend">
                    GP notification
                </legend>

                <p>
                    Has the patient's GP been notified of the cause of death?
                </p>
                <div class="nhsuk-radios nhsuk-radios--inline">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="gp-notified-1" name="gp_notified" type="radio"
                               value="{{enums.gp_notified_status.NOTIFIED}}"
                               {% if case_outcome.gp_notified_status == enums.gp_notified_status.NOTIFIED %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="gp-notified-1">
                            GP notified
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="gp-notified-2" name="gp_notified" type="radio"
                               value="{{enums.gp_notified_status.NOT_NOTIFIED}}"
                               {% if case_outcome.gp_notified_status == enums.gp_notified_status.NOT_NOTIFIED %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="gp-notified-2">
                            GP unable to be notified
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="gp-notified-3" name="gp_notified" type="radio"
                               value="{{enums.gp_notified_status.NA}}"
                               {% if case_outcome.gp_notified_status == enums.gp_notified_status.NA %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="gp-notified-3">
                            N/A
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="sticky-save">
            <div class="container">
                <input class="submit-btn" type="submit" name="{{case_outcome.OUTSTANDING_ITEMS_FORM_TYPE}}" value="Save changes"/>
            </div>
        </div>
    </form>
</div>
{% endif %}