@import '../variables';

.footer {
  background-color: $light-grey;
  border-top: 1px solid $dark-grey;
  padding: 70px 0px 60px;

  .disclaimer{
    width: 80%;

    .licence {
      margin-right: 5px;
    }
  }

  .logo {
    img {
      max-height: 140px;
    }

    p {
      margin-bottom: 0px;
    }
  }
}