.footer {
  background-color: #DEE0E2;
  border-top: 1px solid #4A4A4A;
  padding: 70px 0px 60px;

  .disclaimer{
    width: 80%;

    .licence {
      margin-right: 5px;
    }
  }

  .logo {
    img {
      max-height: 140px;
    }

    p {
      margin-bottom: 0px;
    }
  }
}