@import '../variables';

.footer {
  background-color: $nhs-blue;
  color: $white;
  padding: 0.75rem 0px;

  &--row {
    margin: 0.3rem 0px;
    height: 2rem;
  }

  &--divider {
    border-color: $nhs-light-blue;
    border-style: solid;
  }

  &--item {
    font-size: $notification-size;
    margin-right: 1rem;

    a {
      color: $white;
      text-decoration: none;
    }

    p {
      margin: 0px;
    }
  }
}