@import '../variables';

.form {
  margin-top: 3.5rem;

  .form-row {
    margin-bottom: 0.66em;

    label {
      min-width: 200px;
    }

    .form-field {
      font-size: $default-font-size;
      color: $primary-font-color;
      border: 1.2px solid $nhs-light-grey;
      padding: 0.33em 0.5em;

      &::placeholder {
        color: $nhs-light-grey;
      }
    }
  }

  &.error {
    margin-top: 1rem;
    .form-row {
      .form-field {
        border: 1.5px solid $error-border;
      }
    }
  }
}

.checkbox {
  -webkit-appearance: none;
  background-color: $white;
  border: 1.2px solid $nhs-light-grey;
  padding: 0.35rem;
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;

  &:checked {
    &:after {
      content: '\2714';
      font-size: 0.6rem;
      position: absolute;
      top: 0px;
      left: 0.1rem;
      color: $primary-font-color;
    }
  }
}
