@import '../variables';

.form {
  margin-top: 3.5rem;

  .form-row {
    margin-bottom: 0.66em;

    label {
      min-width: 200px;
    }

    .form-field {
      font-size: $default-font-size;
      color: $primary-font-color;
      border: 1.5px solid $dark-grey;
    }
  }
}