@import '../variables';

.notification {
  font-size: $notification-size;
  margin-top: 1.5em;
  margin-bottom: 1em;

  &.error {
    color: $error-color;
    /*background-color: $error-background;
    border-color: $error-border;*/
  }

  &.success {
    color: $success-color;
    /*background-color: $success-background;
    border-color: $success-border;*/
  }

  &.info {
    padding: 0.33em 0.66em;
    border: 1.5px solid transparent;
    border-radius: 0.33em;
    color: $info-color;
    background-color: $info-background;
    border-color: $info-border;
  }
}