@import '../variables';

.notification {
  padding: 5px 10px;
  border: 1.5px solid transparent;
  border-radius: 5px;
  margin-bottom: 15px;

  &.error {
    color: $error-color;
    background-color: $error-background;
    border-color: $error-border;
  }

  &.success {
    color: $success-color;
    background-color: $success-background;
    border-color: $success-border;
  }

  &.info {
    color: $info-color;
    background-color: $info-background;
    border-color: $info-border;
  }
}