@import '../variables';

body {
  background-color: $white;
}

.user-creation-page {
  #new-user-form {
    margin-bottom: 7rem;

    .form-item {
      width: 100%;
      margin-bottom: 3rem;

      &--header {
        display: block;
        margin-bottom: 0.75rem;
      }

      input {
        width: 50%;

        &.error {
          border: 1.5px solid $error-border;
        }
      }

      .dropdown {
        width: 100%;
        max-width: unset;
      }

      .notification {
        margin-top: 0;
      }
    }

    .small-print {
      color: $nhs-light-grey;
    }
  }
}

#permission-builder-form {
  margin-bottom: 7rem;

  #level-radio-buttons, #trust-selector, #region-selector {
    display: none;
  }

  .form-item {
    width: 100%;
    margin-bottom: 3rem;

    &--header {
      display: block;
      margin-bottom: 0.75rem;
    }

    .option-column {
      margin-right: 2rem;
    }

    input {
      width: 50%;

      &.error {
        border: 1.5px solid $error-border;
      }
    }

    .dropdown {
      width: 100%;
      max-width: unset;
    }

    .notification {
      margin-top: 0;
    }
  }

  .small-print {
    color: $nhs-light-grey;
  }
}

.manage-page {
  margin-bottom: $medex-spacing-xl;

  .link-margin {
    margin-left: $medex-spacing-sm;
  }

  .margin-bottom {
    margin-bottom: $medex-spacing-xl;
  }

  .medex-link {
    font-size: $nhs-body-l-size;
  }
}
