.login-page, .forgotten-password-page, .forgotten-userid-page {
  width: 60%;

  #login-form, #reset-form {
    margin-bottom: 150px;

    .form-row {
      .form-field {
        width: 75%;
      }
    }

    .forgotten-creds {
      margin-top: 10px;
    }
  }
}