@import '../variables';
@import '../examinations/partials/case_card';

body {
  background-color: $white;
}

.case-index {
  .index-overview {
    margin-top: $medex-spacing-lg;

    .overview-block {
      border-right: 1px solid $nhs-grey;
      padding: $medex-spacing-xs $medex-spacing-lg;

      &:first-of-type {
        border-left: 1px solid $nhs-grey;
      }

      .overview-heading {
        font-size: $nhs-body-s-size;
        color: $nhs-grey;
        margin: 0;
      }

      .overview-body {
        margin: 0;
        font-size: $nhs-heading-xl-size;
        line-height: $nhs-heading-xl-line-height;

        &.location {
          padding-top: $medex-spacing-xs;
          font-size: $nhs-heading-m-size;
          line-height: $nhs-heading-m-line-height;
        }
      }
    }
  }

  .filters-block {
    margin-top: $medex-spacing-lg;
    margin-bottom: $medex-spacing-xl;

    .nhsuk-select {
        width: 100%
    }
  }

  .sort-block {
    margin-bottom: $medex-spacing-md;
  }

  .page-navigation {
    margin: 25px 0px 30px;
    text-align: right;

    .disabled {
        cursor: not-allowed;
        color: $nhs-light-grey;
    }

    .active {
        cursor: pointer;
    }
  }
}