@import '../partials/_buttons.scss';
@import '../variables';

.login-page {
    width: 60%;

    #sign-in-widget {

        #okta-sign-in.auth-container {
        
            &.main-container {
                margin: 0;
                margin-bottom: 140px;
                border: none;
                box-shadow: none;
                background-color: transparent;

                .okta-sign-in-header.auth-header {
                    border: none;
                }

                .auth-content {
                    padding: 0;

                    .o-form-head {
                        display: none;
                    }

                    .link.js-help-link {
                        display: none;
                    }

                    .o-form-button-bar .button {
                        width: auto;
                    }

                    .button-primary {
                        @extend .submit-btn;
                        background: $nhs-green;
                        padding: 0 1rem;

                        &:hover, &:focus {
                            outline: $focus-width solid $focus-color;
                            outline-offset: -2px;
                        }
                    }

                    .link, label {
                        color: $black;
                    }

                    .custom-checkbox {
                        padding: 0 1rem;

                        & .focus {
                            outline-offset: 4px;
                        }
                    }
                }

                & :focus,
                & :active,
                & .focus {
                    outline: $focus-width solid $focus-color;
                }
            }

            & .okta-form-input-field,
            ::placeholder {
                color: $nhs-grey;
            }

            & .input-tooltip,
            .icon,
            .form-help-16 {
                display: none;
            }
        }
    }
}
