.login-page, .forgotten-password-page, .forgotten-userid-page {
  #login-form, #reset-form {
    margin-bottom: 150px;

    .form-row {
      .form-field {
        width: 200px;
      }
    }

    .forgotten-creds {
      margin-top: 10px;
    }
  }
}