@import '../typography';
@import '../spacing';

.settings-index {
    margin-bottom: $medex-spacing-xl;

    .page-title {
        margin-bottom: $medex-spacing-md;
    }

    .page-subheading {
        font-weight: bold;
    }

    .service-overview {
        margin-bottom: $medex-spacing-xl;

        .trusts {
            margin-right: $medex-spacing-xl;
        }

        .trusts-count, .users-count {
            @extend .xxl-heading-base;
            font-weight: bold;
        }

        .users-label, .trusts-label {
            @extend .l-heading-base;
            margin-top: $medex-spacing-lg;
            font-weight: bold;
        }
    }

    .add-user-btn {
        padding-left: $medex-spacing-xl;
        padding-right: $medex-spacing-xl;
    }
}
