{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/examinations/create.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block page %}
  <div class="examination__create">
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    <h2 class="page-subheading">
      {{ sub_heading }}
    </h2>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}

    <form id="examination__create--form" class="form{% if invalid %} error{% endif %}" action="{% url 'create_examination' %}" method="post">
      {% csrf_token %}

      <!-- Names -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="last_name">Surname</label>

          <input class="form-field" type="text" name="last_name" value="{{form.last_name}}">
        </div>

        <div class="form-item">
          <label class="form-item--header" for="first_name">Given name(s)</label>
          
          <input class="form-field" type="text" name="first_name" value="{{form.first_name}}">
        </div>
      </div>

      <!-- Gender -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="gender">Gender</label>

          <input class="form-field" type="radio" name="gender" value="{{form.gender}}">

          <label>Male</label>

          <input class="form-field" type="radio" name="gender" value="{{form.gender}}">

          <label>Female</label>

          <input class="form-field" type="radio" name="gender" value="{{form.gender}}">

          <label>Other</label>
        </div>
      </div>

      <!-- Numbers -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="nhs_number">NHS Number</label>

          <input class="form-field" type="text" name="nhs_number" value="{{form.nhs_number}}">

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" name="nhs_number_not_known" value="{{form.nhs_number_not_known}}">

            <label for="nhs_number_not_known">Unknown</label>
          </div>
        </div>

        <div class="form-item">
          <label class="form-item--header" for="hospital_number">Hospital Number</label>
          
          <input class="form-field" type="text" name="hospital_number" value="{{form.hospital_number}}" placeholder="Optional">
        </div>
      </div>

      <!-- Dates -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header">Date of birth</label>

          <!-- <input class="form-field" type="text" name="date_of_birth" value="{{form.date_of_birth}}"> -->
          <div class="flex-row baseline">
            <div>
              <label class="form-item--header" for="day_of_birth">Day</label>

              <input class="form-field" type="number" min="1" max="31" name="day_of_birth" value="{{form.day_of_birth}}">
            </div>

            <div>
              <label class="form-item--header" for="month_of_birth">Month</label>

              <input class="form-field" type="number" min="1" max="12" name="month_of_birth" value="{{form.month_of_birth}}">
            </div>

            <div>
              <label class="form-item--header" for="year_of_birth">Year</label>

              <input class="form-field" type="number" min="1900" max="2019" name="year_of_birth" value="{{form.year_of_birth}}">
            </div>
          </div>

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" name="date_of_birth_not_known" value="{{form.date_of_birth_not_known}}">

            <label for="date_of_birth_not_known">Unknown</label>
          </div>
        </div>

        <div class="form-item">
          <label class="form-item--header" for="date_of_death">Date of death</label>
          
          <!-- <input class="form-field" type="text" name="date_of_death" value="{{form.date_of_death}}"> -->
          
          <div class="flex-row baseline">
            <div>
              <label class="form-item--header" for="day_of_death">Day</label>

              <input class="form-field" type="number" min="1" max="31" name="day_of_death" value="{{form.day_of_death}}">
            </div>

            <div>
              <label class="form-item--header" for="month_of_death">Month</label>

              <input class="form-field" type="number" min="1" max="12" name="month_of_death" value="{{form.month_of_death}}">
            </div>

            <div>
              <label class="form-item--header" for="year_of_death">Year</label>

              <input class="form-field" type="number" min="2018" max="3000" name="year_of_death" value="{{form.year_of_death}}">
            </div>
          </div>

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" name="date_of_death_not_known" value="{{form.date_of_death_not_known}}">

            <label for="date_of_death_not_known">Unknown</label>
          </div>
        </div>
      </div>

      <!-- Time of death -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="time_of_death">Time of death</label>

          <input class="form-field" type="time" name="time_of_death" value="{{form.time_of_death}}">

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" name="time_of_death_not_known" value="{{form.time_of_death_not_known}}">

            <label for="time_of_death_not_known">Unknown</label>
          </div>
        </div>
      </div>

      <!-- Location -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="place_of_death">Place where death occurred</label>

          <input class="form-field" type="text" name="place_of_death" value="{{form.place_of_death}}">

          <select class="dropdown" name="place_of_death">
            <option value="" disabled hidden selected>Select a location</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>

        <div class="form-item">
          <label class="form-item--header" for="me_office">ME Office responsible for case</label>

          <!-- <select name="me_office" class="dropdown">
            <option value="" disabled hidden selected>Select an office</option>
            <option value="unknown">Unknown</option>
          </select> -->
          <div class="dropdown">
            <select name="me_office">
              <option value="" disabled hidden selected>Select an office</option>
              <option value="unknown">Unknown</option>
            </select>
          </div>
        </div>
      </div>
      
      <input class="submit-btn" type="submit" value="Create case" />
    </form>

  </div>
{% endblock %}
