<div id="user-{{ user.user_id }}" class="user-card">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
            <p class="user-name">
                {{ user.full_name }}
            </p>
        </div>

        <div class="nhsuk-grid-column-one-third">
            <p class="user-email">
                {{ user.email_address }}
            </p>
        </div>

        <div class="nhsuk-grid-column-one-third">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <p>
                        &nbsp;
                    </p>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <a class="view-btn" href="{% url 'manage_user' user_id=user.user_id %}">
                        Edit user
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
