@import 'partials/header';
@import 'partials/footer';
@import 'partials/notifications';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/modals';
@import 'variables';
@import 'typography';

html {
  font-size: $default-font-size;
}

body {
  margin: 0px;
  font-family: $primary-font;
  color: $primary-font-color;
}

input {
  font-family: $primary-font;
}

p {
  font-size: $default-font-size;
  line-height: $default-line-height;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
  position: relative;
}

.page-content {
  margin-top: 4rem;

  .page-title {
    @extend .xl-heading-base;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .page-subheading {
    @extend .l-heading-base;
    font-weight: 100;
  }
}

.small-print {
  @extend .s-body-base;
}

.flex-row {
  display: flex;
}

.baseline {
  align-items: baseline;
}

.vertical-bottom {
  align-items: flex-end;
}

.vertical-center {
  align-items: center;
}

.flex-vertical {
    flex-direction: column;
}

.inline {
  display: inline;
}
