@import 'variables';

.xxl-heading-base {
    font-size: $nhs-heading-xxl-size;
    line-height: $nhs-heading-xxl-line-height;
}

.xl-heading-base {
    font-size: $nhs-heading-xl-size;
    line-height: $nhs-heading-xl-line-height;
}

.l-heading-base {
    font-size: $nhs-heading-l-size;
    line-height: $nhs-heading-l-line-height;
}

.s-body-base {
    font-size: $nhs-body-s-size;
    line-height: $nhs-body-s-line-height;
}
