@import "spacing";

/* Colour vars */
$nhs-grey: #425563;
$nhs-grey-2: #768692;
$nhs-grey-translucent: rgba(66, 85, 99, 0.6);
$nhs-pale-grey: #E8EDEE;
$nhs-light-grey: #AEB7BD;
$nhs-pale-grey: #E8EDEE;
$nhs-very-light-grey: #F4F4F4;
$nhs-green: #007F3B;
$nhs-dark-green: #003618;
$nhs-aqua-green: #00A499;
$nhs-blue: #005EB8;
$nhs-dark-blue: #003087;
$nhs-bright-blue: #0072CE;
$nhs-light-blue: #41B6E6;
$nhs-aqua-blue: #00A9CE;
$nhs-red: #da291c;
$white: #FFFFFF;
$black: #212B32;
$yellow: #FCEA60;
$pale-yellow: #FFF8CA;

$nhs_disabled-border: #aeb7bd;
$nhs_disabled-background: #f0f4f5;
$disabled-input-color:$nhs-light-grey;

/* Font vars */
$primary-font: Arial;
$primary-font-color: $black;

$default-font-size: 100%;
$default-line-height: 1.5rem;
$nhs-heading-xxl-size: 3rem;
$nhs-heading-xxl-line-height: 3.5rem;
$nhs-heading-xl-size: 2rem;
$nhs-heading-xl-line-height: 2.25rem;
$nhs-heading-l-size: 1.5rem;
$nhs-heading-l-line-height: 2rem;
$nhs-heading-m-size: 1.25rem;
$nhs-heading-m-line-height: 1.75rem;
$nhs-heading-s-size: 1.125rem;
$nhs-heading-s-line-height: 1.75rem;
$nhs-heading-xs-size: 1rem;
$nhs-heading-xs-line-height: 1.5rem;
$nhs-body-l-size: 1.25rem;
$nhs-body-l-line-height: 1.75rem;
$nhs-body-s-size: .875rem;
$nhs-body-s-line-height: 1.5rem;
$link-size: 1rem;
$link-line-height: 1.5rem;

$nhs-font-weight-regular: 400;
$nhs-font-weight-bold: 600;

/* Notification vars */
$error-color: #aa1414;
$error-background: #f8d7da;
$error-border: #DA291C;

$success-color: #155724;
$success-background: #d4edda;
$success-border: #c3e6cb;

$info-color: #0c5460;
$info-background: #d1ecf1;
$info-border: #bee5eb;

$focus-width: 3px;
$focus-color: #FFB81C;

/* Component vars */
$nhs-radios-size: 36px;
$nhs-radios-internal-size: 20px;
$nhs-radios-label-padding-left-right: medex-spacing(1);
$nhs-radios-focus-width: medex-spacing(1);

$medex-mobile-width: 320px;
$medex-tablet-width: 641px;
$medex-desktop-width: 769px;
$medex-large-desktop-width: 990px;