{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/users/lookup.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block page %}
  <div class="user-lookup-page">
    <h1 class="page-title">
      Look up a user
    </h1>

    <h2 class="page-subheading">
      Enter an NHS email address
    </h2>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}

    <form id="lookup-form" action="{% url 'login' %}" method="post">
      {% csrf_token %}

      <div class="flex-row baseline form-row">
        <input class="form-field" type="text" name="email_address" value="{{email_address}}">
      </div>
      
      <input class="submit-btn" type="submit" value="Look up >>" />

    </form>
  </div>
{% endblock %}