<div id="bereavement-cause-of-death-panel" class="cause-of-death-expandable">
    <div class="expandable-header">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h3 class="nhsuk-heading-s">
                    Agreed cause of death
                </h3>
            </div>

            <div class="nhsuk-grid-column-one-third">
                <div class="controls flex-row">
                    <div class="chevron-down"></div>
                    <div class="chevron-up"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="expandable-body">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                {% if case_status.qap_discussion_status == enums.qap_discussion_status.NO_RECORD %}
                    <div class="expandable-body__no-cod-explanation">
                        <p class="nhsuk-body">
                                <span>
                                    A proposed cause of death for this case is still pending because
                                </span>
                        </p>
                        <p class="nhsuk-body">
                                <span class="nhsuk-u-font-weight-bold">
                                    &#x25CF; QAP discussion has not yet been added to the case timeline
                                </span>
                        </p>
                    </div>
                {% else %}
                    {% if case_status.qap_discussion_status == enums.qap_discussion_status.COULD_NOT_HAPPEN %}
                        <div>
                            <div class="expandable-body__context-section">
                                <p class="nhsuk-body-m">Discussion with QAP was unable to happen</p>
                                <p class="nhsuk-body-m">Cause of death established during the review of records by
                                    medical
                                    examiner <span
                                            class="nhsuk-u-font-weight-bold">{{ case_status.user_for_latest_pre_scrutiny }}</span>
                                    on <span
                                            class="nhsuk-u-font-weight-bold">{{ case_status.display_date_of_latest_pre_scrutiny }}</span>
                                    at <span
                                            class="nhsuk-u-font-weight-bold">{{ case_status.display_time_of_latest_pre_scrutiny }}</span>
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div class="expandable-body__context-section">
                                <p class="nhsuk-body-m">Cause of death established by medical examiner <span
                                        class="nhsuk-u-font-weight-bold">{{ case_status.user_for_latest_qap_discussion }}</span>
                                    and QAP
                                    <span class="nhsuk-u-font-weight-bold">{{ case_status.qap_name_for_latest_qap_discussion }}</span>
                                    on <span
                                            class="nhsuk-u-font-weight-bold">{{ case_status.display_date_of_latest_qap_discussion }}</span>
                                    at <span
                                            class="nhsuk-u-font-weight-bold">{{ case_status.display_time_of_latest_qap_discussion }}</span>
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div>
                        <p class="nhsuk-body-m nhsuk-u-font-weight-bold">
                            It is proposed that {{ patient.full_name }} died from
                        </p>
                    </div>
                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_1a">
                            1a
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_1a"
                                  rows="2" disabled>{{ case_status.section_1a }}</textarea>
                    </div>

                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_1b">
                            1b
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_1b"
                                  rows="2" disabled>{{ case_status.section_1b }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_1c">
                            1c
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_1c"
                                  rows="2" disabled>{{ case_status.section_1c }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_2">
                            2
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_2"
                                  rows="2" disabled>{{ case_status.section_2 }}</textarea>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>