{% if agreed_cause_of_death %}
    <div id="{{ prefix }}-cause-of-death-panel" class="cause-of-death-expandable">
        <div class="expandable-header">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h3 class="nhsuk-heading-s">
                        Proposed cause of death
                    </h3>
                </div>

                <div class="nhsuk-grid-column-one-third">
                    <div class="controls flex-row">
                        <div class="chevron-down"></div>
                        <div class="chevron-up"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="expandable-body">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div>
                        <h3 class="nhsuk-heading-s">Cause of death established during scrutiny by Medical Examiner</h3>
                        {% if agreed_cause_of_death.status == enums.cod_status.NOT_DISCUSSED %}
                            <p class="nhsuk-body"><span
                                    class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.medical_examiner }}</span>
                                on <span class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.display_date }} - Pending discussion with QAP</span>
                            </p>
                        {% elif agreed_cause_of_death.status == enums.cod_status.NOT_POSSIBLE %}
                            <p class="nhsuk-body"><span
                                    class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.medical_examiner }}</span>
                                on <span class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.display_date }} - Discussion with QAP was not possible</span>
                            </p>
                        {% else %}
                            <p class="nhsuk-body"><span
                                    class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.medical_examiner }}</span> and <span
                                    class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.qap.name }}</span>
                                on <span class="nhsuk-u-font-weight-bold">{{ agreed_cause_of_death.display_date }}</span>
                            </p>
                        {% endif %}
                    </div>

                    <p class="nhsuk-body-m nhsuk-u-font-weight-bold">
                        It is proposed that {{ patient.full_name }} died from
                    </p>
                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_1a">
                            1a
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_1a"
                                  rows="2" disabled>{{ agreed_cause_of_death.section_1a }}</textarea>
                    </div>

                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_1b">
                            1b
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_1b"
                                  rows="2" disabled>{{ agreed_cause_of_death.section_1b }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_1c">
                            1c
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_1c"
                                  rows="2" disabled>{{ agreed_cause_of_death.section_1c }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_cause_of_death_2">
                            2
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_cause_of_death_2"
                                  rows="2" disabled>{{ agreed_cause_of_death.section_2 }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="qap-cause-of-death-panel" class="cause-of-death-expandable">
        <div class="expandable-header">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h3 class="nhsuk-heading-s">
                        Agreed cause of death
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}