<div class="case-event-forms">
    <h3 class="nhsuk-heading-l">
        Add a new timeline event or continue editing a draft
    </h3>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="form-picker">
                <div class="add-event-header nhsuk-heading-m" id="hidden-text">You are adding...</div>
                <select class="nhsuk-select" id="event-form-picker" name="select-an-event" aria-label="select-an-event">
                    <option value="" disabled hidden selected>Select an event</option>
                    {% for form in forms %}
                        <option value={{ form.id }} {% if form.enabled == 'false' %}disabled{% endif %}>{{ form.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half">
            {% include "examinations/partials/case_breakdown/hints/_event_admin_notes_hint.html" %}

            {% include "examinations/partials/case_breakdown/hints/_event_bereaved_discussion_hint.html" %}

            {% include "examinations/partials/case_breakdown/hints/_event_history_notes_hint.html" %}

            {% include "examinations/partials/case_breakdown/hints/_event_meo_summary_hint.html" %}

            {% include "examinations/partials/case_breakdown/hints/_event_pre_scrutiny_hint.html" %}

            {% include "examinations/partials/case_breakdown/hints/_event_qap_discussion_hint.html" %}

            {% include "examinations/partials/case_breakdown/hints/_event_other_hint.html" %}
        </div>
    </div>

    {% include "examinations/partials/case_breakdown/_event_admin_notes_form.html" with form=form_data.AdmissionNotesEventForm %}

    {% include "examinations/partials/case_breakdown/_event_history_notes_form.html" with form=form_data.MedicalHistoryEventForm %}

    {% include "examinations/partials/case_breakdown/_event_meo_summary_form.html" with form=form_data.MeoSummaryEventForm %}

    {% include "examinations/partials/case_breakdown/_event_pre_scrutiny_form.html" with form=form_data.PreScrutinyEventForm %}

    {% include "examinations/partials/case_breakdown/_event_qap_discussion_form.html" with form=form_data.QapDiscussionEventForm case_status=pre_populated.qap %}

    {% include "examinations/partials/case_breakdown/_event_bereaved_discussion_form.html" with form=form_data.BereavedDiscussionEventForm case_status=pre_populated.bereaved %}

    {% include "examinations/partials/case_breakdown/_event_other_form.html" with form=form_data.OtherEventForm %}
</div>

