<div class="case-timeline">
    <div class="controls nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
            <label class="controls-label">Filters</label>

            <p style="margin: 0; border: 1px solid #000000;display: inline-block;padding: 3px 10px;">
              All events v
            </p>
        </div>

        <div class="nhsuk-grid-column-one-quarter">
            <label class="controls-label">Sort</label>

            <p style="margin: 0; border: 1px solid #000000;display: inline-block;padding: 3px 10px;">
              Newest v
            </p>
        </div>
    </div>

    <div style="width:100%;height:150px;background-color:rgba(234, 207, 28, 0.6);padding:30px 50px;">
        <h1>Holding Space For Timeline</h1>
    </div>
</div>