<div id="qap-discussion" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input name="qap_discussion_id" value="{{ form.event_id }}" hidden>{% endif %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <p class="nhsuk-label nhsuk-u-font-weight-bold">
                Who is the discussion with?
            </p>
        </div>
    </div>

    <div class="radio-toggle-group">
        <div class="nhsuk-grid-row {% if not qap %}nhsuk-u-visually-hidden{% endif %}">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-u-visually-hidden">
                            QAP Discussion Participant
                        </legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input radio-toggle-group__radio"
                                       id="qap-discussion-with-qap" name="qap-discussion-doctor"
                                       type="radio" value="qap"
                                       {% if form.discussion_participant_type == "qap" %}checked{% endif %}
                                {% if form.discussion_participant_type == "" and qap %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-with-qap">
                                    {{ qap.name }}
                                </label>

                                <input type="hidden" name="qap-default__full-name" value="{{ qap.name }}"/>
                                <input type="hidden" name="qap-default__role" value="{{ qap.role }}"/>
                                <input type="hidden" name="qap-default__organisation"
                                       value="{{ qap.organisation }}"/>
                                <input type="hidden" name="qap-default__phone-number"
                                       value="{{ qap.phone_number }}"/>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input radio-toggle-group__radio"
                                       id="qap-discussion-with-other"
                                       name="qap-discussion-doctor" type="radio" value="other"
                                       {% if form.discussion_participant_type == "other" %}checked{% endif %}
                                {% if form.discussion_participant_type == "" and not qap %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-with-other">
                                    Another doctor
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div id="qap-discussion-with-qap__panel"
             class="radio-toggle-group__panel inset-text-panel {% if form.discussion_participant_type != form.QAP_PARTICIPANT %}nhsuk-u-visually-hidden{% endif %}">
            <div class="case-breakdown-form-group">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap_discussion_with_qap">
                                    Role
                                </label>
                                <p class="nhsuk-body-m" id="qap_discussion_with_qap">{{ qap.role }}</p>
                            </div>
                        </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap_discussion_with_qap_organisation">
                                    Organisation
                                </label>
                                <p class="nhsuk-body-m" id="qap_discussion_with_qap_organisation">{{ qap.organisation
                                    }}</p>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap_discussion_with_qap_phone_number">
                                    Personal phone/ bleep number
                                </label>
                                <p class="nhsuk-body-m" id="qap_discussion_with_qap_phone_number">{{ qap.phone_number
                                    }}</p>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div id="qap-discussion-with-other__panel"
             class="radio-toggle-group__panel {% if form.discussion_participant_type != form.OTHER_PARTICIPANT %}nhsuk-u-visually-hidden{% endif %}">
            {% if form.errors.participant %}
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_qap_details">{{ form.errors.participant }}</span>
                </div>
            </div>
            {% endif %}

            <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.participant %}nhsuk-form-group--error{% endif %}">
                <div class="nhsuk-grid-row">

                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <label class="nhsuk-label" for="qap-other__full-name-input">
                                Full name
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10 margin-bottom{% if form.errors.participant %}nhsuk-input--error{% endif %}"
                                   id="qap-other__full-name-input" name="qap-other__full-name"
                                   value="{{ form.qap_discussion_name }}" type="text">
                        </fieldset>
                    </div>


                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <label class="nhsuk-label" for="qap_discussion_role">
                                Role
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10 margin-bottom"
                                   id="qap_discussion_role" name="qap-other__role"
                                   value="{{ form.qap_discussion_role }}" type="text">
                        </fieldset>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <label class="nhsuk-label" for="qap_discussion_organisation">
                                Organisation
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10 margin-bottom"
                                   id="qap_discussion_organisation" name="qap-other__organisation"
                                   value="{{ form.qap_discussion_organisation }}" type="text">
                        </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <label class="nhsuk-label" for="qap_discussion_phone_number">
                                Personal phone/ bleep number
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10 margin-bottom"
                                   id="qap_discussion_phone_number" name="qap-other__phone-number"
                                   value="{{ form.qap_discussion_phone_number }}" type="text">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__date-time">
        <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.time_of_conversation %}nhsuk-form-group--error{% endif %}">

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="medex-text-checkbox-group__textbox">
                        <fieldset class="nhsuk-fieldset" aria-describedby="date_of_conversation">
                            <legend class="nhsuk-fieldset__legend">
                                Date of conversation
                            </legend>
                            {% if form.errors.time_of_conversation %}
                            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_qap_discussion_date">{{ form.errors.time_of_conversation }}</span>{% endif %}
                            <div class="nhsuk-date-input margin-bottom" id="date_of_conversation">
                                <div class="nhsuk-date-input__item">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="qap_day_of_conversation">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="qap_day_of_conversation" name="qap_day_of_conversation"
                                           type="number"
                                           pattern="[0-9]*"
                                           value="{{ form.day_of_conversation }}">
                                </div>
                                <div class="nhsuk-date-input__item">
                                    <label class="nhsuk-label nhsuk-date-input__label"
                                           for="qap_month_of_conversation">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="qap_month_of_conversation" name="qap_month_of_conversation"
                                           type="number"
                                           pattern="[0-9]*"
                                           value="{{ form.month_of_conversation }}">
                                </div>
                                <div class="nhsuk-date-input__item">
                                    <label class="nhsuk-label nhsuk-date-input__label"
                                           for="qap_year_of_conversation">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input"
                                           id="qap_year_of_conversation" name="qap_year_of_conversation"
                                           type="number"
                                           pattern="[0-9]*"
                                           value="{{ form.year_of_conversation }}">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="medex-text-checkbox-group__textbox" id="time_of_death_group">
                        <label class="nhsuk-label" for="qap_time_of_conversation">
                            Time of conversation
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-4 medex-input" id="qap_time_of_conversation"
                               name="qap_time_of_conversation"
                               type="time"
                               value="{{ form.time_of_conversation }}">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="qap-discussion__discussion-could-not-happen" class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                    <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="qap-discussion-could-not-happen"
                                   name="qap_discussion_could_not_happen"
                                   value="{{ enums.yes_no.YES }}"
                                   type="checkbox"
                                   {% if form.discussion_could_not_happen == enums.yes_no.YES %}
                                   checked{% endif %}>
                            <label class="nhsuk-label nhsuk-checkboxes__label"
                                   for="qap-discussion-could-not-happen">
                                Tick if this discussion with a qap was unable to happen at all
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>

    {% include "examinations/partials/case_breakdown/_cause_of_death.html" with prefix="qap" %}

    <div id="qap-discussion__details">
        <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.details %}nhsuk-form-group--error{% endif %}">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <label class="nhsuk-label nhsuk-u-font-weight-bold margin-section" for="qap_discussion_details">
                        Details of the discussion?
                    </label>
                    <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_qap_discussion_details">{{ form.errors.details }}</span>
                    <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_details" id="qap_discussion_details"
                              rows="6">{{ form.discussion_details }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="qap-discussion__outcome">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group {% if form.errors.outcome %}nhsuk-form-group--error{% endif %}">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-label nhsuk-u-font-weight-bold">
                            Outcomes of discussion
                        </legend>
                        <span class="nhsuk-hint" id="example-hint">
                          What was officially decided by the ME and QAP?
                        </span>
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_qap_discussion_outcome">{{ form.errors.outcome }}</span>

                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-radio"
                                       id="qap-discussion-outcome-mccd"
                                       name="qap-discussion-outcome"
                                       type="radio" value="{{ enums.outcomes.MCCD }}"
                                       {% if form.outcome == enums.outcomes.MCCD %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-mccd">
                                    MCCD to be issued
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-radio"
                                       id="qap-discussion-outcome-coroner"
                                       name="qap-discussion-outcome" type="radio" value="{{ enums.outcomes.CORONER }}"
                                       {% if form.outcome == enums.outcomes.CORONER %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-coroner">
                                    Refer to coroner
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__outcome-decision">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group {% if form.errors.outcome_decision %}nhsuk-form-group--error{% else %}inset-text-panel{% endif %}">

                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-hint" id="decision-hint">
                            What was decided about the cause of death?
                        </legend>
                        <span class="nhsuk-error-message medex-font-default-override">{{ form.errors.outcome_decision }}</span>
                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                       id="qap-discussion-outcome-decision-1"
                                       name="qap-discussion-outcome-decision"
                                       type="radio" value="{{ enums.outcomes.MCCD_FROM_QAP }}"
                                       {% if form.outcome_decision == enums.outcomes.MCCD_FROM_QAP %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="qap-discussion-outcome-decision-1">
                                    Cause of death established by the QAP
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                       id="qap-discussion-outcome-decision-2"
                                       name="qap-discussion-outcome-decision" type="radio"
                                       value="{{ enums.outcomes.MCCD_FROM_ME }}"
                                       {% if form.outcome_decision == enums.outcomes.MCCD_FROM_ME %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="qap-discussion-outcome-decision-2">
                                    Cause of death established by ME and accepted by QAP
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                       id="qap-discussion-outcome-decision-3"
                                       name="qap-discussion-outcome-decision" type="radio"
                                       value="{{ enums.outcomes.MCCD_FROM_QAP_AND_ME }}"
                                       {% if form.outcome_decision == enums.outcomes.MCCD_FROM_QAP_AND_ME %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="qap-discussion-outcome-decision-3">
                                    ME and QAP have agreed a new cause of death
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__coroner-decision">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group {% if form.errors.coroner_decision %}nhsuk-form-group--error{% else %}inset-text-panel{% endif %}">

                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-u-visually-hidden">
                            Refer to coroner options
                        </legend>
                        <span class="nhsuk-error-message medex-font-default-override">{{ form.errors.coroner_decision }}</span>
                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-coroner-outcome-decision-radio"
                                       id="qap-coroner-outcome-decision-1"
                                       name="qap-coroner-outcome-decision"
                                       type="radio" value="{{ enums.outcomes.CORONER_100A }}"
                                       {% if form.coroner_decision == enums.outcomes.CORONER_100A %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="qap-coroner-outcome-decision-1">
                                    For permission to issue an MCCD with 100a
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-coroner-outcome-decision-radio"
                                       id="qap-coroner-outcome-decision-2"
                                       name="qap-coroner-outcome-decision" type="radio"
                                       value="{{ enums.outcomes.CORONER_INVESTIGATION }}"
                                       {% if form.coroner_decision == enums.outcomes.CORONER_INVESTIGATION %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="qap-coroner-outcome-decision-2">
                                    For an investigation
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__outcome-revised">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.1a %}nhsuk-form-group--error{% endif %}">
                    <label class="nhsuk-label nhsuk-u-font-weight-bold">
                        Revised cause of death agreed
                    </label>
                    <span class="nhsuk-error-message medex-font-default-override">{{ form.errors.1a }}</span>

                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_1a">
                            1a
                        </label>
                        <textarea id="qap_discussion_revised_1a" class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_1a"
                                  rows="2">{{ form.cause_of_death.section_1a }}</textarea>
                    </div>

                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_1b">
                            1b
                        </label>
                        <textarea id="qap_discussion_revised_1b" class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_1b"
                                  rows="2">{{ form.cause_of_death.section_1b }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_1c">
                            1c
                        </label>
                        <textarea id="qap_discussion_revised_1c" class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_1c"
                                  rows="2">{{ form.cause_of_death.section_1c }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_2">
                            2
                        </label>
                        <textarea id="qap_discussion_revised_2" class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_2"
                                  rows="2">{{ form.cause_of_death.section_2 }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__save-buttons" class="nhsuk-form-group margin-bottom">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <button class="nhsuk-button add-event-btn" type="submit" value="qap-discussion"
                        name="add-event-to-timeline">Add event to timeline
                </button>
                <button class="nhsuk-button nhsuk-button--secondary add-another-btn" type="submit"
                        value="qap-discussion" name="save-as-draft">Save as draft
                </button>
            </div>
        </div>
    </div>
</div>
