<div id="other" class="event-form">
    <div class="nhsuk-form-group">
        <label class="nhsuk-heading-l" for="more-detail">
            Other relevant information
        </label>
        <textarea class="nhsuk-textarea" id="more-detail" name="more-detail" rows="5"
                  aria-describedby="more-detail-hint"></textarea>

        <div class="nhsuk-grid-row" id="other-notes-section">
            <div class="nhsuk-grid-column-full">
                <input id="submit-btn" class="nhsuk-button" type="submit" value="Add event to timeline"
                       name="add-event-to-timeline"/>
                <input id="add-another-btn" class="nhsuk-button nhsuk-button--secondary" type="submit"
                       value="Save as draft"
                       name="save-as-draft"/>
            </div>
        </div>
    </div>
</div>