<div id="pre-scrutiny" class="event-form">
    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="me-thoughts">
            Pre-scrutiny thoughts of the Medical Examiner assigned to this case
        </label>
        <span class="nhsuk-hint" id="more-detail-hint">Initial draft notes from the medical examiner on possible causes of death</span>
        <textarea class="nhsuk-textarea margin-bottom" id="me-thoughts" name="me-thoughts" rows="5"
                  aria-describedby="more-detail-hint"></textarea>
    </div>


    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="circumstances-of-death">
            Overall circumstances of death
        </label>
        <span class="nhsuk-hint" id="circumstances-of-death">Based on the information scrutinised, the death was:</span>
        <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cod-1" name="cod" type="radio" value="Expected">
                <label class="nhsuk-label nhsuk-radios__label" for="cod-1">
                    Expected
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cod-2" name="cod" type="radio" value="Unexpected">
                <label class="nhsuk-label nhsuk-radios__label" for="cod-2">
                    Unexpected
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cod-3" name="cod" type="radio" value="SuddenButNotUnexpected">
                <label class="nhsuk-label nhsuk-radios__label" for="cod-3">
                    Sudden but not unexpected
                </label>
            </div>
            <div class="nhsuk-radios__item margin-bottom">
                <input class="nhsuk-radios__input" id="cod-4" name="cod" type="radio" value="PartOfAnIndividualisedEndOfLifeCarePlan">
                <label class="nhsuk-label nhsuk-radios__label" for="cod-4">
                    Part of an individualised end of life care plan
                </label>
            </div>
        </div>
    </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold">
            Possible cause of death established during scrutiny by Medical Examiner
        </label>

        <label class="nhsuk-label" for="possible-cod-1a">
            1a
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-1a" name="possible-cod-1a" rows="2"
                  aria-describedby="possible-cod-1a"></textarea>

        <label class="nhsuk-label" for="possible-cod-1b">
            1b
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-1b" name="possible-cod-1b" rows="2"
                  aria-describedby="possible-cod-1b"></textarea>

        <label class="nhsuk-label" for="possible-cod-1c">
            1c
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-1c" name="possible-cod-1c" rows="2"
                  aria-describedby="possible-cod-1c"></textarea>


        <label class="nhsuk-label" for="possible-cod-2">
            2
        </label>
        <textarea class="nhsuk-textarea margin-bottom" id="possible-cod-2" name="possible-cod-2" rows="2"
                  aria-describedby="possible-cod-2"></textarea>
    </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="outcome-of-pre-scrutiny" id="outcome-of-pre-scrutiny">
            Overall outcome of pre-scrutiny
        </label>
        <span class="nhsuk-hint" id="outcome-hint">Based on the information assessed so far, what do you believe is the likely outcome of this case?</span>
        <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="outcome-of-pre-scrutiny-1" name="ops" type="radio"
                       value="IssueAnMccd">
                <label class="nhsuk-label nhsuk-radios__label" for="outcome-of-pre-scrutiny-1">
                    Issue an MCCD
                </label>
            </div>
            <div class="nhsuk-radios__item margin-bottom">
                <input class="nhsuk-radios__input" id="outcome-of-pre-scrutiny-2" name="ops" type="radio"
                       value="ReferToCoroner">
                <label class="nhsuk-label nhsuk-radios__label" for="outcome-of-pre-scrutiny-2">
                    Refer to coroner
                </label>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="governance-review" id="governance-review">
                    Clinical governance review or learning opportunity
                </label>
                <span class="nhsuk-hint" id="governance-hint">Is there any reason why this case should be referred for a review?</span>
                <div class="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="governance-review-1" name="gr" type="radio"
                               value="Yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="governance-review-1">
                            Yes
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="governance-review-2" name="gr" type="radio"
                               value="No">
                        <label class="nhsuk-label nhsuk-radios__label" for="governance-review-2">
                            No
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="governance-review-3" name="gr" type="radio"
                               value="Unknown">
                        <label class="nhsuk-label nhsuk-radios__label" for="governance-review-3">
                            Unknown
                        </label>
                    </div>
                    <textarea class="nhsuk-textarea text-area-margin margin-bottom" id="governance-review-text"
                              name="grt" rows="2" aria-describedby="gr"></textarea>
                </div>
            </div>

            <div class="nhsuk-warning-callout disclaimer-margin">
                <h3 class="nhsuk-warning-callout__label">Disclaimer</h3>
                <p>The information submitted is an initial view on the cause of death. It conveys only part of the
                    Medical
                    Examiner's scrutiny and is by no means a confirmation of how an individual died.</p>
            </div>

            <div class="nhsuk-form-group margin-bottom">
                <div class="nhsuk-grid-row" id="other-notes-section">
                    <div class="nhsuk-grid-column-full">
                        <button id="submit-btn" class="nhsuk-button" type="submit" value="pre-scrutiny"
                               name="add-event-to-timeline">Add event to timeline</button>
                        <button id="add-another-btn" class="nhsuk-button nhsuk-button--secondary" type="submit"
                               value="pre-scrutiny" name="save-as-draft">Save as draft</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

