<div id="medical-history" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input name="medical_history_id" value="{{ form.event_id }}" hidden>{% endif %}

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.medical_history_details %}nhsuk-form-group--error{% endif %}">
        <label class="nhsuk-heading-s medex-heading-s" for="medical-history-details" id="medical_history_details_label">
            Medical and social history
        </label>

        <span class="nhsuk-hint" id="more-detail-hint">
        What is the patient's medical and social history?
            </span>
        {% if form.errors.medical_history_details %}
        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_medical_history_details">{{ form.errors.medical_history_details }}</span>{% endif %}
        <textarea class="nhsuk-textarea more-detail" id="medical-history-details" name="medical-history-details"
                  rows="5"
                  aria-describedby="more-detail-hint">{{ form.medical_history_details }}</textarea>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <button class="nhsuk-button add-event-btn" type="submit" value="medical-history"
                    name="add-event-to-timeline">Add event to timeline
            </button>
            <button class="nhsuk-button nhsuk-button--secondary add-another-btn" type="submit"
                    value="medical-history" name="save-as-draft">Save as draft
            </button>
        </div>
    </div>
</div>
