<div id="meo-summary" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input name="meo_summary_id" value="{{ form.event_id }}" hidden>{% endif %}

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.meo_summary_notes %}nhsuk-form-group--error{% endif %}">
        <label class="nhsuk-heading-s nhsuk-u-font-weight-bold" for="meo_summary_notes">
            MEO Summary
        </label>
        {% if form.errors.meo_summary_notes %}
        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_meo_summary_details">{{ form.errors.meo_summary_notes }}</span>{% endif %}
        <span class="medex-hint">Summarise the key information about this case</span>
        <textarea id="meo_summary_notes" class="nhsuk-textarea more-detail" name="meo_summary_notes"
                  rows="6">{{ form.meo_summary_notes }}</textarea>
    </div>
    <div class="nhsuk-form-group">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <button class="nhsuk-button add-event-btn" type="submit" value="meo-summary"
                        name="add-event-to-timeline">Add event to timeline
                </button>
                <button class="nhsuk-button nhsuk-button--secondary add-another-btn" type="submit"
                        value="meo-summary" name="save-as-draft">Save as draft
                </button>
            </div>
        </div>
    </div>
</div>