<div id="other" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input name="other_notes_id" value="{{form.event_id}}" hidden>{% endif %}

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.more_detail %}nhsuk-form-group--error{% endif %}">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="more_detail">
            Other relevant information
        </label>
        {% if form.errors.more_detail %}
        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_other_details">{{ form.errors.more_detail }}</span>{% endif %}
        <textarea class="nhsuk-textarea more-detail" id="more_detail" name="more_detail" rows="5"
                  aria-describedby="more-detail-hint">{{form.more_detail}}</textarea>
    </div>

    <div class="nhsuk-grid-row" id="other-notes-section">
        <div class="nhsuk-grid-column-full">
            <button id="submit-btn" class="nhsuk-button" type="submit" value="other"
                    name="add-event-to-timeline">Add event to timeline
            </button>
            <button id="add-another-btn" class="nhsuk-button nhsuk-button--secondary" type="submit"
                    value="other" name="save-as-draft">Save as draft
            </button>
        </div>
    </div>

</div>