<div id="admin-notes" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input name="admission_notes_id" value="{{ form.event_id }}" hidden>{% endif %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <label class="nhsuk-label nhsuk-u-font-weight-bold">
                Latest hospital admission details
            </label>
            <span class="medex-hint">When was the patient admitted to hospital?</span>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-form-group {% if form.errors.date_of_last_admission %}nhsuk-form-group--error{% endif %}">
                <div class="medex-text-checkbox-group__textbox">
                    <fieldset class="nhsuk-fieldset" role="group">
                        {% if form.errors.date_of_last_admission %}
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_date_admitted">{{ form.errors.date_of_last_admission }}</span>
                        {% endif %}
                        <div class="nhsuk-date-input" id="date_of_last_admission">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="day_of_last_admission">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="day_of_last_admission" name="day_of_last_admission" type="number"
                                           pattern="[0-9]*"
                                           value="{{ form.admission_day }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="month_of_last_admission">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                           id="month_of_last_admission" name="month_of_last_admission" type="number"
                                           pattern="[0-9]*"
                                           value="{{ form.admission_month }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="year_of_last_admission">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input"
                                           id="year_of_last_admission" name="year_of_last_admission" type="number"
                                           pattern="[0-9]*"
                                           value="{{ form.admission_year }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="nhsuk-fieldset">
                    <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="date_of_last_admission_not_known"
                                   name="date_of_last_admission_not_known" type="checkbox"
                                   value="{{ enums.true_false.TRUE }}"
                                   {% if form.admission_date_unknown %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-checkboxes__label"
                                   for="date_of_last_admission_not_known">
                                Unknown
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <!-- Time of latest admission -->
    <div class="nhsuk-grid-row more-detail">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-form-group medex-text-checkbox-group {% if form.errors.time_of_last_admission %}nhsuk-form-group--error{% endif %}">
                <div class="medex-text-checkbox-group__textbox" id="time_of_last_admission_group">
                    <label class="nhsuk-label" for="time_of_last_admission">
                        Time
                    </label>
                    {% if form.errors.time_of_last_admission %}
                    <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_time_admitted">{{ form.errors.time_of_last_admission }}</span>
                    {% endif %}
                    <input class="nhsuk-input nhsuk-input--width-10 medex-input" id="time_of_last_admission"
                           name="time_of_last_admission"
                           type="time"
                           step="60"
                           value="{{ form.admission_time }}">
                </div>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-checkboxes">
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="time_of_last_admission_not_known"
                                       name="time_of_last_admission_not_known" type="checkbox"
                                       value="{{ enums.true_false.TRUE }}" {% if form.admission_time_unknown %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-checkboxes__label"
                                       for="time_of_last_admission_not_known">
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="admission_notes">
                Notes about the latest admission to hospital
            </label>
            <span class="medex-hint">Why were they admitted? What were the circumstances for admission?</span>
            <textarea id="admission_notes" class="nhsuk-textarea more-detail" name="latest_admission_notes"
                      rows="6">{{ form.admission_notes }}</textarea>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.latest_admission_immediate_referral %}nhsuk-form-group--error{% endif %}">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-label nhsuk-u-font-weight-bold">
                        Do you suspect this case may need immediate coroner referral?
                    </legend>
                    {% if form.errors.latest_admission_immediate_referral %}
                    <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_immediate_referral">{{ form.errors.latest_admission_immediate_referral }}</span>
                    {% endif %}
                    <span class="medex-hint">This will fast track the case to ME review of records where they will be able to confirm the referral.</span>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" name="latest_admission_immediate_referral"
                                   id="latest_admission_immediate_referral_yes"
                                   type="radio" value="{{ form.YES }}" {% if form.coroner_referral == form.YES %}
                                   checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="latest_admission_immediate_referral_yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" name="latest_admission_immediate_referral"
                                   id="latest_admission_immediate_referral_no"
                                   type="radio" value="{{ form.NO }}" {% if form.coroner_referral == form.NO %}
                                   checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="latest_admission_immediate_referral_no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div id="latest-route-of-admission" class="more-detail">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold">
                            Route of hospital admission
                        </legend>
                        {% if form.errors.route_of_admission %}
                    <span class="nhsuk-error-message medex-font-default-override">{{ form.errors.route_of_admission }}</span>
                    {% endif %}
                        <span class="nhsuk-hint" id="example-hint">
                              How was the patient admitted?
                        </span>
                        <div class="nhsuk-radios">
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-one-third">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-ae"
                                               name="latest_admission_route"
                                               type="radio" value="{{ enums.route_of_admission.AE }}"
                                        {% if form.route_of_admission == enums.route_of_admission.AE %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-ae">
                                            A&E
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-transfer"
                                               name="latest_admission_route" type="radio" value="{{ enums.route_of_admission.TRANSFER }}"
                                               {% if form.route_of_admission == enums.route_of_admission.TRANSFER %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-transfer">
                                            Transfer from another hospital
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-unknown"
                                               name="latest_admission_route" type="radio" value="{{ enums.route_of_admission.UNKNOWN }}"
                                        {% if form.route_of_admission == enums.route_of_admission.UNKNOWN %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-paramedic">
                                            Unknown
                                        </label>
                                    </div>
                                </div>
                                <div class="nhsuk-grid-column-one-third">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-ward"
                                               name="latest_admission_route" type="radio" value="{{ enums.route_of_admission.WARD }}"
                                        {% if form.route_of_admission == enums.route_of_admission.WARD %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-ward">
                                            Direct to the ward
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-paramedic"
                                               name="latest_admission_route" type="radio" value="{{ enums.route_of_admission.PARAMEDIC }}"
                                        {% if form.route_of_admission == enums.route_of_admission.PARAMEDIC %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-paramedic">
                                            Paramedic to specialist center
                                        </label>
                                    </div>
                                </div>
                                <div class="nhsuk-grid-column-one-third">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-gp"
                                               name="latest_admission_route" type="radio" value="{{ enums.route_of_admission.GP }}"
                                        {% if form.route_of_admission == enums.route_of_admission.GP %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-gp">
                                            GP referral
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               id="latest-admission-outpatient"
                                               name="latest_admission_route" type="radio" value="{{ enums.route_of_admission.OUTPATIENT }}"
                                        {% if form.route_of_admission == enums.route_of_admission.OUTPATIENT %}checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="latest-admission-outpatient">
                                            From outpatient clinic
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="latest-admission__save-buttons" class="nhsuk-form-group more-detail">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <button class="nhsuk-button add-event-btn" type="submit" disabled value="admission-notes"
                        name="add-event-to-timeline">Add event to timeline
                </button>
                <button class="nhsuk-button nhsuk-button--secondary add-another-btn" disabled type="submit"
                        value="admission-notes" name="save-as-draft">Save as draft
                </button>
            </div>
        </div>
    </div>
</div>