<div id="qap-discussion" class="event-form">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <p class="nhsuk-heading-s">
                Who is the discussion with?
            </p>
        </div>
    </div>

    <div class="radio-toggle-group">
        <div class="nhsuk-grid-row {% if not qap_form.default_qap %}nhsuk-u-visually-hidden{% endif %}">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input radio-toggle-group__radio" id="qap-discussion-with-qap" name="qap-discussion-doctor"
                                       type="radio" value="qap" {% if qap_form.use_default_qap %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-with-qap">
                                    {{ qap_form.default_qap.name }}
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input radio-toggle-group__radio" id="qap-discussion-with-other"
                                       name="qap-discussion-doctor" type="radio" value="other"
                                       {% if qap_form.use_default_qap == False %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-with-other">
                                    Another doctor
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div id="qap-discussion-with-qap__panel"
             class="radio-toggle-group__panel inset-text-panel {% if qap_form.use_default_qap == False %}nhsuk-u-visually-hidden{% endif %}">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap-other__full-name-input">
                                Role
                            </label>
                            <p class="nhsuk-body-m">{{ qap_form.default_qap.role }}</p>
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap_discussion_role">
                                Organisation
                            </label>
                            <p class="nhsuk-body-m">{{ qap_form.default_qap.organisation }}</p>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap_discussion_phone_number">
                                Personal phone/ bleep number
                            </label>
                            <p class="nhsuk-body-m">{{ qap_form.default_qap.phone_number }}</p>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div id="qap-discussion-with-other__panel"
             class="radio-toggle-group__panel {% if qap_form.use_default_qap == True %}nhsuk-u-visually-hidden{% endif %}">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group {% if errors.qap_discussion_full_name %}nhsuk-form-group--error{% endif %}">
                            <label class="nhsuk-label" for="qap-other__full-name-input">
                                Full name
                            </label>
                            {% if errors.qap_discussion_full_name %}
                                <span class="nhsuk-error-message medex-font-default-override">{{ errors.qap_other_full_name }}</span>{% endif %}
                            <input class="nhsuk-input nhsuk-input--width-10 {% if errors.full_name %}nhsuk-input--error{% endif %}"
                                   id="qap-other__full-name-input" name="qap-other__full-name-input"
                                   value="{{ form.qap_discussion_full_name }}" type="text">
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="qap_discussion_role">
                                Role
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10"
                                   id="qap_discussion_role" name="qap_discussion_role"
                                   value="{{ form.qap_discussion_role }}" type="text">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="qap_discussion_organisation">
                                Organisation
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10"
                                   id="qap_discussion_organisation" name="qap_discussion_organisation"
                                   value="{{ form.qap_discussion_organisation }}" type="text">
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="qap_discussion_phone_number">
                                Personal phone/ bleep number
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10"
                                   id="qap_discussion_phone_number" name="qap_discussion_phone_number"
                                   value="{{ form.qap_discussion_phone_number }}" type="text">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__date-time">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group {% if errors.qap_date_of_conversation %}nhsuk-form-group--error{% endif %}">
                    <div class="medex-text-checkbox-group__textbox">
                        <fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
                            <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold">
                                Date of conversation
                            </legend>
                            {% if errors.qap_date_of_conversation %}
                                <span class="nhsuk-error-message medex-font-default-override">{{ errors.qap_date_of_conversation }}</span>{% endif %}
                            <div class="nhsuk-date-input" id="date_of_birth">
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label" for="day_of_birth">
                                            Day
                                        </label>
                                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                               id="qap_day_of_conversation" name="qap_day_of_conversation" type="number"
                                               pattern="[0-9]*"
                                               value="{{ qap_form.day_of_conversation }}">
                                    </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label"
                                               for="qap_month_of_conversation">
                                            Month
                                        </label>
                                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 medex-input"
                                               id="qap_month_of_conversation" name="qap_month_of_conversation"
                                               type="number"
                                               pattern="[0-9]*"
                                               value="{{ qap_form.month_of_conversation }}">
                                    </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label"
                                               for="qap_year_of_conversation">
                                            Year
                                        </label>
                                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 medex-input"
                                               id="qap_year_of_conversation" name="qap_year_of_conversation"
                                               type="number"
                                               pattern="[0-9]*"
                                               value="{{ qap_form.year_of_conversation }}">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="nhsuk-form-group medex-text-checkbox-group {% if errors.time_of_death %}nhsuk-form-group--error{% endif %}">
                    <div class="medex-text-checkbox-group__textbox" id="time_of_death_group">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="time_of_conversation">
                            Time of conversation
                        </label>
                        {% if errors.qap_time_of_conversation %}
                            <span class="nhsuk-error-message medex-font-default-override">{{ errors.qap_time_of_conversation }}</span>{% endif %}
                        <input class="nhsuk-input nhsuk-input--width-4 medex-input" id="qap_time_of_conversation"
                               name="qap_time_of_conversation"
                               type="time"
                               value="{{ qap_form.time_of_conversation }}">
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include "examinations/partials/case_breakdown/_cause_of_death.html" %}

    <div id="qap-discussion__details">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="qap_discussion_details">
                    Details of the discussion?
                </label>
                <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_details"
                          rows="6">{{ qap_form.details }}</textarea>
            </div>
        </div>
    </div>

    <div id="qap-discussion__outcome">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold">
                            Outcomes of discussion
                        </legend>

                        <span class="nhsuk-hint" id="example-hint">
                          What was officially decided by the ME and QAP?
                    </span>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-radio"
                                       id="qap-discussion-outcome-mccd"
                                       name="qap-discussion-outcome"
                                       type="radio" value="mccd" {% if qap_form.outcome == "mccd" %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-mccd">
                                    MCCD to be issued
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-radio"
                                       id="qap-discussion-outcome-coroner"
                                       name="qap-discussion-outcome" type="radio" value="coroner"
                                       {% if qap_form.outcome == "coroner" %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-coroner">
                                    Refer to coroner
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__outcome-decision">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="inset-text-panel nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset">
                        <span class="nhsuk-hint" id="example-hint">
                          What was officially decided by the ME and QAP?
                    </span>
                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                       id="qap-discussion-outcome-decision-1"
                                       name="qap-discussion-outcome-decision"
                                       type="radio" value="outcome-decision-1"
                                       {% if qap_form.outcome_decision == "outcome-decision-1" %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-decision-1">
                                    Cause of death provided by the QAP before scrutiny accepted without change
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                       id="qap-discussion-outcome-decision-2"
                                       name="qap-discussion-outcome-decision" type="radio" value="outcome-decision-2"
                                       {% if qap_form.outcome_decision == "outcome-decision-2" %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-decision-2">
                                    Cause of death established by ME accepted by QAP
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                       id="qap-discussion-outcome-decision-3"
                                       name="qap-discussion-outcome-decision" type="radio" value="outcome-decision-3"
                                       {% if qap_form.outcome_decision == "outcome-decision-3" %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="qap-discussion-outcome-decision-3">
                                    ME and QAP have agreed a new cause of death
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div id="qap-discussion__outcome-revised">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <label class="nhsuk-label nhsuk-u-font-weight-bold">
                        Details of the discussion?
                    </label>

                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_1a">
                            1a
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_1a"
                                  rows="2">{{ qap_form.revised_1a }}</textarea>
                    </div>

                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_1b">
                            1b
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_1b"
                                  rows="2">{{ qap_form.revised_1b }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_1c">
                            1c
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_1c"
                                  rows="2">{{ qap_form.revised_1c }}</textarea>
                    </div>


                    <div>
                        <label class="nhsuk-label" for="qap_discussion_revised_2">
                            2
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" name="qap_discussion_revised_2"
                                  rows="2">{{ qap_form.revised_2 }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="qap-discussion__save-buttons" class="nhsuk-form-group margin-bottom">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <input id="submit-btn" class="nhsuk-button" type="submit" value="Add event to timeline"
                       name="add-event-to-timeline"/>
                <input id="add-another-btn" class="nhsuk-button nhsuk-button--secondary" type="submit"
                       value="Save as draft"
                       name="save-as-draft"/>
            </div>
        </div>
    </div>
</div>
