<div id="pre-scrutiny" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input name="pre_scrutiny_id" value="{{ form.event_id }}" hidden>{% endif %}

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.me_thoughts %}nhsuk-form-group--error{% endif %}">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="me-thoughts">
            Review of patient records by the Medical Examiner assigned to this case
        </label>
        {% if form.errors.me_thoughts %}
        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_me_review_details">{{ form.errors.me_thoughts }}</span>{% endif %}

        <span class="nhsuk-hint" id="more-scrutiny-detail-hint">Initial draft notes from the medical examiner on possible causes of death</span>
        <textarea class="nhsuk-textarea margin-bottom" id="me-thoughts" name="me-thoughts" rows="5"
                  aria-describedby="more-scrutiny-detail-hint">{{ form.me_thoughts }}</textarea>
    </div>

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.circumstances_of_death %}nhsuk-form-group--error{% endif %}">
        <fieldset class="nhsuk-fieldset">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="circumstances-of-death">
                Overall circumstances of death
            </label>
            {% if form.errors.circumstances_of_death %}
            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_death_circumstances">{{ form.errors.circumstances_of_death }}</span>
            {% endif %}

            <span class="nhsuk-hint"
                  id="circumstances-of-death">Based on the information scrutinised, the death was:</span>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="cod-1" name="cod" type="radio"
                                   value="{{ enums.cod.EXPECTED }}" {% if form.circumstances_of_death == enums.cod.EXPECTED %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="cod-1">
                                Expected
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="cod-3" name="cod" type="radio"
                                   value="{{ enums.cod.SUDDEN_NOT_UNEXPECTED }}"
                                   {% if form.circumstances_of_death == enums.cod.SUDDEN_NOT_UNEXPECTED %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="cod-3">
                                Sudden but not unexpected
                            </label>
                        </div>

                    </div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="cod-2" name="cod" type="radio"
                                   value="{{ enums.cod.UNEXPECTED }}"
                                   {% if form.circumstances_of_death == enums.cod.UNEXPECTED %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="cod-2">
                                Unexpected
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="cod-4" name="cod" type="radio"
                                   value="{{ enums.cod.END_OF_LIFE_CARE_PLAN }}"
                                   {% if form.circumstances_of_death == enums.cod.END_OF_LIFE_CARE_PLAN %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-radios__label" for="cod-4">
                                Part of an individualised end of life care plan
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.possible_cod %}nhsuk-form-group--error{% endif %}">

        <label class="nhsuk-label nhsuk-u-font-weight-bold">
            Possible cause of death established during the review of records by Medical Examiner
        </label>
        {% if form.errors.possible_cod %}
        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_cause_of_death">{{ form.errors.possible_cod }}</span>{% endif %}

        <label class="nhsuk-label" for="possible-cod-1a">
            1a
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-1a" name="possible-cod-1a" rows="2"
                  aria-describedby="possible-cod-1a">{{ form.possible_cod_1a }}</textarea>

        <label class="nhsuk-label" for="possible-cod-1b">
            1b
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-1b" name="possible-cod-1b" rows="2"
                  aria-describedby="possible-cod-1b">{{ form.possible_cod_1b }}</textarea>

        <label class="nhsuk-label" for="possible-cod-1c">
            1c
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-1c" name="possible-cod-1c" rows="2"
                  aria-describedby="possible-cod-1c">{{ form.possible_cod_1c }}</textarea>


        <label class="nhsuk-label" for="possible-cod-2">
            2
        </label>
        <textarea class="nhsuk-textarea" id="possible-cod-2" name="possible-cod-2"
                  rows="2"
                  aria-describedby="possible-cod-2">{{ form.possible_cod_2 }}</textarea>
    </div>

    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.overall_outcome %}nhsuk-form-group--error{% endif %}">
        <div>
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="outcome-of-pre-scrutiny"
                   id="outcome-of-pre-scrutiny">
                Overall outcome after ME review of records
            </label>
            {% if form.errors.overall_outcome %}
            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_me_review_outcome">{{ form.errors.overall_outcome }}</span>{% endif %}
            <span class="nhsuk-hint" id="outcome-hint">Based on the information assessed so far, what do you believe is the likely outcome of this case?</span>
            <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="outcome-of-pre-scrutiny-1" name="ops"
                           type="radio"
                           value="{{ enums.outcomes.MCCD }}" {% if form.overall_outcome == enums.outcomes.MCCD %}checked{% endif %}>
                    <label class="nhsuk-label nhsuk-radios__label" for="outcome-of-pre-scrutiny-1">
                        Issue an MCCD
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="outcome-of-pre-scrutiny-2" name="ops"
                           type="radio"
                           value="{{ enums.outcomes.CORONER }}" {% if form.overall_outcome == enums.outcomes.CORONER %}checked{% endif %}>
                    <label class="nhsuk-label nhsuk-radios__label" for="outcome-of-pre-scrutiny-2">
                        Refer to coroner
                    </label>
                </div>
            </div>
        </div>

        <div id="pre-scrutiny__coroner-decision">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-form-group {% if form.errors.coroner_outcome %}nhsuk-form-group--error{% else %}inset-text-panel{% endif %}">

                        <fieldset class="nhsuk-fieldset">
                            <span class="nhsuk-error-message medex-font-default-override">{{ form.errors.coroner_outcome }}</span>
                            <div class="nhsuk-radios">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input pre-scrutiny-coroner-outcome-decision-radio"
                                           id="pre-scrutiny-coroner-outcome-decision-1"
                                           name="coroner-outcome"
                                           type="radio" value="{{ enums.outcomes.CORONER_100A }}"
                                           {% if form.coroner_outcome == enums.outcomes.CORONER_100A %}checked{% endif %}>
                                    <label class="nhsuk-label nhsuk-radios__label"
                                           for="pre-scrutiny-coroner-outcome-decision-1">
                                        For permission to issue an MCCD with 100a
                                    </label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input pre-scrutiny-coroner-outcome-decision-radio"
                                           id="pre-scrutiny-coroner-outcome-decision-2"
                                           name="coroner-outcome" type="radio"
                                           value="{{ enums.outcomes.CORONER_INVESTIGATION }}"
                                           {% if form.coroner_outcome == enums.outcomes.CORONER_INVESTIGATION %}checked{% endif %}>
                                    <label class="nhsuk-label nhsuk-radios__label"
                                           for="pre-scrutiny-coroner-outcome-decision-2">
                                        For an investigation
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.governance_review %}nhsuk-form-group--error{% endif %}">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="governance-review"
               id="governance-review">
            Clinical governance review or learning opportunity
        </label>
        {% if form.errors.governance_review %}
        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_clinical_governance">{{ form.errors.governance_review }}</span>{% endif %}

        <span class="nhsuk-hint"
              id="governance-hint">Is there any reason why this case should be referred for a review?</span>
        <div class="nhsuk-radios nhsuk-radios--inline">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="governance-review-1"
                       name="gr" type="radio"
                       value="{{ enums.yes_no.YES }}" {% if form.governance_review == enums.yes_no.YES %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label"
                       for="governance-review-1">
                    Yes
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="governance-review-2"
                       name="gr" type="radio"
                       value="{{ enums.yes_no.NO }}" {% if form.governance_review == enums.yes_no.NO %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label"
                       for="governance-review-2">
                    No
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="governance-review-3" name="gr"
                       type="radio"
                       value="{{ enums.yes_no.UNKNOWN }}" {% if form.governance_review == enums.yes_no.UNKNOWN %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="governance-review-3">
                    Unknown
                </label>
            </div>
            <textarea class="nhsuk-textarea"
                      id="governance-review-text"
                      name="grt" rows="2" aria-describedby="gr">{{ form.governance_review_text }}</textarea>
        </div>
    </div>

    <div class="nhsuk-warning-callout disclaimer-margin">
        <h3 class="nhsuk-warning-callout__label">Disclaimer</h3>
        <p>The information submitted is an initial view on the cause of death. It conveys only
            part of the Medical Examiner's scrutiny and is by no means a confirmation of how an individual
            died.</p>
    </div>
    <div class="nhsuk-form-group margin-bottom">
        <div class="nhsuk-grid-row" id="other-notes-section">
            <div class="nhsuk-grid-column-full">
                <button class="nhsuk-button add-event-btn" type="submit" value="pre-scrutiny"
                        name="add-event-to-timeline">Add event to timeline
                </button>
                <button class="nhsuk-button nhsuk-button--secondary add-another-btn"
                        type="submit"
                        value="pre-scrutiny" name="save-as-draft">Save as draft
                </button>
            </div>
        </div>
    </div>
</div>


