<div id="meo-summary" class="event-form">
    <input name="meo_summary_id" value="{{form.event_id}}" hidden>

    <div class="nhsuk-form-group">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="meo_summary_notes">
                    MEO Summary
                </label>
                <span class="nhsuk-hint">Summarise the key information about this case</span>
                <textarea id="meo_summary_notes" class="nhsuk-textarea medex-textarea" name="meo_summary_notes"
                          rows="6">{{ form.meo_summary_notes }}</textarea>
            </div>
        </div>

        <div class="nhsuk-grid-row" id="other-notes-section">
            <div class="nhsuk-grid-column-full">
                <button id="submit-btn" class="nhsuk-button" type="submit" value="meo-summary"
                       name="add-event-to-timeline">Add event to timeline</button>
                <button id="add-another-btn" class="nhsuk-button nhsuk-button--secondary" type="submit"
                       value="meo-summary" name="save-as-draft">Save as draft</button>
            </div>
        </div>
    </div>
</div>