<div id="bereaved-discussion" class="event-form{% if form.active %} active{% endif %}">
    {% if form.event_id %}<input type="hidden" name="bereaved_event_id" value="{{ form.event_id }}"/>{% endif %}
    <div class="nhs-form-group">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <label class="nhsuk-label nhsuk-u-font-weight-bold margin-bottom">
                    Who is the discussion with?
                </label>
            </div>
        </div>

        <div class="nhsuk-grid-row {% if form.existing_representative == None %}nhsuk-u-visually-hidden{% endif %}">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="bereaved-representative">
                    <legend class="nhsuk-u-visually-hidden" id="bereaved-representative">
                        Existing representative
                    </legend>
                    <div class="class=nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-grid-column-one-half nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="bereaved-existing-rep"
                                       name="bereaved_rep_type" type="radio"
                                       value="{{ enums.people.BEREAVED_REP }}"
                                        {% if form.use_existing_bereaved == True %} checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="bereaved-existing-rep">
                                    {{ form.existing_representative.full_name }}
                                </label>
                            </div>
                        </div>
                        <div class="nhsuk-grid-column-one-half nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="bereaved-new-rep"
                                       name="bereaved_rep_type"
                                       type="radio" value="{{ enums.people.OTHER }}"
                                        {% if form.use_existing_bereaved == False %} checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label"
                                       for="bereaved-new-rep">
                                    Another representative
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div id="bereaved-rep-details">
            {% if form.existing_representative %}
                <input type="hidden" name="bereaved_existing_rep_name"
                       value="{{ form.existing_representative.full_name }}"/>
                <input type="hidden" name="bereaved_existing_rep_relationship"
                       value="{{ form.existing_representative.relationship }}"/>
                <input type="hidden" name="bereaved_existing_rep_phone_number"
                       value="{{ form.existing_representative.phone_number }}"/>
                <input type="hidden" name="bereaved_existing_rep_present_at_death"
                       value="{{ form.existing_representative.present_at_death }}"/>
                <input type="hidden" name="bereaved_existing_rep_informed"
                       value="{{ form.existing_representative.informed }}"/>
            {% endif %}
            <div id="bereavement-discussion-with-panel"
                 class="inset-text-panel case-breakdown-form-group  {% if form.use_existing_bereaved == False %}nhsuk-u-visually-hidden{% endif %}">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half nhsuk-radios">
                        <fieldset class="nhsuk-fieldset">
                            <label class="nhsuk-label nhsuk-u-font-weight-bold"
                                   for="rep-relationship" id="rep-relationship">
                                Relationship
                            </label>
                            <p class="nhsuk-body-m">{{ form.existing_representative.relationship }}</p>

                        </fieldset>
                    </div>
                    <div class="nhsuk-grid-column-one-half nhsuk-radios">
                        <fieldset class="nhsuk-fieldset">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="rep-present-at-death"
                                       id="rep-present-at-death">
                                    Present at death
                                </label>
                                <p class="nhsuk-body-m">{{ form.existing_representative.present_at_death }}</p>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold"
                                       for="rep-phone-number" id="rep-phone-number">
                                    Phone number
                                </label>
                                <p class="nhsuk-body-m">{{ form.existing_representative.phone_number }}</p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <fieldset class="nhsuk-fieldset">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold"
                                       for="rep-informed-of-death" id="rep-informed-of-death">
                                    Informed of death
                                </label>
                                <p class="nhsuk-body-m">{{ form.existing_representative.informed }}</p>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div id="bereaved-rep-form"
             class="nhsuk-form-group case-breakdown-form-group  {% if form.errors.bereaved_participant_name %}nhsuk-form-group--error{% endif %}">
            <div class="nhsuk-grid-row margin-top">
                {% if form.errors.bereaved_participant_name %}
                    <div class="nhsuk-grid-column-full">
                        <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_bereaved_details">{{ form.errors.bereaved_participant_name }}</span>
                    </div>
                {% endif %}
                <div class="nhsuk-grid-column-one-half">
                    <label class="nhsuk-label" for="bereavement-full-name">
                        Full name
                    </label>

                    <span class="nhsuk-error-message medex-font-default-override"></span>

                    <input class="nhsuk-input nhsuk-input--width-10 margin-bottom" id="bereavement-full-name"
                           name="bereaved_alternate_rep_name"
                           type="text" value="{{ form.alternate_representative.full_name }}">
                </div>
                <div class="nhsuk-grid-column-one-half nhsuk-radios">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend margin-top">
                            Present at death?
                        </legend>
                        <div class="class=nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="pad-1"
                                       name="bereaved_alternate_rep_present_at_death" type="radio"
                                       value="{{ enums.yes_no.YES }}"
                                       {% if form.alternate_representative.present_at_death == enums.yes_no.YES %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="pad-1">
                                    Yes
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="pad-2"
                                       name="bereaved_alternate_rep_present_at_death" type="radio"
                                       value="{{ enums.yes_no.NO }}"
                                       {% if form.alternate_representative.present_at_death == enums.yes_no.NO %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="pad-2">
                                    No
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="pad-3"
                                       name="bereaved_alternate_rep_present_at_death" type="radio"
                                       value="{{ enums.yes_no.UNKNOWN }}"
                                       {% if form.alternate_representative.present_at_death == enums.yes_no.UNKNOWN %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="pad-3">
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <label class="nhsuk-label" for="full-name">
                        Relationship
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10 margin-bottom" id="full-name"
                           name="bereaved_alternate_rep_relationship"
                           type="text" value="{{ form.alternate_representative.relationship }}">
                </div>
                <div class="nhsuk-grid-column-one-half nhsuk-radios">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend">
                            Informed of death?
                        </legend>

                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="informed-1"
                                       name="bereaved_alternate_rep_informed" type="radio"
                                       value="{{ enums.yes_no.YES }}"
                                       {% if form.alternate_representative.informed == enums.yes_no.YES %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="informed-1">
                                    Yes
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="informed-2"
                                       name="bereaved_alternate_rep_informed" type="radio"
                                       value="{{ enums.yes_no.NO }}"
                                       {% if form.alternate_representative.informed == enums.yes_no.NO %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="informed-2">
                                    No
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="informed-3"
                                       name="bereaved_alternate_rep_informed" type="radio"
                                       value="{{ enums.yes_no.UNKNOWN }}"
                                       {% if form.alternate_representative.informed == enums.yes_no.UNKNOWN %}checked{% endif %}>
                                <label class="nhsuk-label nhsuk-radios__label" for="informed-3">
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <label class="nhsuk-label" for="phone-number">
                        Phone number
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10 margin-bottom" id="phone-number"
                           name="bereaved_alternate_rep_phone_number"
                           type="text"
                           value="{{ form.alternate_representative.phone_number }}">
                </div>
            </div>
        </div>

        <div class="nhsuk-form-group case-breakdown-form-group {% if form.errors.bereaved_time_of_conversation %}nhsuk-form-group--error{% endif %}">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <fieldset class="nhsuk-fieldset" aria-describedby="date-of-conversation" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold">
                            Date of conversation
                        </legend>

                        {% if form.errors.bereaved_time_of_conversation %}
                            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_bereaved_discussion_date">{{ form.errors.bereaved_time_of_conversation }}</span>
                        {% endif %}
                        <div class="nhsuk-date-input margin-top" id="date-of-conversation">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="doc-day">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                           id="doc-day"
                                           name="bereaved_day_of_conversation" type="number" pattern="[0-9]*"
                                           value="{{ form.day_of_conversation }}">>
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="doc-month">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                           id="doc-month"
                                           name="bereaved_month_of_conversation" type="number" pattern="[0-9]*"
                                           value="{{ form.month_of_conversation }}">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="doc-year">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                           id="doc-year"
                                           name="bereaved_year_of_conversation" type="number" pattern="[0-9]*"
                                           value="{{ form.year_of_conversation }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>


                </div>
            </div>
            <div id="beravement-discussion-time" class="nhsuk-grid-row margin-top">
                <div class="nhsuk-grid-column-full">
                    <label class="nhsuk-label" for="input-width-4">
                        Time
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-4" id="input-width-4"
                           name="bereaved_time_of_conversation"
                           type="time"
                           step="60"
                           value="{{ form.time_of_conversation }}">
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="bereaved-discussion-could-not-happen">
                        <legend class="nhsuk-u-visually-hidden">
                            Discussion could not happen
                        </legend>
                        <div class="nhsuk-checkboxes">
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="bereaved-discussion-could-not-happen"
                                       name="bereaved_discussion_could_not_happen"
                                       value="{{ enums.true_false.TRUE }}"
                                       type="checkbox"
                                        {% if form.discussion_could_not_happen == enums.true_false.TRUE %}
                                       checked{% endif %}>
                                <label class="nhsuk-label nhsuk-checkboxes__label"
                                       for="bereaved-discussion-could-not-happen">
                                    Tick if this discussion with a representative was unable to happen at all
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>

        <div class="margin-save-button">
            {% include "examinations/partials/case_breakdown/_agreed_cause_of_death.html" with prefix="bereavement" %}
        </div>

        <div id="bereavement-discussion__details">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-form-group case-breakdown-form-group  {% if form.errors.bereaved_discussion_details %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="bereavement-discussion-details"
                               id="bereavement-discussion-details">
                            Details of the discussion?
                        </label>
                        {% if form.errors.bereaved_discussion_details %}
                            <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_bereaved_discussion_details">{{ form.errors.bereaved_discussion_details }}</span>
                        {% endif %}
                        <textarea class="nhsuk-textarea medex-textarea" aria-labelledby="bereavement-discussion-details"
                                  name="bereaved_discussion_details"
                                  rows="6">{{ form.discussion_details }}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-save-button">

            <div id="bereavement-discussion-outcome">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-form-group  {% if form.errors.bereaved_discussion_outcome %}nhsuk-form-group--error{% endif %}">

                            <fieldset class="nhsuk-fieldset">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold">
                                    Outcome
                                </legend>
                                {% if form.errors.bereaved_discussion_outcome %}
                                    <span class="nhsuk-error-message medex-font-default-override" automation-id="ve_bereaved_discussion_outcome">{{ form.errors.bereaved_discussion_outcome }}</span>
                                {% endif %}
                                <span class="nhsuk-hint">
                                What was the ultimate outcome of the conversation with the family member or representative?
                            </span>
                                <div class="nhsuk-radios nhsuk-radios--inline">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input bereavement-discussion-outcome-radio"
                                               id="bereavement-discussion-outcome-no-concerns"
                                               name="bereaved_discussion_outcome"
                                               type="radio" value="{{ form.BEREAVED_OUTCOME_NO_CONCERNS }}"
                                                {% if form.discussion_outcome == form.BEREAVED_OUTCOME_NO_CONCERNS %}
                                               checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="bereavement-discussion-outcome-no-concerns">
                                            Cause of death accepted without concerns
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input bereavement-discussion-outcome-radio"
                                               id="bereavment-discussion-outcome-concerns"
                                               name="bereaved_discussion_outcome" type="radio"
                                               value="{{ form.BEREAVED_OUTCOME_CONCERNS }}"
                                                {% if form.discussion_outcome == form.BEREAVED_OUTCOME_CONCERNS %}
                                               checked{% endif %}>
                                        <label class="nhsuk-label nhsuk-radios__label"
                                               for="bereavment-discussion-outcome-concerns">
                                            Concerns raised
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div id="bereavement-discussion-concerned-outcomes">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-form-group {% if form.errors.bereaved_outcome_concerned_outcome %}nhsuk-form-group--error{% else %}inset-text-panel {% endif %}">
                                {% if form.errors.bereaved_outcome_concerned_outcome %}
                                    <span class="nhsuk-error-message medex-font-default-override">{{ form.errors.bereaved_outcome_concerned_outcome }}</span>
                                {% endif %}
                                <fieldset class="nhsuk-fieldset">
                                    <div class="nhsuk-radios">
                                        <div class="nhsuk-radios__item">
                                            <input class="nhsuk-radios__input qap-discussion-outcome-decision-radio"
                                                   id="bereaved_outcome_concerned_outcome-1"
                                                   name="bereaved_outcome_concerned_outcome"
                                                   type="radio" value="{{ form.BEREAVED_CONCERNED_OUTCOME_CORONER }}"
                                                   {% if form.discussion_concerned_outcome == form.BEREAVED_CONCERNED_OUTCOME_CORONER %}checked{% endif %}>
                                            <label class="nhsuk-label nhsuk-radios__label"
                                                   for="bereaved_outcome_concerned_outcome-1">
                                                That indicate a coronial investigation
                                            </label>
                                        </div>
                                        <div class="nhsuk-radios__item">
                                            <input class="nhsuk-radios__input bereaved_outcome_concerned_outcome-radio"
                                                   id="bereaved_outcome_concerned_outcome-2"
                                                   name="bereaved_outcome_concerned_outcome" type="radio"
                                                   value="{{ form.BEREAVED_CONCERNED_OUTCOME_100A }}"
                                                   {% if form.discussion_concerned_outcome == form.BEREAVED_CONCERNED_OUTCOME_100A %}checked{% endif %}>
                                            <label class="nhsuk-label nhsuk-radios__label"
                                                   for="bereaved_outcome_concerned_outcome-2">
                                                That indicate a requirement for a 100a
                                            </label>
                                        </div>
                                        <div class="nhsuk-radios__item">
                                            <input class="nhsuk-radios__input bereaved_outcome_concerned_outcome-radio"
                                                   id="bereaved_outcome_concerned_outcome-3"
                                                   name="bereaved_outcome_concerned_outcome" type="radio"
                                                   value="{{ form.BEREAVED_CONCERNED_OUTCOME_ADDRESSED }}"
                                                   {% if form.discussion_concerned_outcome == form.BEREAVED_CONCERNED_OUTCOME_ADDRESSED %}checked{% endif %}>
                                            <label class="nhsuk-label nhsuk-radios__label"
                                                   for="bereaved_outcome_concerned_outcome-3">
                                                But were addressed by the Medical Examiner with no coroner involvement
                                                required
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bereavement-discussion__save-buttons" class="nhsuk-form-group">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <button class="nhsuk-button add-event-btn" type="submit" value="bereaved-discussion"
                            name="add-event-to-timeline">Add event to timeline
                    </button>
                    <button class="nhsuk-button nhsuk-button--secondary add-another-btn" type="submit"
                            value="bereaved-discussion"
                            name="save-as-draft">Save as draft
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


