<div id="bereaved-discussion" class="event-form">
    <div class="nhs-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold">
            Who is the dicussion with?
        </label>

        <div class="nhsuk-form-group">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <label class="nhsuk-label" for="full-name">
                        Full name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="full-name" name="test-width-10" type="text">
                </div>
                <div class="nhsuk-form-group">
                    <div class="nhsuk-grid-column-one-half nhsuk-radios">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <legend class="nhsuk-fieldset__legend">
                                Present at death?
                            </legend>

                            <div class="nhsuk-radios">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="pad-1" name="pad-1" type="radio"
                                           value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="pad-1">
                                        Yes
                                    </label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="pad-2" name="pad-2" type="radio"
                                           value="no">
                                    <label class="nhsuk-label nhsuk-radios__label" for="pad-2">
                                        No
                                    </label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="pad-3" name="pad-3" type="radio"
                                           value="unknown">
                                    <label class="nhsuk-label nhsuk-radios__label" for="pad-3">
                                        Unknown
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="nhsuk-form-group">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <label class="nhsuk-label" for="full-name">
                    Relationship
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="full-name" name="test-width-10" type="text">
            </div>
            <div class="nhsuk-form-group">
                <div class="nhsuk-grid-column-one-half nhsuk-radios">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend">
                            Informed of death?
                        </legend>

                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="pad-1" name="pad-1" type="radio"
                                       value="yes">
                                <label class="nhsuk-label nhsuk-radios__label" for="pad-1">
                                    Yes
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="pad-2" name="pad-2" type="radio"
                                       value="no">
                                <label class="nhsuk-label nhsuk-radios__label" for="pad-2">
                                    No
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="pad-3" name="pad-3" type="radio"
                                       value="unknown">
                                <label class="nhsuk-label nhsuk-radios__label" for="pad-3">
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
    </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="phone-number">
            Phone number
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="phone-number" name="test-width-10" type="text">
    </div>

    <div class="nhsuk-grid-row" id="discussion">
        <div class="nhsuk-grid-column-full">

        </div>
    </div>
</div>
