<div class="timeline-event-row flex-row vertical-center {{event.css_type}}">
    <div class="timeline-branch">
        <hr />
    </div>

    <div class="timeline-event flex-row">
        <div class="event-content">
            <div class="event-header-row flex-row">
                <div class="event-header">
                    {{event.display_type}}
                </div>

                <button class="event-toggle">

                </button>
            </div>

            <div class="event-reporter">
                {{event.user_display_name_with_gmc}}, {{event.user_display_role}}, {{event.display_date}}
            </div>

            <div class="event-body">
                {% include event.type_template with card_content=event %}
            </div>

            {% if event.is_latest and event.css_type in session_user.editable_event_types %}
                <a class="amend-link"
                   aria-label="Amend {{event.display_type}} event"
                   href="{% url 'edit_case_breakdown' examination_id=examination_id %}?amendType={{event.event_type}}">
                    Amend event
                </a>
            {% endif %}
        </div>
    </div>
</div>