<div class="timeline-event-row flex-row vertical-center {{event.css_type}}">
    <div class="timeline-branch">
        <hr />
    </div>

    <div class="timeline-event flex-row">
        <div class="flex-row vertical-center event-number-space">
            <div class="event-number">
                {{event.number}}
            </div>
        </div>

        <div class="event-content">
            <div class="event-header-row flex-row">
                <div class="event-header">
                    {{event.display_type}}
                </div>

                <div class="event-toggle">

                </div>
            </div>

            <div class="event-reporter">
                {{event.user_id}}, {{event.user_role}}, {{event.display_date}}
            </div>

            <div class="event-body">
                {% include event.type_template with card_content=event %}
            </div>

            {% if event.is_latest %}
                <a class="amend-link"
                   href="{% url 'edit_examination_case_breakdown' examination_id=examination_id %}?amendType={{event.event_type}}">
                    Amend event
                </a>
            {% endif %}
        </div>
    </div>
</div>