@import '../../variables';


.case-card-header {
  border: 1px solid $nhs-light-grey;
  border-left: 4px solid $nhs-blue;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px $nhs-very-light-grey;
  margin-bottom: 1rem;

  &.urgent {
    border-left: 4px solid $nhs-red;

    .controls {
      .view-btn {
        border-color: $nhs-red;

        &:visited {
          color: $nhs-red;
        }

        &:hover {
          color: $white;
          background-color: $nhs-red;
        }
      }
    }
  }

  .patient-name {
    margin: 0;
    font-weight: bold;
  }

  .dates {
    margin-bottom: 0;
    display: block;
  }

  .no-dates {
    margin-bottom: 0;
    display: none;
  }

  .controls {
    justify-content: flex-end;

    .chevron-down {
      background: url("/static/images/down_chevron.png") no-repeat;
      height: 1rem;
      width: 2rem;
    }

    .chevron-up {
      background: url("/static/images/up_chevron.png") no-repeat;
      height: 1rem;
      width: 2rem;
      display: none;
    }

    .view-btn {
      border: 1px solid $nhs-blue;
      text-decoration: none;
      padding: 0.2em 0.5em;
      margin-right: 1em;
      margin-left: 1em;

      &:hover {
        color: $white;
        box-shadow: none;
        background-color: $nhs-blue;
      }

      &:visited {
        color: $nhs-blue;
      }
    }

    .urgent-flag {
      color: $nhs-red;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.case-card-header--expanded {
  background: $nhs-blue;
  margin-bottom: 0;

  &.urgent {
    background: $nhs-red;

    .controls {
      .view-btn {
        &:visited {
          color: $white;
        }

        &:hover {
          color: $nhs-red;
        }
      }
    }
  }

  .patient-name {
    margin: 0;
    font-weight: bold;
    color: $white;
  }

  .dates {
    display: none;
  }

  .no-dates {
    display: block;
  }

  .controls {

    .chevron-down {
      display: none;
    }

    .chevron-up {
      display: block;
    }

    .view-btn {
      border: 1px solid $white;
      color: $white;

      &:visited {
        color: $white;
      }

      &:hover {
        background-color: $white;
        box-shadow: none;
        color: $nhs-blue;
      }
    }

    .urgent-flag {
      color: $white;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.case-card-body {
  display: none;
  background: $white;
  color: $black;
  border: 1px solid $nhs-light-grey;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px $nhs-very-light-grey;
  margin-bottom: 1rem;

  .info-line {
    margin-bottom: .5rem
  }

  .urgent {
    color: $nhs-red;
  }

  .block-header {
    color: $nhs-blue;
  }

  .heavy-text {
    font-weight: 600;
  }
}

.case-card-body--expanded {
  display: block;
}