@import '../../variables';


.case-card-header {
  border: 1px solid $nhs-light-grey;
  border-left: 4px solid $nhs-blue;
  padding: medex-spacing(3) $medex-spacing-lg;
  box-shadow: 0 5px $nhs-very-light-grey;
  margin-bottom: $medex-spacing-md;

  p, h3 {
    padding: medex-spacing(2) 0;
  }

  &.void {
    border-left: 4px solid $nhs-grey !important;
  }

  &.urgent,
  &.void {
    border-left: 4px solid $nhs-red;

    .controls {

      .chevron-down {
        &:hover {
          background: url("/static/images/chevron-down-red.svg") center center no-repeat;
        }
      }
      .view-btn {
        color: $black;
        border-color: $black;


        &:visited {
          color: $black;
        }

        &:hover {
          color: $nhs-red;
          border-color: $nhs-red;
          background-color: $white;
        }

      }
    }

  }

  .patient-name {
    margin: 0;
    font-weight: bold;
    font-size: 100%;
  }

  .dates {
    margin-bottom: 0;
    display: block;
  }

  .no-dates {
    margin-bottom: 0;
    display: none;
  }

  .controls {
    justify-content: flex-end;

    .chevron-down {
      background: url("/static/images/down_chevron.png") center center no-repeat;
      height: 1rem;
      width: 2rem;
      border: 2px solid transparent;
      min-width: 44px;
      min-height: 44px;

      margin-top: 0;

      &:hover {
        background: url("/static/images/chevron-down-blue.svg") center center no-repeat;
      }
    }

    .chevron-up {
      background: url("/static/images/up_chevron.png") center center no-repeat;
      height: 1rem;
      width: 2rem;
      border: 2px solid transparent;
      min-width: 44px;
      min-height: 44px;
      margin-top: 0;
      display: none;
    }

    .view-btn {
      border: 1px solid $black;
      color: $black;
      text-decoration: none;
      padding: $medex-spacing-sm $medex-spacing-sm;
      margin-right: $medex-spacing-md;
      margin-left: $medex-spacing-md;
      min-height: 44px;

      &:visited {
        color: $black;
      }

      &:hover {
        color: $nhs-blue;
        border: 1px solid $nhs-blue;
        box-shadow: none;
        background-color: $white;
      }
    }

    .urgent-flag,
    .void-flag {
      font-weight: bold;
      margin-bottom: 0;
    }
    .urgent-flag {
      color: $nhs-red;
    }
    .void-flag {
      color: $nhs-grey;
    }
  }
}

.case-card-header--expanded {
  background: $nhs-blue;
  margin-bottom: 0;

  &.void {
    background: $nhs-grey !important;
  }

  &.urgent,
  &.void {
    background: $nhs-red;
    .controls {

      .chevron-up {
        background: url("/static/images/hollow_red_chevron.svg") center center no-repeat;
        &:hover {
          background: url("/static/images/chevron_up.svg") center center no-repeat;
        }
      }
      .view-btn {
        border-color: $white;
        color: $white;

        &:visited {
          color: $white;
        }

        &:hover {
          color: $nhs-red;
          background-color: $white;
        }
      }
    }
  }

  .patient-name {
    margin: 0;
    font-weight: bold;
    color: $white;
  }

  .dates {
    display: none;
  }

  .no-dates {
    display: block;
  }

  .controls {

    .chevron-down {
      display: none;
    }

    .chevron-up {
      display: block;
      background: url("/static/images/hollow_blue_chevron.svg") center center no-repeat;
        &:hover {
          background: url("/static/images/chevron_up.svg") center center no-repeat;
        }
    }

    .view-btn {
      border: 1px solid $white;
      color: $white;

      &:visited {
        color: $white;
      }

      &:hover {
        background-color: $white;
        box-shadow: none;
        color: $nhs-blue;
      }
    }

    .urgent-flag,
    .void-flag {
      color: $white;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.case-card-body {
  display: none;
  background: $white;
  color: $black;
  border: 1px solid $nhs-light-grey;
  padding: $medex-spacing-md $medex-spacing-lg;
  box-shadow: 0 5px $nhs-very-light-grey;
  margin-bottom: $medex-spacing-md;

  h4 {
    font-size: 100%;
    font-weight: normal;
    line-height: 1.5rem;
  }

  .info-line {
    margin-bottom: $medex-spacing-sm
  }

  .urgent,
  .void {
    color: $nhs-red;
  }

  .block-header {
    color: $nhs-blue;
  }

  .heavy-text {
    font-weight: 600;
  }

  .block-with-border {
    border-left: 1px solid $nhs-light-grey;
  }
}

.case-card-body--expanded {
  display: block;
}