@import "cause_of_death";
@import "../../variables";

.case-event-forms {
    margin-top: $medex-spacing-xl;

    .form-picker {
        margin-top: $medex-spacing-md;
    }

    .event-form {
        display: none;
    }

    .event-hint {
        display: none;
    }

    #hidden-text {
        display: none;
    }

    .add-event-header {
        font-weight: bold;
        margin-bottom: 16px;
    }
}