@import '../../variables';
@import './_case_event_card';

.case-timeline-block {
    .controls {
        margin-top: 1rem;
        margin-bottom: 3rem;

        .controls-label {
            display: block;
            color: $nhs-grey;
        }
    }

    .case-timeline-wrapper {
        background-color: $nhs-pale-grey;
        padding-left: 70px;
        padding-right: 100px;

        .case-timeline {
            border-left: 3px solid $nhs-grey;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
}