@import "cause_of_death";

.case-event-forms {
    margin-top: $medex-spacing-xl;

    .form-picker {
        margin-top: $medex-spacing-lg;
    }

    .event-form {
        display: none;
    }

    .event-hint {
        display: none;
    }

    #hidden-text {
        display: none;
    }
}