@import '../../variables';
@import './_case_event_card';

.case-timeline-block {
    .controls {
        margin-top: $medex-spacing-md;
        margin-bottom: $medex-spacing-xl;

        .controls-label {
            display: block;
            color: $nhs-grey;
        }
    }

    .case-timeline-wrapper {
        margin-top: 50px;
        background-color: $nhs-pale-grey;
        padding-left: medex-spacing(9);
        padding-right: medex-spacing(9);

        .case-timeline {
            border-left: 3px solid $nhs-grey;
            padding-top: medex-spacing(9);
            padding-bottom: medex-spacing(9);
        }
    }
}