{% extends "examinations/edit_shared.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block tab_css %}
    <link href="{% sass_src 'scss/examinations/case-outcome.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block tab_js %}
{% endblock %}

{% block tab_content %}
    <div class="case-outcome">
        <h1 class="page-title">
            Case outcome
        </h1>

        <h2 class="page-subheading">
            Summary
        </h2>

        {% include 'examinations/partials/case_outcomes/_case_summary.html' %}
    </div>
{% endblock %}

