{% extends "examinations/edit_shared.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block tab_css %}
    <link href="{% sass_src 'scss/examinations/case-outcome.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block tab_js %}
    <script src="{% static 'js/examinations/examination-edit.js' %}"></script>
    <script src="{% static 'js/examinations/case-outcomes.js' %}"></script>
{% endblock %}

{% block tab_content %}
    <div class="case-outcome">
        <h1 class="page-title">
            Case outcome
        </h1>

        {% include 'examinations/partials/case_outcomes/_case_summary.html' %}

        {% include 'examinations/partials/case_outcomes/_confirmation_of_scrutiny.html' %}

        {% include 'examinations/partials/case_outcomes/_refer_to_coroner.html' %}
    </div>
{% endblock %}

