{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}

{% block extra_css %}
  <link href="{% sass_src 'scss/examinations/create.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block page %}
  <div class="examination__create">
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    <h2 class="page-subheading">
      {{ sub_heading }}
    </h2>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}




    <form id="examination__create--form" class="form{% if invalid %} error{% endif %}" action="{% url 'create_examination' %}" method="post">
      {% csrf_token %}
    <div class="nhsuk-error-summary medex-hidden" id="error_alert" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">
    <p>
      Please correct the errors in this form
    </p>

  </div>
</div>

      <!-- Names -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="last_name">Surname</label>

          <input class="form-field medex-input" type="text" id="last_name"  name="last_name" value="{{form.last_name}}">
        </div>

        <div class="form-item">
          <label class="form-item--header" for="first_name">Given name(s)</label>

          <input class="form-field medex-input" type="text" id="first_name" name="first_name" value="{{form.first_name}}">
        </div>
      </div>

      <!-- Gender -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="gender">Gender</label>
            <div class="radiobutton__list flex-row">
                <div class="radiobutton__item">
                    <input class="form-field radiobutton__input gender-radiobutton" type="radio" name="gender" id="gender-1" value="male">
                    <label class="radiobutton__label" for="gender-1">Male</label>
                </div>
                <div class="radiobutton__item">
                    <input class="form-field radiobutton__input gender-radiobutton" type="radio" name="gender" id="gender-2" value="female">
                    <label class="radiobutton__label" for="gender-2">Female</label>
                </div>
                <div class="radiobutton__item">
                    <input class="form-field radiobutton__input gender-radiobutton" type="radio" name="gender" id="gender-3" value="other">
                    <label class="radiobutton__label" for="gender-3">Other</label>
                </div>
            </div>
            <div class="flex-row">
                <div class="medex-textarea" id="more-gender">
                    <label class="medex-textarea__label" for="more-gender-detail">Please enter details below</label>
                    <textarea class="medex-textarea__textarea" id="more-gender-detail" name="more-gender-detail" rows="3"></textarea>
                </div>
            </div>
        </div>
      </div>

      <!-- Numbers -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="nhs_number">NHS Number</label>

          <input class="form-field medex-input" type="text" name="nhs_number" id="nhs_number" value="{{form.nhs_number}}">

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" name="nhs_number_not_known" id="nhs_number_not_known" value="{{form.nhs_number_not_known}}">

            <label for="nhs_number_not_known">Unknown</label>
          </div>
        </div>
          <div  class="form-item">
        <div class="hospital-number__list-item" id="hospital_number_1">
          <label class="form-item--header" for="hospital_number_1" id="hospital_number_1_label">Hospital Number</label>
          <input class="form-field medex-input" type="text"  name="hospital_number_1" value="{{form.hospital_number_1}}" placeholder="Optional">
        </div>
        <div class="hospital-number__list-item medex-hidden" id="hospital_number_2" >
          <label class="form-item--header" for="hospital_number_2">Hospital Number 2</label>
          <input class="form-field medex-input" type="text" name="hospital_number_2" value="{{form.hospital_number_2}}" placeholder="Optional">
        </div>
        <div class="hospital-number__list-item medex-hidden" id="hospital_number_3" >
          <label class="form-item--header" for="hospital_number_3">Hospital Number 3</label>
          <input class="form-field medex-input" type="text"name="hospital_number_3" value="{{form.hospital_number_3}}" placeholder="Optional">
        </div>
         <button class="medex-hyperlink-button" id="hospital-number__add-btn">Add another</button>
          </div>
      </div>

      <!-- Dates -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header">Date of birth</label>

          <!-- <input class="form-field" type="text" name="date_of_birth" value="{{form.date_of_birth}}"> -->
          <div class="flex-row baseline">
            <div>
              <label class="form-item--header" for="day_of_birth">Day</label>

              <input class="form-field medex-input" id="day_of_birth" type="number" min="1" max="31" name="day_of_birth" value="{{form.day_of_birth}}">
            </div>

            <div>
              <label class="form-item--header" for="month_of_birth">Month</label>

              <input class="form-field medex-input" id="month_of_birth"  type="number" min="1" max="12" name="month_of_birth" value="{{form.month_of_birth}}">
            </div>

            <div>
              <label class="form-item--header" for="year_of_birth">Year</label>

              <input class="form-field medex-input" id="year_of_birth" type="number" min="1900" max="2019" name="year_of_birth" value="{{form.year_of_birth}}">
            </div>
          </div>

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" id="date_of_birth_not_known" name="date_of_birth_not_known" value="{{form.date_of_birth_not_known}}">

            <label for="date_of_birth_not_known">Unknown</label>
          </div>
        </div>

        <div class="form-item">
          <label class="form-item--header" for="date_of_death">Date of death</label>

          <!-- <input class="form-field" type="text" name="date_of_death" value="{{form.date_of_death}}"> -->

          <div class="flex-row baseline">
            <div>
              <label class="form-item--header" for="day_of_death">Day</label>

              <input class="form-field medex-input" id="day_of_death" type="number" min="1" max="31" name="day_of_death" value="{{form.day_of_death}}">
            </div>

            <div>
              <label class="form-item--header" for="month_of_death">Month</label>

              <input class="form-field medex-input" id="month_of_death" type="number" min="1" max="12" name="month_of_death" value="{{form.month_of_death}}">
            </div>

            <div>
              <label class="form-item--header" for="year_of_death">Year</label>

              <input class="form-field medex-input" id="year_of_death" type="number" min="2018" max="3000" name="year_of_death" value="{{form.year_of_death}}">
            </div>
          </div>

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" id="date_of_death_not_known" name="date_of_death_not_known" value="{{form.date_of_death_not_known}}">

            <label for="date_of_death_not_known">Unknown</label>
          </div>
        </div>
      </div>

      <!-- Time of death -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
          <label class="form-item--header" for="time_of_death">Time of death</label>

          <input class="form-field medex-input" type="time" id="time_of_death" name="time_of_death" value="{{form.time_of_death}}">

          <div class="checkbox-item flex-row vertical-center">
            <input class="checkbox" type="checkbox" id="time_of_death_not_known" name="time_of_death_not_known" value="{{form.time_of_death_not_known}}">

            <label for="time_of_death_not_known">Unknown</label>
          </div>
        </div>
      </div>

      <!-- Location -->
      <div class="flex-row baseline form-row">
        <div class="form-item">
            <label class="form-item--header" for="place_of_death">Place where death occurred</label>
            <div class="dropdown" id="place_of_death_dropdown" >
                <select id="place_of_death" name="place_of_death" required>
                    <option value="" disabled hidden selected>Select a location</option>
                    {% for location in locations %}
                        <option value={{ location.id }}>{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

          <div class="form-item">
              <label class="form-item--header" for="me_office">ME Office responsible for case</label>
              <div class="dropdown" id="me_office_dropdown" >
                <select id="me_office" name="me_office" required>
                  <option value="" disabled hidden selected>Select an office</option>
                    {% for me_office in me_offices %}
                        <option value={{ me_office.id }}>{{ me_office.name }}</option>
                    {% endfor %}
                </select>
              </div>
                <div class="checkbox-item">
                    <input class="checkbox" type="checkbox" name="out_of_hours" value="{{form.out_of_hours}}">
                    <label class="checkbox__label checkbox__label--dropdown-width" for="out_of_hours">Out of hours/urgent scrutiny has already taken place on this case.</label>
               </div>
            </div>
      </div>

      <input id="submit-btn" class="submit-btn" type="submit" value="Create"  />
    </form>

  </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/pages/examinations.js"></script>


{% endblock %}
