{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% sass_src 'scss/examinations/edit.scss' %}" rel="stylesheet" type="text/css">

  {% block tab_cc %}
  {% endblock %}
{% endblock %}

{% block extra_js %}
      <script src="{% static 'js/examinations/examination-edit.js' %}"></script>
  {% block tab_js %}
  {% endblock %}
{% endblock %}

{% block page %}
  {% include 'alerts/partials/_modal.html' with config=tab_modal %}

  <div class="examination__edit">
    {% if error_count > 0 %}
      <div class="nhsuk-error-summary " id="error_alert" aria-labelledby="error-summary-title" role="alert"
           tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <p>
            Please correct the errors in this form
          </p>
        </div>
      </div>
    {% endif %}
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    <h2 class="page-subheading">
      {{ sub_heading }}
    </h2>

    <a name="details"></a>
    <div style="width:100%;height:150px;background-color:rgba(234, 207, 28, 0.6);padding:30px 50px;">
      <h1>Holding Space For Status Bar</h1>
    </div>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}



    <div class="examination__tab-bar">
      <div class="form-tabs flex-row baseline">
        <a class="tab-item {% if "patient-details" in request.path %}active{% endif %}" id="patient-details-tab"
           href="/cases/{{ examination_id }}/patient-details#details">
          Patient details
        </a>

        <a class="tab-item {% if "medical-team" in request.path %}active{% endif %}" id="medical-team-tab"
           href="/cases/{{ examination_id }}/medical-team#details">
          Medical team
        </a>

        <a class="tab-item {% if "case-breakdown" in request.path %}active{% endif %}" id="case-breakdown-tab">
          Case breakdown
        </a>

        <a class="tab-item {% if "case-outcomes" in request.path %}active{% endif %}" id="case-outcomes-tab">
          Case outcomes
        </a>
      </div>
    </div>

    {% block tab_content %}
    {% endblock %}


  </div>
{% endblock %}
