{% extends "examinations/edit_shared.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block tab_css %}
<link href="{% sass_src 'scss/examinations/case_breakdown.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block tab_js %}
<script src="{% static 'js/examinations/case-breakdown.js' %}"></script>
{% endblock %}

{% block tab_content %}
<form id="examination__edit--form" class="form{% if invalid %} error{% endif %}"
      action="{% url 'edit_examination_case_breakdown' examination_id=examination_id %}" method="post"
      data-error-count="{{ error_count }}">
    {% csrf_token %}

    <div class="form-tab" id="case-breakdown-section">
        <h3 class="section-title">
            Case breakdown
        </h3>

        {% include "examinations/partials/case_breakdown/_case_timeline.html" %}

        {% include "examinations/partials/case_breakdown/_case_event_forms.html" %}
    </div>

</form>


{% endblock %}

