{% extends "medexCms/shared/base.html" %}
{% load sass_tags %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% sass_src 'scss/examinations/edit.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/examinations/examination-edit.js' %}"></script>
{% endblock %}

{% block page %}
  <div class="examination__edit">
    <h1 class="page-title">
      {{ page_heading }}
    </h1>

    <h2 class="page-subheading">
      {{ sub_heading }}
    </h2>

    <div style="width:100%;height:150px;background-color:rgba(234, 207, 28, 0.6);padding:30px 50px;">
      <h1>Holding Space For Status Bar</h1>
    </div>

    {% for alert in alerts %}
      {% include 'alerts/partials/_alert.html' %}
    {% endfor %}

    <form id="examination__edit--form" class="form{% if invalid %} error{% endif %}"
          action="{% url 'edit_examination' examination_id=examination_id %}" method="post">
      {% csrf_token %}

      <div class="form-tabs flex-row baseline">
        <div class="tab-item active" id="patient-details-tab">
          Patient details
        </div>

        <div class="tab-item" id="medical-team-tab">
          Medical team
        </div>

        <div class="tab-item" id="case-breakdown-tab">
          Case breakdown
        </div>

        <div class="tab-item" id="case-outcomes-tab">
          Case outcomes
        </div>
      </div>

      <div class="form-tab" id="patient-details-section">
        {% include "examinations/partials/_patient_details.html" %}
      </div>

      <div class="form-tab medex-hidden" id="medical-team-section">
        {% include "examinations/partials/_medical_team.html" %}
      </div>
      <div class="form-tab medex-hidden" id="case-breakdown-section">
        {% include "examinations/partials/_case_breakdown.html" %}
      </div>
      <div class="form-tab medex-hidden" id="case-outcomes-section">
        {% include "examinations/partials/_case_outcomes.html" %}
      </div>

      <div class="sticky-save">
        <div class="container">
          <input class="submit-btn" type="submit" value="Save changes"/>
        </div>
      </div>
    </form>

  </div>
{% endblock %}
