<!-- Representative -->
<div class="flex-row baseline form-row flex-vertical">
  <div class="form-item">
    <label class="form-item--header" for="bereaved_name">Full name</label>

    <input id="bereaved_name" class="form-field" type="text" name="bereaved_name" value="{{form.bereaved_name}}">
  </div>

  <div class="flex-row">
    <div class="form-item">
      <label class="form-item--header" for="relationship">Relationship</label>

      <input id="relationship" class="form-field" type="text" name="relationship" value="{{form.relationship}}">
    </div>

    <div class="form-item">
      <label class="form-item--header">Present at death</label>

      <div class="radiobutton__item">
        <input class="form-field radiobutton__input{% if form.present_death_error %} error{% endif %}" type="radio" name="present_death"
               id="present_death_yes" value="yes" {% if form.present_death == 'yes' %}checked{% endif %}>
        <label class="radiobutton__label" for="present_death_yes">Yes</label>
      </div>

      <div class="radiobutton__item">
        <input class="form-field radiobutton__input{% if form.present_death_error %} error{% endif %}" type="radio" name="present_death"
               id="present_death_no" value="no" {% if form.present_death == 'no' %}checked{% endif %}>
        <label class="radiobutton__label" for="present_death_no">No</label>
      </div>

      <div class="radiobutton__item">
        <input class="form-field radiobutton__input{% if form.present_death_error %} error{% endif %}" type="radio" name="present_death"
               id="present_death_unknown" value="unknown" {% if form.present_death == 'unknown' %}checked{% endif %}>
        <label class="radiobutton__label" for="present_death_unknown">No</label>
      </div>
    </div>
  </div>

  <div class="flex-row">
    <div class="form-item">
      <label class="form-item--header" for="phone_number">Phone number</label>

      <input id="phone_number" class="form-field" type="number" name="phone_number" value="{{form.phone_number}}">
    </div>

    <div class="form-item">
      <label class="form-item--header">Informed</label>

      <div class="radiobutton__item">
        <input class="form-field radiobutton__input{% if form.informed_error %} error{% endif %}" type="radio" name="informed"
               id="informed_yes" value="yes" {% if form.informed == 'yes' %}checked{% endif %}>
        <label class="radiobutton__label" for="informed_yes">Yes</label>
      </div>

      <div class="radiobutton__item">
        <input class="form-field radiobutton__input{% if form.informed_error %} error{% endif %}" type="radio" name="informed"
               id="informed_no" value="no" {% if form.informed == 'no' %}checked{% endif %}>
        <label class="radiobutton__label" for="informed_no">No</label>
      </div>
    </div>
  </div>
</div>

<!-- Appointment details -->
<div class="flex-row baseline form-row">
  <div class="form-item">
    <label class="form-item--header">Appointment date</label>

    <div>
      <label class="form-item--header" for="day_of_appointment">Day</label>

      <input id="day_of_appointment" class="form-field" type="number" min="1" max="31" name="day_of_appointment"
             value="{{form.day_of_appointment}}">
    </div>

    <div>
      <label class="form-item--header" for="month_of_appointment">Month</label>

      <input id="month_of_appointment" class="form-field" type="number" min="1" max="12" name="month_of_appointment"
             value="{{form.month_of_appointment}}">
    </div>

    <div>
      <label class="form-item--header" for="year_of_appointment">Year</label>

      <input id="year_of_appointment" class="form-field" type="number" min="2018" max="3000" name="year_of_appointment"
             value="{{form.year_of_appointment}}">
    </div>

    <div>
      <input id="time_of_appointment" class="form-field" type="time" name="time_of_appointment" value="{{form.time_of_appointment}}">
    </div>
  </div>
</div>

<!-- Additional details -->
<div class="flex-row form-row">
  <div class="form-item">
    <label class="form-item--header" for="appointment_additional_details">Enter any additional details</label>

    <textarea id="appointment_additional_details" class="form-field" type="text" name="appointment_additional_details">
      {{form.appointment_additional_details}}
    </textarea>
  </div>
</div>
