<div class="nhsuk-grid-row">


    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">

    </span>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-one-quarter">
                            <p>Basic details entered</p>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter">
                            <p>Additional details entered</p>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter">
                            <p>Scrutiny complete</p>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter">
                            <p>Case items complete</p>
                        </div>

                    </div>
                </summary>
            </details>
        </div>


    </div>


    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
            <p>{{ case_status.basic_details_entered }}</p>
            <p>{{ case_status.name_entered }}</p>
            <p>{{ case_status.dob_entered }}</p>
            <p>{{ case_status.dod_entered }}</p>
        </div>

        <div class="nhsuk-grid-column-one-quarter">
            <p>nhsuk-grid-column-one-quarter</p>
        </div>

        <div class="nhsuk-grid-column-one-quarter">
            <p>nhsuk-grid-column-one-quarter</p>
        </div>

        <div class="nhsuk-grid-column-one-quarter">
            <p>nhsuk-grid-column-one-quarter</p>
        </div>

    </div>

