{% load staticfiles %}

<div class="case-header">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <h1 class="patient-name">
                {{patient.full_name}}
            </h1>
            <h2 class="nhs-number">
                NHS No. {{patient.nhs_number}}
            </h2>
        </div>
            <div class="nhsuk-grid-column-one-half">
            <p class="case-settings-link"><a href="{% if 'case-breakdown' in request.path %}Case settings{% endif %}">Case settings
            </a></p>
        </div>
    </div>
</div>
