{% load staticfiles %}

<div class="nhsuk-grid-row mobile-hidden" id="case-status-bar">

    <div class="nhsuk-grid-column-full padding-left">

        <details class="nhsuk-details nhsuk-expander">

            <summary class="nhsuk-details__summary status-padding">

                <div class="nhsuk-grid-row">

                    <div class="nhsuk-grid-column-one-quarter small-font">

                        <div>
                            {% if case_status.basic_details_entered == enums.case_status_bar_result.COMPLETE %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--tick" automation-id='status-bar__basic-details' src="{% static 'images/icon-tick.svg' %}" alt="">

                            {% elif case_status.basic_details_entered == enums.case_status_bar_result.UNKNOWN %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--unknown icon-align" automation-id='status-bar__basic-details' src="{% static 'images/Unknown.svg' %}" alt="">

                            {% elif case_status.basic_details_entered == enums.case_status_bar_result.INCOMPLETE %}
                                <svg class="nhsuk-icon case-status-icon case-status-icon--cross" automation-id='status-bar__basic-details' fill="#da291c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" aria-hidden="true">
                                    <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                                    <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                                </svg>

                            {% endif %}
                            <span>Basic details</span>
                            <img class="nhsuk-icon nhsuk-icon__arrow-right vertical-align float-right" src="{% static 'images/icon-arrow-right.svg' %}" alt="">
                        </div>

                        {% include 'examinations/partials/_status_expander.html' %}
                    </div>

                    <div class="nhsuk-grid-column-one-quarter small-font">

                        <div>
                            {% if case_status.additional_details_entered == enums.case_status_bar_result.COMPLETE %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--tick" automation-id='status-bar__additional-details' src="{% static 'images/icon-tick.svg' %}" alt="">

                            {% elif case_status.additional_details_entered == enums.case_status_bar_result.UNKNOWN %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--unknown icon-align" automation-id='status-bar__additional-details' src="{% static 'images/Unknown.svg' %}" alt="">

                            {% elif case_status.additional_details_entered == enums.case_status_bar_result.INCOMPLETE %}
                                <svg class="nhsuk-icon case-status-icon case-status-icon--cross" automation-id='status-bar__additional-details' fill="#da291c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" aria-hidden="true">
                                    <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                                    <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                                </svg>

                            {% endif %}
                            <span>Additional details</span>
                            <img class="nhsuk-icon nhsuk-icon__arrow-right vertical-align float-right" src="{% static 'images/icon-arrow-right.svg' %}" alt="">
                        </div>

                        {% include 'examinations/partials/_status_expander.html' %}
                    </div>

                    <div class="nhsuk-grid-column-one-quarter small-font">

                        <div>
                            {% if case_status.is_scrutiny_completed == enums.case_status_bar_result.COMPLETE %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--tick" automation-id='status-bar__scrutiny-complete' src="{% static 'images/icon-tick.svg' %}" alt="">

                            {% elif case_status.is_scrutiny_completed == enums.case_status_bar_result.UNKNOWN %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--unknown icon-align" automation-id='status-bar__scrutiny-complete' src="{% static 'images/Unknown.svg' %}" alt="">

                            {% elif case_status.is_scrutiny_completed == enums.case_status_bar_result.INCOMPLETE %}
                                <svg class="nhsuk-icon case-status-icon case-status-icon--cross" automation-id='status-bar__scrutiny-complete' fill="#da291c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" aria-hidden="true">
                                 <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                                 <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                             </svg>

                            {% endif %}
                            <span>Scrutiny</span>
                            <img class="nhsuk-icon nhsuk-icon__arrow-right vertical-align float-right" src="{% static 'images/icon-arrow-right.svg' %}" alt="">
                        </div>

                        {% include 'examinations/partials/_status_expander.html' %}
                    </div>

                    <div class="nhsuk-grid-column-one-quarter small-font">

                        <div>
                            {% if case_status.is_case_items_completed == enums.case_status_bar_result.COMPLETE %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--tick" src="{% static 'images/icon-tick.svg' %}" alt="" automation-id='status-bar__final-actions'>

                            {% elif case_status.is_case_items_completed == enums.case_status_bar_result.UNKNOWN %}
                                <img class="nhsuk-icon case-status-icon case-status-icon--unknown icon-align" automation-id='status-bar__final-actions' src="{% static 'images/Unknown.svg' %}" alt="">Final actions

                            {% elif case_status.is_case_items_completed == enums.case_status_bar_result.INCOMPLETE %}
                                 <svg class="nhsuk-icon case-status-icon case-status-icon--cross" automation-id='status-bar__final-actions' fill="#da291c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" aria-hidden="true">
                                     <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                                     <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                                 </svg>

                            {% endif %}
                            <span>Final actions</span>
                        </div>

                        {% include 'examinations/partials/_status_expander.html' %}
                    </div>
                </div>
            </summary>

            <div class="nhsuk-grid-row">

                <div class="nhsuk-grid-column-one-quarter margin-bottom small-font">
                    {% include 'examinations/partials/_status_item.html' with label="Name" status=case_status.name_entered automation_id='status-bar__name' aria_desc="Basic details" %}
                    {% include 'examinations/partials/_status_item.html' with label="D.O.B" status=case_status.dob_entered automation_id="status-bar__dob" aria_desc="Basic details" %}
                    {% include 'examinations/partials/_status_item.html' with label="D.O.D" status=case_status.dod_entered automation_id="status-bar__dod" aria_desc="Basic details" %}
                    {% include 'examinations/partials/_status_item.html' with label="NHS Number" status=case_status.nhs_number_entered automation_id="status-bar__nhs-number" aria_desc="Basic details" %}
                </div>

                <div class="nhsuk-grid-column-one-quarter margin-bottom small-font">

                    {% include 'examinations/partials/_status_item.html' with label="Latest admission details" status=case_status.latest_admission_details_entered automation_id="status-bar__latest-admission" aria_desc="Additional details" %}
                    {% include 'examinations/partials/_status_item.html' with label="Doctor in charge of care" status=case_status.doctor_in_charge_entered automation_id="status-bar__doctor-in-charge" aria_desc="Additional details" %}
                    {% include 'examinations/partials/_status_item.html' with label="QAP information" status=case_status.qap_entered automation_id="status-bar__qap" aria_desc="Additional details" %}
                    {% include 'examinations/partials/_status_item.html' with label="QAP's original COD" status=case_status.qap_cod_entered automation_id="status-bar__qap__cod" aria_desc="Original Cause of Death" %}
                    {% include 'examinations/partials/_status_item.html' with label="Representative information" status=case_status.bereaved_info_entered automation_id="status-bar__bereaved" aria_desc="Additional details" %}
                    {% include 'examinations/partials/_status_item.html' with label="ME assigned" status=case_status.me_assigned automation_id="status-bar__me-assigned" aria_desc="Additional details" %}
                </div>

                <div class="nhsuk-grid-column-one-quarter margin-bottom small-font">
                    {% include 'examinations/partials/_status_item.html' with label="ME review of records" status=case_status.pre_scrutiny_event_entered automation_id="status-bar__me-ror-complete" aria_desc="Scrutiny" %}
                    {% include 'examinations/partials/_status_item.html' with label="QAP discussion" status=case_status.qap_discussion_event_entered automation_id="status-bar__qap-discussion-complete" aria_desc="Scrutiny" %}
                    {% include 'examinations/partials/_status_item.html' with label="Representative discussion" status=case_status.bereaved_discussion_event_entered automation_id="status-bar__bereaved-discussion-complete" aria_desc="Scrutiny" %}
                    {% include 'examinations/partials/_status_item.html' with label="Scrutiny confirmed" status=case_status.me_scrutiny_confirmed automation_id="status-bar__scrutiny-confirmed-complete" aria_desc="Scrutiny" %}
                </div>

                <div class="nhsuk-grid-column-one-quarter margin-bottom small-font">
                    {% include 'examinations/partials/_status_item.html' with label="Medical Certificate of Cause of Death issued" status=case_status.mccd_issued automation_id="status-bar__mccd-issued" aria_desc="Final actions" %}
                    {% include 'examinations/partials/_status_item.html' with label="Cremation form information" status=case_status.cremation_form_info_entered automation_id="status-bar__cremation-form" aria_desc="Final actions" %}
                    {% include 'examinations/partials/_status_item.html' with label="GP notified" status=case_status.gp_notified automation_id="status-bar__gp-notified" aria_desc="Final actions" %}
                    {% include 'examinations/partials/_status_item.html' with label="Sent to coroner" status=case_status.sent_to_coroner automation_id="status-bar__sent-to-coroner" aria_desc="Final actions" %}
                    {% include 'examinations/partials/_status_item.html' with label="Case closed" status=case_status.case_closed automation_id="status-bar__case_closed" aria_desc="Final actions" %}
                </div>
            </div>
        </details>
    </div>
</div>
