{% load examination_filters %}
{% with card=case|case_card_presenter %}
<div id="case-{{ case.id }}" class="case-card">
    <div class="case-card-header {% if case.urgent %}urgent{% elif case.void %}void{% endif %}">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <h3 class="patient-name">
                    <span class="hidden-content-for-screen-reader">Case information for</span> {{ card.full_name }}
                </h3>
            </div>

            <div class="nhsuk-grid-column-one-third">
                <p class="dates">
                    {{ card.banner_dob }} - {{ card.banner_dod }}
                </p>
                <p class="no-dates">&nbsp;</p>
            </div>

            <div class="nhsuk-grid-column-one-third">
                <div class="controls flex-row">
                    {% if card.urgent %}
                        <p class="urgent-flag">URGENT</p>
                    {% elif card.void %}
                        <p class="void-flag">VOID</p>
                    {% endif %}

                    <a class="view-btn" href="{% url 'edit_examination' examination_id=card.id %}">View Case</a>

                    <button class="chevron-down">
                        <span class="hidden-content-for-screen-reader">Expand Case</span>
                    </button>

                    <button class="chevron-up">
                        <span class="hidden-content-for-screen-reader">Collapse Case</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="case-card-body">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full block-header">
                        <p class="nhsuk-body {% if card.urgent %}urgent{% endif %}">Patient information</p>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="info-line">D.O.B. <span class="heavy-text">{{ card.card_dob }}</span></div>
                        <div class="info-line">D.O.D. <span class="heavy-text">{{ card.card_dod }}</span></div>
                        <div class="info-line">T.O.D. <span class="heavy-text">{{ card.card_tod }}</span></div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        {% if card.has_last_admission %}
                            <div class="info-line">Last admission <span
                                    class="heavy-text">{{ card.last_admission_days_ago }}</span> days ago
                            </div>
                        {% else %}
                             <div class="info-line">Last admission <span
                                    class="heavy-text">-</span>
                            </div>
                        {% endif %}
                        <div class="info-line">NHS no. <span class="heavy-text">{{ card.nhs_number }}</span></div>
                        <div class="info-line">Age <span class="heavy-text">{{ card.age }}</span></div>
                    </div>
                </div>
            </div>
            {% if not closed_list %}
                <div class="nhsuk-grid-column-one-third">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full block-header">
                            <p class="nhsuk-body {% if card.urgent %}urgent{% endif %}">Case information</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full block-with-border">
                            <div class="info-line">Appointment date <span
                                    class="heavy-text">{{ card.appointment_date }}</span></div>
                            <div class="info-line">Appointment time <span
                                    class="heavy-text">{{ card.appointment_time }}</span></div>
                            <div class="info-line">Case created <span
                                    class="heavy-text">{{ card.created_days_ago }}</span> days ago
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="nhsuk-grid-column-one-third">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full block-header">
                            <p class="nhsuk-body {% if card.urgent %}urgent{% endif %}">Case information</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full block-with-border">
                            <div class="info-line">Case created <span
                                    class="heavy-text">{{ card.case_created_date }}</span></div>
                            <div class="info-line">Case outcome <span
                                    class="heavy-text">{{ card.case_outcome }}</span></div>
                            <div class="info-line">Case closed <span
                                    class="heavy-text">{{ card.case_closed_date }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>

{% endwith %}
