<div id="case-{{case.id}}" class="case-card{% if case.urgent %} urgent{% endif %}">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <p class="patient-name">
        {{case.given_names}} {{case.surname}}
      </p>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <p class="dates">
        {{case.display_dob}} - {{case.display_dod}}
      </p>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <div class="controls flex-row">
        {% if case.urgent %}
          <p class="urgent-flag">
            Urgent
          </p>
        {% endif %}

        <a class="view-btn" href="/cases/{{case.id}}">View Case</a>

        <div class="chevron-down">
        </div>

        <div class="chevron-up">
        </div>
      </div>
    </div>
  </div>


</div>
<div class="case-card-expanded {% if case.urgent %}urgent{% endif %}">
        <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="patient-name">
        {{case.given_names}} {{case.surname}}
      </p>
    </div>

    <div class="nhsuk-grid-column-one-third">
    </div>

    <div class="nhsuk-grid-column-one-third">
      <div class="controls flex-row">
        {% if case.urgent %}
          <p class="urgent-flag">
            Urgent
          </p>
        {% endif %}

        <a class="view-btn" href="/cases/{{case.id}}">View Case</a>

        <div class="chevron-down">
        </div>

        <div class="chevron-up">
        </div>
      </div>
    </div>
  </div>
    </div>