<div class="form-section">
  <h3>
    Patient Details
  </h3>

  <h4>
    Primary information
  </h4>

  {% include 'examinations/partials/patient_details/_primary_information.html' with form=primary_info_form errors=primary_info_form.errors %}
</div>


<div class="form-section background-grey">
  <h4>
    Secondary information
  </h4>

  {% include 'examinations/partials/patient_details/_secondary_information.html' with form=secondary_info_form errors=secondary_info_form.errors %}
</div>

<div class="form-section">
  <h4>
    Bereaved or representative information
  </h4>

  {% include 'examinations/partials/patient_details/_bereaved_information.html' with form=bereaved_info_form errors=bereaved_info_form.errors %}
</div>

<div class="form-section background-grey">
  <h4>
    Request for rapid release
  </h4>

  {% include 'examinations/partials/patient_details/_urgency_information.html' with form=urgency_info_form errors=urgency_info_form.errors %}
</div>
