<div class="form-section">
  <h3>
    Patient Details
  </h3>

  <h4>
    Primary information
  </h4>

  {% include 'examinations/partials/_primary_information.html' with form=primary_info_form %}
</div>


<div class="form-section">
  <h4>
    Secondary information
  </h4>

  {% include 'examinations/partials/_secondary_information.html' with form=secondary_info_form %}
</div>

<div class="form-section">
  <h4>
    Bereaved or representative information
  </h4>

  {% include 'examinations/partials/_bereaved_information.html' with form=bereaved_info_form %}
</div>

<div class="form-section">
  <h4>
    Request for rapid release
  </h4>

  {% include 'examinations/partials/_urgency_information.html' with form=urgency_info_form %}
</div>
