{% load staticfiles %}

<div aria-describedby="{{ aria_desc }}">
   {% if status == enums.case_status_bar_result.COMPLETE or status == True %}
      <img class="nhsuk-icon case-status-icon case-status-icon--tick" src="{% static 'images/icon-tick.svg' %}" alt="" automation-id="{{ automation_id }}">

   {% elif status == enums.case_status_bar_result.INCOMPLETE or status == False %}
      <img class="nhsuk-icon case-status-icon case-status-icon--cross" src="{% static 'images/icon-cross.svg' %}" alt="" automation-id="{{ automation_id }}">

   {% elif status == enums.case_status_bar_result.NOT_APPLICABLE  %}
      <img class="nhsuk-icon case-status-icon case-status-icon--dash" src="{% static 'images/minus.svg' %}" alt="" automation-id="{{ automation_id }}">

   {% elif status == enums.case_status_bar_result.UNKNOWN  %}
      <img class="nhsuk-icon case-status-icon case-status-icon--unknown question-align" src="{% static 'images/Unknown.svg' %}" alt="" automation-id="{{ automation_id }}">

   {% endif %}
   <span>{{ label }}</span>
</div>






