@import '../variables';

.error-page {
  margin-top: 50px;
  margin-bottom: 100px;

  .error-type {
    font-size: 150px;
    line-height: 1em;

    color: $nhs-blue;

    margin-bottom: 0.66em;
  }

  .error-message {
    font-size: $nhs-heading-m-line-height;
    line-height: $nhs-heading-m-line-height;
    color: $nhs-blue;
  }
}

html, body {
  background-color: $white;
}

@media (min-height: 650px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.error-stack {
    background-color: lightgoldenrodyellow;
    padding: 2rem;
    word-wrap: break-word;

    .debug-message {
        font-style: italic;
    }

    h1 {
        font-size: 40px;
    }
}
