{% load staticfiles %}

<div class="footer">
  <div class="container">
    <div class="flex-row vertical-bottom">
      <div class="disclaimer">
        <img class="licence" src="{% static 'images/gov_licence.png' %}" alt="">
        All content is available under the Open Government Licence v3.0, except where otherwise stated
      </div>
      
      <div class="logo">
        <img src="{% static 'images/gov_crest.png' %}" alt="">
        <p>© Crown copyright</p>
      </div>
    </div>
  </div>
</div>