<div class="content">
    <div {% if card_content.discussion_unable_happen == enums.true_false.FALSE %} class="nhsuk-u-visually-hidden" {% endif %}>
        <div class="bereaved-discussion">
            <strong>
                Outcomes of discussion
            </strong>
            <p>
                Discussion with representative unable to happen

            </p>
        </div>
    </div>

    <div {% if card_content.discussion_unable_happen == enums.true_false.TRUE %} class="nhsuk-u-visually-hidden" {% endif %}>
        <div class="hideable-content">
            <div class="bereaved-discussion">
                <strong>
                    Information relating to discussion with representative
                </strong>
                <p>
                    Name - {{ card_content.participant_full_name }}
                </p>
                <p>
                    Relationship - {{ card_content.participant_relationship }}
                </p>
                <p>
                    Date and time of conversation - {{ card_content.date_of_conversation }}
                </p>
            </div>
            <strong>
                Details of discussion with representative
            </strong>
            <p>
                {{ card_content.discussion_details }}
            </p>

        </div>

        <strong>
            Outcome of discussion
        </strong>
        <p>
            {{ card_content.display_bereaved_discussion_outcome }}
        </p>
    </div>
</div>
