<div class="content">
    <div class="hideable-content">
        <div  class="qap-details">
            <label>
                Information relating to QAP discussion
            </label>
            <p>
                Name - <i>Name to come</i>
            </p>
            <p>
                Role - {{card_content.participant_role}}
            </p>
            <p>
                Date of conversation - {{card_content.conversation_display_date}}
            </p>
            <p>
                Time of conversation - {{card_content.conversation_display_time}}
            </p>
        </div>

        <label>
            Details of discussion with QAP and ME
        </label>
        <p>
            {{card_content.discussion_details}}
        </p>
    </div>

    <label>
        Outcomes of discussion
    </label>
    <p>
        {{ card_content.display_qap_discussion_outcome }}
    </p>

    <div class="hideable-content">
        <label>
            What was decided about the cause of death
        </label>
        <p>
            <i>Content to come</i>
        </p>

        <label>
            Revised cause of death agreed
        </label>
        <p>
            <i>Content to come</i>
        </p>
    </div>
</div>