<div class="content">

    <div  {% if card_content.discussion_unable_happen == False %} class="nhsuk-u-visually-hidden" {% endif %}>
        <div class="qap-details">
                <label>
                    Outcomes of discussion
                </label>
                <p>
                    Discussion with QAP was unable to happen
                </p>
            </div>
    </div>
    <div {% if card_content.discussion_unable_happen == True %} class="nhsuk-u-visually-hidden" {% endif %}>
        <div class="hideable-content">
            <div class="qap-details">
                <label>
                    Information relating to QAP discussion
                </label>
                <p>
                    Name - {{ card_content.participant_full_name }}
                </p>
                <p>
                    Role - {{ card_content.participant_role }}
                </p>
                <p>
                    Date of conversation - {{ card_content.conversation_display_date }}
                </p>
                <p>
                    Time of conversation - {{ card_content.conversation_display_time }}
                </p>
            </div>

            <label>
                Details of discussion with QAP and ME
            </label>
            <p>
                {{ card_content.discussion_details }}
            </p>
        </div>

        <label>
            Outcomes of discussion
        </label>
        <p>
            {{ card_content.display_qap_discussion_high_outcome }}
        </p>

        <div class="hideable-content {% if card_content.hide_mccd_section %}nhsuk-u-visually-hidden{% endif %}">
            <label>
                What was decided about the cause of death
            </label>
            <p>
                {{ card_content.display_qap_discussion_mccd_outcome }}
            </p>

            <div {% if card_content.hide_new_cause_of_death_section %}class="nhsuk-u-visually-hidden"{% endif %}>
                <label>
                    Revised cause of death agreed
                </label>
                <ul class="cause-of-death-list">
                    {% if card_content.cause_of_death_1a %}
                        <li>1a - {{ card_content.cause_of_death_1a }}</li>
                    {% endif %}

                    {% if card_content.cause_of_death_1b %}
                        <li>1b - {{ card_content.cause_of_death_1b }}</li>
                    {% endif %}

                    {% if card_content.cause_of_death_1c %}
                        <li>1c - {{ card_content.cause_of_death_1c }}</li>
                    {% endif %}

                    {% if card_content.cause_of_death_2 %}
                        <li>2 - {{ card_content.cause_of_death_2 }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>