<div class="form-section">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full"><h2 class="nhsuk-heading-xl medex-tab-header">Medical team</h2></div>
    </div>

    <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <legend class="nhsuk-heading-l">Doctors information</legend>
        </div>
    </div>

    <div class="medex-form-section medex-form-section--first">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <div class="nhsuk-form-group--field-indicator {% if errors.consultant_1 %}nhsuk-form-group--error{% endif %}">
                    <label class="nhsuk-label" for="consultant_name_1" id="consultant_1_label">
                        Consultant / Doctor responsible for care
                    </label>
                    {% if errors.consultant_1 %}<span class="nhsuk-error-message medex-font-default-override" automation-id="ve_consultant_1_name">{{ errors.consultant_1 }}</span>{% endif %}
                    <input class="nhsuk-input nhsuk-input--width-10 {% if errors.consultant_1 %}nhsuk-input--error{% endif %}"
                            id="consultant_name_1" name="consultant_name_1" value="{{ form.consultant_1.name }}" type="text">
                    <div class="medex-field-indicator">
                        Required field
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-column-one-half">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="consultant_organisation_1">
                        Organisation
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="consultant_organisation_1" name="consultant_organisation_1"
                            value="{{ form.consultant_1.organisation }}" type="text">
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half nhsuk-u-visually-hidden">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="gmc_number_consultant_1">
                        GMC number
                    </label>
                    <input tabindex="-1" class="nhsuk-input nhsuk-input--width-10" id="gmc_number_consultant_1" name="gmc_number_consultant_1"
                            value="{{form.consultant_1.gmc_number}}" type="text">
                </div>
            </div>
            <div class="nhsuk-grid-column-full additional-notes" id="additional-notes__consultant-1">
                <button class="medex-hyperlink-button additional-notes-button" id="consultant-note-1__btn" {% if disabled %}disabled{% endif %}>Add a note</button>
                <div class="nhsuk-form-group medex-hidden additional-notes-panel" id="consultant-note-1__panel">
                    <label class="nhsuk-label" for="consultant-note-1">
                        Additional notes
                    </label>
                    <textarea class="nhsuk-textarea medex-textarea"
                                id="consultant-note-1" name="consultant_note_1"
                                rows="3">{{ form.consultant_1.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="add-remove-panel-section">

        <input id="consultant-count" type="hidden" value="{{ form.consultant_count }} "/>

        <div class="medex-form-section add-remove-panel">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group {% if errors.consultant_2 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="consultant_name_2">
                            Second doctor responsible for care
                        </label>
                        {% if errors.consultant_2 %}
                        <span
                                class="nhsuk-error-message medex-font-default-override">{{ errors.consultant_2 }}</span>{% endif %}
                        <input
                                class="nhsuk-input add-panel-focus-1 nhsuk-input--width-10 {% if errors.consultant_2 %}nhsuk-input--error{% endif %}"
                                id="consultant_name_2" name="consultant_name_2"
                                value="{{ form.consultant_2.name }}" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="consultant_organisation_2">
                            Organisation
                        </label>

                        <input class="nhsuk-input nhsuk-input--width-10" id="consultant_organisation_2" name="consultant_organisation_2"
                                value="{{ form.consultant_2.organisation}}" type="text">
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half nhsuk-u-visually-hidden">
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="gmc_number_consultant_2">
                            GMC number
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="gmc_number_consultant_2" name="gmc_number_consultant_2"
                                value="{{form.consultant_2.gmc_number}}" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-full additional-notes" id="additional-notes__consultant-2">
                    <button class="medex-hyperlink-button additional-notes-button" {% if disabled %}disabled{% endif %}>Add a note</button>
                    <div class="nhsuk-form-group medex-hidden additional-notes-panel">
                            <label class="nhsuk-label" for="consultant_note_2">
                                Additional notes
                            </label>
                            <textarea class="nhsuk-textarea medex-textarea"
                                      id="consultant_note_2" name="consultant_note_2" rows="3">{{ form.consultant_2.notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="medex-form-section add-remove-panel">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group {% if errors.consultant_3 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="consultant_name_3">
                            Third doctor responsible for care
                        </label>
                        <input class="nhsuk-input add-panel-focus-2 nhsuk-input--width-10" id="consultant_name_3" name="consultant_name_3"
                                value="{{ form.consultant_3.name }}" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group {% if errors.consultant_organisation_3 %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="consultant_organisation_3">
                            Organisation
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="consultant_organisation_3" name="consultant_organisation_3"
                                value="{{ form.consultant_3.organisation }}" type="text">
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half nhsuk-u-visually-hidden">
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="gmc_number_consultant_3">
                            GMC number
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="gmc_number_consultant_3" name="gmc_number_consultant_3"
                                value="{{form.consultant_3.gmc_number}}" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-full additional-notes" id="additional-notes__consultant-3">
                    <button class="medex-hyperlink-button additional-notes-button"  {% if disabled %}disabled{% endif %}>Add a note</button>
                    <div class="nhsuk-form-group medex-hidden additional-notes-panel">
                        <label class="nhsuk-label" for="consultant-note-3">
                            Additional notes
                        </label>
                        <textarea class="nhsuk-textarea medex-textarea" id="consultant-note-3" name="consultant_note_3"
                                  rows="3">{{form.consultant_3.notes}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <button class="nhsuk-button add-panel-button expanded-margin" type="submit"  {% if disabled %}disabled{% endif %}>
                    Add another
                </button>
                <button class="nhsuk-button nhsuk-button--secondary remove-panel-button medex-hidden" type="submit"  {% if disabled %}disabled{% endif %}>
                    Remove doctor above
                </button>
            </div>
        </div>
    </div>

    </fieldset>
</div>


