<div class="form-section large-bottom-margin" id="examination__examination-team-section">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h3 class="nhsuk-heading-m">Medical examiner team</h3>
            <p class="nhs-body-s hint-text">The team assigned to work on this case</p>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group {% if errors.medical_examiners_officer %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="medical_examiners_officer">
                            MEO assigned to case
                        </label>
                        {% if errors.medical_examiners_officer %}<span
                                class="nhsuk-error-message medex-font-default-override">{{ errors.medical_examiners_officer }}</span>{% endif %}
                        <select class="nhsuk-select medex-select" id="medical_examiners_officer"
                                name="medical_examiners_officer">
                            <option value="" disabled hidden selected>Please select</option>
                            {% for meo in medical_examiners_officers %}
                                <option value={{ meo.user_id }} {% if meo.user_id == form.medical_examiners_officer %}selected{% endif %}>{{ meo.display_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group {% if errors.medical_examiner %}nhsuk-form-group--error{% endif %}">
                        <label class="nhsuk-label" for="medical_examiner">
                            ME assigned to case
                        </label>
                        {% if errors.medical_examiner %}
                            <span class="nhsuk-error-message medex-font-default-override">{{ errors.medical_examiner }}</span>{% endif %}
                        <select class="nhsuk-select medex-select" id="medical_examiner" name="medical_examiner"
                                value="{{ form.medical_examiner }}">
                            <option value="" disabled hidden selected>Please select</option>
                            {% for me in medical_examiners %}
                                <option
                                        value={{ me.user_id }} {% if me.user_id == form.medical_examiner %}selected{% endif %}>{{ me.display_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <p class="nhsuk-hint">An ME should only be assigned once the case is ready for them and the Latest
                        admission notes have been added to the Case breakdown.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="confirm-section" class="nhsuk-u-visually-hidden">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <p id="confirm-message" class="nhsuk-label">Are you sure you would like to assign Dr Tia Sanchez
                    to this case?</p>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-radios__item nhsuk-u-width-one-quarter">
                        <input class="nhsuk-radios__input"
                               id="confirm-yes" name="confirm" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="confirm-1">
                            Yes
                        </label>
                    </div>
                    <div class="nhsuk-radios__item nhsuk-u-width-one-quarter">
                        <input class="nhsuk-radios__input"
                               id="confirm-no" name="confirm" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="confirm-2">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <button id="assign-team-btn" class="nhsuk-button nhsuk-button--disabled" type="submit">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>