<div class="form-section">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-heading-m">
                    Nursing team information
                </legend>
                <p class="nhsuk-body-m">Add any relevant information about the nursing team involved in care</p>
                <div class="nhsuk-form-group {% if errors.nursing_team_information %}nhsuk-form-group--error{% endif %}">
                    {% if errors.nursing_team_information %}
                    <span class="nhsuk-error-message medex-font-default-override">{{ errors.nursing_team_information }}</span>{% endif %}
                    <textarea class="nhsuk-textarea medex-textarea"
                              id="nursing_team_information" name="nursing_team_information" rows="3" aria-label="nursing-team-information">{{ form.nursing_team_information  }}</textarea>
                </div>
            </fieldset>
        </div>
    </div>
</div>
