<div class="form-section">
    <div class="nhsuk-grid-row">
        <fieldset class="nhsuk-fieldset" {% if disabled %}disabled{% endif %}>
            <div class="nhsuk-grid-column-full">
                <legend class="nhsuk-heading-l">QAP information</legend>
                <p class="nhsuk-body-m longtext">Enter the details of the Qualified Attending Practitioner (attending doctor) writing the Medical Certificate of Cause of Death</p>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group {% if errors.qap %}nhsuk-form-group--error{% endif %}">
                            <label class="nhsuk-label" for="qap_name">
                                Full name
                            </label>
                            {% if errors.qap %}
                            <span
                                    class="nhsuk-error-message medex-font-default-override">{{ errors.qap }}</span>{% endif %}
                            <input
                                    class="nhsuk-input nhsuk-input--width-10 {% if errors.qap %}nhsuk-input--error{% endif %}"
                                    id="qap_name" name="qap_name"
                                    value="{{ form.qap.name }}" type="text">
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="qap_role">
                                Role
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="qap_role" name="qap_role"
                                value="{{ form.qap.role }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group {% if errors.qap_organisation %}nhsuk-form-group--error{% endif %}">
                            <label class="nhsuk-label" for="qap_organisation">
                                Organisation
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="qap_organisation"
                                name="qap_organisation"
                                value="{{ form.qap.organisation }}" type="text">
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="qap_phone_number">
                                Personal phone / bleep number
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="qap_phone_number"
                                name="qap_phone_number" value="{{ form.qap.phone_number }}" type="text">
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="gmc_number_qap">
                                GMC number
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="gmc_number_qap"
                                name="gmc_number_qap"
                                value="{{form.qap.gmc_number}}" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="nhsuk-grid-row">
        &nbsp;
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-form-group {% if form.errors.1a %}nhsuk-form-group--error{% endif %}">
                <h3 class="nhsuk-heading-l">QAP's original cause of death</h3>
                <p class="nhsuk-body-m longtext">Please add if the QAP has provided an original cause of death independent from the Medical Examiner</p>
                <div>
                    <label class="nhsuk-label" for="qap_cod_1a">
                        1a
                    </label>
                    <textarea id="qap_cod_1a" class="nhsuk-textarea medex-textarea" name="qap_cod_1a"
                                rows="2">{{ form.qap.cod_1a }}</textarea>
                </div>
                <div>
                    <label class="nhsuk-label" for="qap_cod_1b">
                        1b
                    </label>
                    <textarea id="qap_cod_1b" class="nhsuk-textarea medex-textarea" name="qap_cod_1b"
                                rows="2">{{ form.qap.cod_1b }}</textarea>
                </div>
                <div>
                    <label class="nhsuk-label" for="qap_cod_1c">
                        1c
                    </label>
                    <textarea id="qap_cod_1c" class="nhsuk-textarea medex-textarea" name="qap_cod_1c"
                                rows="2">{{ form.qap.cod_1c }}</textarea>
                </div>
                <div>
                    <label class="nhsuk-label" for="qap_cod_2">
                        2
                    </label>
                    <textarea id="qap_cod_2" class="nhsuk-textarea medex-textarea" name="qap_cod_2"
                                rows="2">{{ form.qap.cod_2 }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>